<p-toast #toast position="bottom-center"></p-toast>
<div class="flex justify-content-between align-items-center flex-wrap mr-4 mb-4">
    <h1>
        {{
            isEcoMindAi()
                ? ("eco-mind-ai.title" | translate: { WorkspaceName: selectedWorkspace })
                : ("digital-services.title"
                  | translate: { WorkspaceName: selectedWorkspace })
        }}
    </h1>
    @if (
        ((userService.isAllowedDigitalServiceWrite$ | async) && !isEcoMindAi()) ||
        ((userService.isAllowedEcoMindAiWrite$ | async) && isEcoMindAi())
    ) {
        <p-button
            #addButton
            styleClass="black-button matomo-add-digital-service"
            (onClick)="openNewDsDrawer($event); newDsSidebarVisible = true"
            id="add-digital"
        >
            {{
                isEcoMindAi()
                    ? ("eco-mind-ai.add" | translate)
                    : ("digital-services.add" | translate)
            }}
        </p-button>
    }
</div>
<p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 260px)' }">
    <ul>
        @for (digitalService of paginatedDigitalServices; track $index) {
            <li>
                <app-digital-services-item
                    [isAi]="isEcoMindAi()"
                    [digitalService]="digitalService"
                    (deleteUid)="itemDelete($event)"
                    (renewInventoryId)="
                        digitalServiceUid = $event; displayRenewServicePopup = true
                    "
                >
                </app-digital-services-item>
            </li>
        }
    </ul>
</p-scrollPanel>
@if (paginatedDigitalServices.length) {
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rowsPerPage"
        [totalRecords]="allDigitalServices.length"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
    />
}

@if (newDsSidebarVisible) {
    <p-drawer
        [(visible)]="newDsSidebarVisible"
        position="right"
        styleClass="w-10"
        [showCloseIcon]="true"
        appendTo="body"
        (onHide)="focusNewDsButton(); newDsSidebarVisible = false"
        ariaCloseLabel="Close"
    >
        <ng-template #headless>
            <app-create-digital-services-sidebar
                [allDigitalServices]="allDigitalServices"
                (sidebarVisibleChange)="focusNewDsButton(); newDsSidebarVisible = $event"
                (submitCreateDsForm)="createNewDigitalServices($event)"
                [isEcoMindAi]="isEcoMindAi()"
            />
        </ng-template>
    </p-drawer>
}

<!-- Renew Popup -->
@if (displayRenewServicePopup && digitalServiceUid) {
    <app-renew-service-popup
        [displayPopup]="displayRenewServicePopup"
        [serviceId]="digitalServiceUid"
        (outClose)="displayRenewServicePopup = false"
        (outExtended)="retrieveDigitalServices()"
    >
    </app-renew-service-popup>
}
