<div
    #button
    class="main-button-org-menu"
    *ngIf="selectedOrganization"
    [style.backgroundColor]="selectedOrganization.color"
    [style.color]="chooseTextContrast(selectedOrganization.color)"
    (click)="toggleMenu()"
    (keydown.enter)="toggleMenu()"
    tabindex="0"
    role="button"
    [attr.aria-label]="'common.organization-management' | translate"
>
    {{ selectedOrganization!.name.charAt(0) }}
</div>
<div
    #menu
    class="org-menu"
    [ngClass]="{ 'menu-visible': isMenuVisible }"
    *ngIf="selectedOrganization"
>
    <ul
        class="org-menu-list"
        tabindex="0"
        role="application"
        [attr.aria-label]="
            ('common.list-of' | translate) +
            organizations.length +
            ('common.organizations' | translate) +
            selectedOrganization!.name +
            ' ' +
            ('common.selected' | translate)
        "
    >
        <li *ngFor="let org of organizations">
            <a
                (click)="selectCompany(org)"
                (keydown.enter)="selectCompany(org)"
                role="link"
                tabindex="0"
                *ngIf="org"
                [attr.aria-label]="
                    ('common.change-organization' | translate) +
                    org.organization!.name +
                    ' ' +
                    org.subscriber!.name
                "
            >
                <div
                    class="icon-org-menu"
                    [style.backgroundColor]="org.color"
                    [style.color]="chooseTextContrast(org.color)"
                >
                    {{ org.organization!.name.charAt(0) }}
                </div>
                <span>
                    {{ org.organization!.name }} ({{ org.subscriber!.name }})
                    <i
                        *ngIf="
                            org.organization!.name == selectedOrganization!.name &&
                            org.subscriber!.name == selectedOrganization!.subscriber!.name
                        "
                        class="pi pi-check"
                        style="
                            font-size: 1rem;
                            color: var(--tertiary-color);
                            margin-left: 10px;
                        "
                    ></i>
                </span>
            </a>
        </li>
    </ul>
</div>
