.full-screen {
    background-color: rgba(0, 0, 0, 0.4);
}

.spinner-overlay {
    transform: translate(-50%, -50%);
}

.ball-pulse,
.ball-pulse > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ball-pulse {
    width: 108px;
    height: 36px;
}

.ball-pulse > div {
    display: inline-block;
    background-color: white;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 100%;
    -webkit-animation: ball-pulse 1s ease infinite;
    -o-animation: ball-pulse 1s ease infinite;
    animation: ball-pulse 1s ease infinite;
}

.ball-pulse > div:nth-child(1) {
    -webkit-animation-delay: -200ms;
    -o-animation-delay: -200ms;
    animation-delay: -200ms;
}

.ball-pulse > div:nth-child(2) {
    -webkit-animation-delay: -100ms;
    -o-animation-delay: -100ms;
    animation-delay: -100ms;
}

.ball-pulse > div:nth-child(3) {
    -webkit-animation-delay: 0ms;
    -o-animation-delay: 0ms;
    animation-delay: 0ms;
}

/*
 * Animation
 */
@keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    30% {
        opacity: 0.1;
        -webkit-transform: scale(0.01);
        -o-transform: scale(0.01);
        transform: scale(0.01);
    }
}
