<div class="bg-white">
    <div
        class="digital-service-chart-heading-container mt-4 block lg:flex justify-content-between align-items-center bg-white px-4 pt-3 pb-0 border-round"
    >
        <h3 class="mb-0">
            @switch (chartType()) {
                @case ("bar") {
                    {{
                        barChartChild
                            ? selectedDetailName
                            : getTNSTranslation(selectedParam)
                    }}
                }
                @default {
                    {{ getCriteriaTranslation(selectedCriteria) }}
                }
            }
        </h3>
        <p-button
            #dsConfigureButton
            (onClick)="filterSidebarVisible = true"
            styleClass="p-button-secondary-blue uppercase mr-3"
            icon="pi pi-filter"
            [label]="'digital-services.configure-view' | translate"
            [ariaLabel]="'digital-services.configure-view' | translate"
        ></p-button>
    </div>
    <div class="footprint-digital-dashboard-container grid px-2 w-full">
        <div
            class="bg-white"
            [ngClass]="!isCollapsed ? 'col-12 xl:col-3' : 'col-fixed w-7rem'"
        >
            <app-impact-sidebar
                [(isCollapsed)]="isCollapsed"
                [impacts]="impacts"
                [selectedCriteria]="selectedCriteria"
                [selectedUnit]="selectedUnit"
                [entityName]="digitalService.name"
                [isAllowedWrite$]="userService.isAllowedDigitalServiceWrite$"
                [onlyOneCriteria]="onlyOneCriteria"
                (selectedCriteriaChange)="handleChartChange($event)"
                (displayPopup)="displayPopupFct()"
            ></app-impact-sidebar>
        </div>
        <div
            class="digital-service-chart-container mb-5 mt-2 bg-gray-color flex-1 min-w-0"
            [ngClass]="!isCollapsed ? 'col-12 xl:col-9' : 'col'"
        >
            <div class="bg-white m-3 pb-3">
                <ng-template [ngTemplateOutlet]="dataConsistencyRef"></ng-template>
                @switch (chartType()) {
                    @case ("bar") {
                        <div class="flex ml-1">
                            @if (barChartChild) {
                                <p-button
                                    (onClick)="barChartChild = false"
                                    styleClass="color-tertiary font-semibold p-2"
                                    [text]="true"
                                    icon="pi pi-arrow-left"
                                    [attr.aria-label]="
                                        getCriteriaTranslation(selectedCriteria) +
                                        ' / ' +
                                        getTNSTranslation(selectedParam)
                                    "
                                    [label]="
                                        getCriteriaTranslation(selectedCriteria) +
                                        ' / ' +
                                        getTNSTranslation(selectedParam)
                                    "
                                />
                            } @else {
                                <p-button
                                    (onClick)="chartType.set('pie')"
                                    styleClass="color-tertiary font-semibold p-2"
                                    [text]="true"
                                    icon="pi pi-arrow-left"
                                    [attr.aria-label]="
                                        getCriteriaTranslation(selectedCriteria)
                                    "
                                    [label]="getCriteriaTranslation(selectedCriteria)"
                                />
                            }
                        </div>
                    }
                    @case ("pie") {
                        <div class="flex ml-1">
                            @if (!onlyOneCriteria) {
                                <p-button
                                    (onClick)="
                                        chartType.set('radial');
                                        selectedCriteria = 'Global Vision'
                                    "
                                    styleClass="color-tertiary font-semibold p-2"
                                    [text]="true"
                                    icon="pi pi-arrow-left"
                                    [attr.aria-label]="
                                        'criteria-title.global-vision.title' | translate
                                    "
                                    [label]="
                                        'criteria-title.global-vision.title' | translate
                                    "
                                />
                            }
                        </div>
                    }
                }
                @if (noData) {
                    <div class="no-data-round no-data-digital-service">
                        <p class="grey-text text-round-empty">
                            {{ "common.no-data" | translate }}
                        </p>
                    </div>
                } @else {
                    @if (chartType() == "radial") {
                        <app-radial-chart
                            [globalVisionChartData]="globalVisionChartData"
                            [selectedCriteria]="selectedCriteria"
                            [showInconsitency]="showInconsitency"
                            (selectedCriteriaChange)="handleChartChange($event)"
                            [enableDataInconsistency]="
                                digitalService.enableDataInconsistency
                            "
                            [isAxisInverted]="isAxisInverted()"
                            [shouldShowStackBarChart]="shouldShowStackBarChart()"
                        ></app-radial-chart>
                        <app-inverse-axis-button
                            (inverseAxisChange)="this.isAxisInverted.set($event)"
                        ></app-inverse-axis-button>
                    }
                    @if (chartType() == "pie") {
                        <app-pie-chart
                            [globalVisionChartData]="globalVisionChartData"
                            [selectedCriteria]="selectedCriteria"
                            [showInconsitency]="showInconsitency"
                            (selectedParamChange)="selectedParam = $event"
                            (chartTypeChange)="chartType.set($event)"
                            (topPieThreeImpacts)="topPieThreeImpacts = $event"
                            [enableDataInconsistency]="
                                digitalService.enableDataInconsistency
                            "
                        ></app-pie-chart>
                    }
                    @if (chartType() == "bar") {
                        <app-bar-chart
                            [barChartChild]="barChartChild"
                            [selectedParam]="selectedParam"
                            [selectedDetailParam]="selectedDetailParam"
                            [selectedDetailName]="selectedDetailName"
                            [selectedCriteria]="selectedCriteria"
                            [networkData]="networkData()"
                            [serverData]="serverData()"
                            [cloudData]="cloudData()"
                            [terminalData]="terminalData()"
                            [enableDataInconsistency]="
                                digitalService.enableDataInconsistency
                            "
                            [showInconsitency]="showInconsitency"
                            (barChartChildChange)="barChartChild = $event"
                            (selectedDetailParamChange)="selectedDetailParam = $event"
                            (selectedDetailNameChange)="selectedDetailName = $event"
                            (barChartTopThreeImpact)="barChartTopThreeImpact = $event"
                            (barChartTopThreeResourceImpact)="
                                barChartTopThreeResourceImpact = $event
                            "
                        ></app-bar-chart>
                    }
                }
            </div>
            <app-graph-description
                [ecoMindRecomendation]="getEcoMindRecomendation()"
                [contentText]="getContentText()"
                [textDescriptionImpacts]="textDescriptionImpacts"
                [textDescriptionResourceImpacts]="textDescriptionResourceImpacts"
                [chartType]="chartType()"
                [barChartChild]="barChartChild"
                [selectedParam]="selectedParam"
                [source]="true"
                [sourceValue]="sourceValue()"
                (impactSelectedEvent)="handleImpactClick($event)"
            ></app-graph-description>
        </div>
    </div>
    <ng-template #dataConsistencyRef>
        <div
            class="ml-auto block align-items-end lg:flex flex-row justify-content-end"
            [ngClass]="
                showInconsitencyBtn && digitalService.enableDataInconsistency
                    ? 'p-3'
                    : 'p-1'
            "
        >
            @if (showInconsitencyBtn && digitalService.enableDataInconsistency) {
                <p-button
                    (onClick)="showInconsitency = !showInconsitency"
                    [rounded]="true"
                    [label]="'inventories-footprint.data-consistency' | translate"
                    [outlined]="!showInconsitency"
                    severity="danger"
                    class="ml-0 sm:ml-3"
                    [ariaLabel]="'inventories-footprint.data-consistency' | translate"
                />
            }
        </div>
    </ng-template>
    @if (displayCriteriaPopup) {
        <app-criteria-popup
            [displayPopup]="displayCriteriaPopup"
            [type]="'ds'"
            [organizationDetails]="organization"
            [workspaceDetails]="workspace"
            [ds]="digitalService"
            [selectedCriteriaIS]="selectedCriteriaPopup"
            (outSaveDS)="handleSaveDs($event)"
            (outClose)="displayCriteriaPopup = false"
        ></app-criteria-popup>
    }
</div>

@if (filterSidebarVisible) {
    <p-drawer
        [(visible)]="filterSidebarVisible"
        position="right"
        styleClass="w-5"
        appendTo="body"
    >
        <ng-template #headless>
            <app-configure-view-filters
                (filtersApplied)="handleFilters($event)"
                (sidebarVisibleChange)="
                    dsConfigureButton?.el?.nativeElement
                        ?.querySelector('button')
                        ?.focus();
                    filterSidebarVisible = $event
                "
                [enableDataInconsistency]="digitalService.enableDataInconsistency"
                [selectedUnit]="selectedUnit"
            ></app-configure-view-filters>
        </ng-template>
    </p-drawer>
}
