<div class="px-4" [class]="styleClass">
    <div
        class="side-panel-title"
        role="heading"
        aria-level="2"
        appAutofocus
        tabIndex="-1"
    >
        <i class="pi pi-clipboard text-2xl"></i>
        {{ title }}
    </div>

    <p-editor
        #editor
        required
        (keydown)="$event.stopPropagation()"
        [(ngModel)]="editorTextValue"
        name="editorTextValue"
        ngDefaultControl
        class="pEditor"
        [style]="{ height: '420px' }"
        [readonly]="!showButtons || escape"
        (keydown.escape)="escape = true"
        (keydown.enter)="escape = false"
        (click)="escape = false"
        tabindex="0"
    >
        <p-header [hidden]="escape">
            <span class="ql-formats">
                <select class="ql-header" tabindex="-1">
                    <option value="1" tabindex="-1">
                        {{ "common.heading" | translate }}
                    </option>
                    <option value="2" tabindex="-1">
                        {{ "common.subheading" | translate }}
                    </option>
                    <option selected tabindex="-1">
                        {{ "common.normal" | translate }}
                    </option>
                </select>
            </span>
            <span class="ql-formats">
                <select title="Font Size" class="ql-size">
                    <option value="normal">M</option>
                    <option value="large">L</option>
                    <option value="huge">XL</option>
                </select>
            </span>
            <span class="ql-formats">
                <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
                <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
                <button
                    class="ql-underline"
                    aria-label="Underline"
                    tabindex="-1"
                ></button>
            </span>
            <span class="ql-formats">
                <button
                    class="ql-list"
                    value="ordered"
                    aria-label="Ordered List"
                    tabindex="-1"
                ></button>
                <button
                    class="ql-list"
                    value="bullet"
                    aria-label="Unordered List"
                    tabindex="-1"
                ></button>
                <select class="ql-align" tabindex="-1">
                    <option selected tabindex="-1"></option>
                    <option value="center" tabindex="-1"></option>
                    <option value="right" tabindex="-1"></option>
                    <option value="justify" tabindex="-1"></option>
                </select>
            </span>
            <span class="ql-formats">
                <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
                <button
                    class="ql-code-block"
                    aria-label="Insert Code Block"
                    tabindex="-1"
                ></button>
            </span>
            <span class="ql-formats">
                <button
                    class="ql-clean"
                    aria-label="Remove Styles"
                    tabindex="-1"
                ></button>
            </span>
        </p-header>
    </p-editor>
    <br />
    <p-toast #toast position="bottom-center">
        <p-confirmPopup></p-confirmPopup>
    </p-toast>
    <div class="button-bottom-left" *ngIf="showButtons">
        <p-button
            styleClass="black-button"
            class="disabled-text-black"
            type="submit"
            [disabled]="
                editorTextValue !== '' && editorTextValue === editorTextValueUnmodified
            "
            (click)="saveContent()"
            id="save-note"
            >{{ "common.save" | translate }}</p-button
        >
        <p-button
            styleClass="white-button"
            (click)="cancelContent($event)"
            id="cancel-button"
            >{{ "common.cancel" | translate }}</p-button
        >
        <p-button
            styleClass="white-button"
            *ngIf="content"
            (click)="deleteContent($event)"
            >{{ "common.delete" | translate }}</p-button
        >
    </div>
</div>
