<div class="footprint-dashboard-container">
    <div class="chart-container">
        <div>
            <span class="text-xl" role="heading" [ariaLevel]="3">
                {{ "inventories-footprint.global.global-vision" | translate }} <br />
                ({{ "common.peopleeq" | translate }})
            </span>
            @if (criteriaCalculated().hasError) {
                <p-button
                    (click)="showInconsitencyGraph = !showInconsitencyGraph"
                    [rounded]="true"
                    [label]="'inventories-footprint.data-consistency' | translate"
                    [outlined]="!showInconsitencyGraph"
                    severity="danger"
                    class="ml-auto mt-3 mb-2 pr-3"
                    [ariaLabel]="'inventories-footprint.data-consistency' | translate"
                />
            }
            @if (!showInconsitencyGraph) {
                <p-card class="rmv-padding-card">
                    <div class="round-button-container">
                        <button
                            *ngFor="let dimension of dimensions"
                            [class.round-button-selected]="
                                dimension === selectedDimension()
                            "
                            [class.round-button]="dimension !== selectedDimension()"
                            (click)="selectedDimension.set(dimension)"
                        >
                            {{
                                "inventories-footprint.round-button." + dimension
                                    | translate
                            }}
                        </button>
                    </div>
                </p-card>
            }
        </div>
        @if (showInconsitencyGraph) {
            @if (options().series) {
                <app-stack-bar-chart
                    [xAxisInput]="xAxisInput"
                    [statusCountMap]="criteriaCalculated().criteriasCount!"
                />
            } @else {
                <div class="no-data-bar">
                    <p class="text-round-empty">{{ "common.no-data" | translate }}</p>
                </div>
            }
        } @else {
            @if (options().series) {
                <div
                    role="img"
                    attr.aria-label="{{
                        'inventories-footprint.round-button.' + selectedDimension()
                            | translate
                    }} {{ 'inventories-footprint.global.global-vision' | translate }}"
                    echarts
                    class="m-0"
                    [options]="options()"
                    style="height: 480px"
                ></div>
            } @else {
                <div class="no-data-round">
                    <p class="text-round-empty">{{ "common.no-data" | translate }}</p>
                </div>
            }
        }
    </div>
    <div>
        <app-information-card
            [title]="'inventories-footprint.global.info-fis-title' | translate"
            [content]="'inventories-footprint.global.info-fis-text' | translate"
        ></app-information-card>
        <app-datacenter-equipment-stats
            [footprint]="footprint"
            [filterFields]="filterFields"
            [datacenters]="datacenters"
            [equipments]="equipments"
            [inVirtualEquipments]="inVirtualEquipments"
        />
    </div>
</div>
