<app-inventories-header-footprint
    [inventory]="inventory()"
    [inventoryId]="inventoryId"
    [indicatorType]="'application'"
></app-inventories-header-footprint>

<p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 170px)' }">
    <div class="bg-white mt-2">
        <app-indicator-section
            [statGroups]="statGroups()"
            [isApplication]="true"
        ></app-indicator-section>
        <div class="flex justify-content-between align-items-center">
            @if (footprintStore.applicationCriteria() === multiCriteria) {
                <h2
                    class="pt-3 pl-4 pb-2 text-2xl"
                    attr.aria-label="{{
                        'inventories-footprint.application.graph-title-global' | translate
                    }}"
                >
                    {{
                        "inventories-footprint.global.global-vision-by"
                            | translate
                                : {
                                      variable:
                                          "inventories-footprint.global.criteria"
                                          | translate,
                                  }
                    }}
                    ({{ "common.peopleeq-min" | translate }})
                </h2>
            } @else {
                @if (footprintStore.appGraphType() === "global") {
                    <h2
                        class="pt-3 pl-4 pb-2 text-2xl"
                        attr.aria-label="{{ selectedCriteria }}{{
                            'inventories-footprint.application.critere.graph.title'
                                | translate
                        }}"
                    >
                        {{
                            "inventories-footprint.global.global-vision-by"
                                | translate
                                    : {
                                          variable:
                                              "inventories-footprint.global.type_" +
                                                  footprintStore.appGraphType()
                                              | translate,
                                      }
                        }}
                        ({{ "common.peopleeq-min" | translate }})
                    </h2>
                } @else {
                    <div class="inline">
                        @if (footprintStore.appGraphType() === "domain") {
                            <h2
                                class="pt-3 pl-4 pb-2 text-2xl"
                                attr.aria-label="{{
                                    'inventories-footprint.application.domain-view'
                                        | translate
                                }}{{ selectedCriteria }}{{
                                    'inventories-footprint.application.critere.graph.title'
                                        | translate
                                }}"
                            >
                                {{
                                    !showBackButton()
                                        ? ("inventories-footprint.global.global-vision-by"
                                          | translate
                                              : {
                                                    variable:
                                                        "inventories-footprint.global.type_" +
                                                            footprintStore.appGraphType()
                                                        | translate,
                                                })
                                        : ("inventories-footprint.global.impact-domain-by-subdomain"
                                          | translate
                                              : {
                                                    domain: footprintStore.appDomain(),
                                                })
                                }}
                                ({{ "common.peopleeq-min" | translate }})
                            </h2>
                        }
                        @if (footprintStore.appGraphType() === "subdomain") {
                            <h2
                                class="pt-3 pl-4 pb-2 text-2xl"
                                attr.aria-label="{{
                                    'inventories-footprint.application.subdomain-view'
                                        | translate
                                }}{{ selectedCriteria }}{{
                                    'inventories-footprint.application.critere.graph.title'
                                        | translate
                                }}"
                            >
                                {{
                                    !showBackButton()
                                        ? ("inventories-footprint.global.global-vision-by"
                                          | translate
                                              : {
                                                    variable:
                                                        "inventories-footprint.global.type_" +
                                                            footprintStore.appGraphType()
                                                        | translate,
                                                })
                                        : showDomainByApplication()
                                          ? ("inventories-footprint.global.impact-domain-by-application"
                                            | translate
                                                : { domain: footprintStore.appDomain() })
                                          : ("inventories-footprint.global.impact-subdomain-by-application"
                                            | translate
                                                : {
                                                      subdomain:
                                                          footprintStore.appSubDomain(),
                                                  })
                                }}
                                ({{ "common.peopleeq-min" | translate }})
                            </h2>
                        }
                        @if (footprintStore.appGraphType() === "application") {
                            <h2
                                class="pt-3 pl-4 pb-2 text-2xl"
                                attr.aria-label="{{
                                    'inventories-footprint.application.application-view'
                                        | translate
                                }}{{ selectedCriteria }}{{
                                    'inventories-footprint.application.critere.graph.title'
                                        | translate
                                }}"
                            >
                                {{
                                    "inventories-footprint.global.impact-application-by-equipment"
                                        | translate
                                            : {
                                                  application:
                                                      footprintStore.appApplication(),
                                              }
                                }}
                                ({{ "common.peopleeq-min" | translate }})
                            </h2>
                        }
                    </div>
                }
            }
            <div>
                <div class="segmented p-1 inline-flex gap-1">
                    <button
                        class="segment flex align-items-center gap-1 text-xs px-3 py-2 cursor-pointer"
                        [class.active]="view === 'graph'"
                        (click)="switchView('graph')"
                    >
                        <i class="pi pi-chart-bar text-xs"></i>
                        {{
                            "inventories-footprint.application.graph-view-btn" | translate
                        }}
                    </button>

                    <button
                        class="segment flex align-items-center gap-1 text-xs px-3 py-2 cursor-pointer"
                        [class.active]="view === 'table'"
                        (click)="switchView('table')"
                    >
                        <i class="pi pi-table text-xs"></i>
                        {{
                            "inventories-footprint.application.table-view-btn" | translate
                        }}
                    </button>
                </div>
                <p-button
                    #configureButton
                    (onClick)="filterSidebarVisible = true"
                    styleClass="p-button-secondary-blue uppercase mx-3"
                    id="filter"
                    icon="pi pi-filter"
                    [label]="'digital-services.configure-view' | translate"
                    [ariaLabel]="'digital-services.configure-view' | translate"
                ></p-button>

                <dataviz-filter-application
                    [allFilters]="filteredFilters()"
                ></dataviz-filter-application>
            </div>
        </div>
        <div class="mb-3 footprint-dashboard-container-app-criteria grid w-full">
            <div
                class="bg-white"
                [ngClass]="!isCollapsed ? 'col-12 xl:col-3' : 'col-fixed w-7rem'"
            >
                <app-impact-sidebar
                    [(isCollapsed)]="isCollapsed"
                    [impacts]="impacts"
                    [selectedCriteria]="selectedCriteria"
                    [selectedUnit]="selectedUnit"
                    [entityName]="inventory().name"
                    [isAllowedWrite$]="userService.isAllowedInventoryWrite$"
                    (selectedCriteriaChange)="handleChartChange($event)"
                    (displayPopup)="displayPopupFct()"
                ></app-impact-sidebar>
            </div>

            <div
                class="bg-gray-color mb-5 mt-2 flex-1 min-w-0"
                [ngClass]="!isCollapsed ? 'col-12 xl:col-9' : 'col'"
            >
                <div class="bg-white m-3 pb-3">
                    @if (view === "graph") {
                        @if (footprintStore.applicationCriteria() === multiCriteria) {
                            <app-application-multicriteria-footprint
                                [filterFields]="filterFields"
                                [footprint]="footprint()"
                                [inventory]="inventory()"
                            ></app-application-multicriteria-footprint>
                        } @else {
                            <app-application-criteria-footprint
                                [filterFields]="filterFields"
                                [footprint]="criteriaFootprint"
                                [selectedInventoryId]="inventoryId"
                                [allUnmodifiedFilters]="allUnmodifiedFilters()"
                                [inventory]="inventory()"
                                [showDomainByApplication]="showDomainByApplication()"
                            ></app-application-criteria-footprint>
                        }
                    } @else {
                        <app-application-table-view
                            [footprint]="
                                footprintStore.applicationCriteria() === multiCriteria
                                    ? footprint()
                                    : [criteriaFootprint]
                            "
                            [isMulticriteria]="
                                footprintStore.applicationCriteria() === multiCriteria
                            "
                        ></app-application-table-view>
                    }
                </div>
            </div>
        </div>
    </div>
</p-scrollPanel>

@if (displayPopup) {
    <app-criteria-popup
        [displayPopup]="displayPopup"
        [type]="'inventory'"
        [organization]="organization"
        [workspace]="workspace"
        [inventory]="inventory()"
        [selectedCriteriaIS]="selectedCriterias"
        (outSaveInventory)="saveInventory($event)"
        (outClose)="displayPopup = false"
    ></app-criteria-popup>
}

@if (filterSidebarVisible) {
    <p-drawer [(visible)]="filterSidebarVisible" position="right" styleClass="w-5">
        <ng-template #headless>
            <app-configure-view-filters
                (filtersApplied)="handleFilters($event)"
                (sidebarVisibleChange)="
                    configureButton?.el?.nativeElement?.querySelector('button')?.focus();
                    filterSidebarVisible = $event
                "
                [enableDataInconsistency]="inventory().enableDataInconsistency"
                [selectedUnit]="selectedUnit"
            ></app-configure-view-filters>
        </ng-template>
    </p-drawer>
}
