<div pFocusTrap class="create-ds-sidebar">
    <app-form-nav
        [spaceDetails]="importDetails()"
        [spaceForm]="createForm"
        (tabSelected)="selectTab($event)"
        [onlyOneNav]="true"
    ></app-form-nav>
    @if (importDetails() && importDetails().form) {
        <div class="space-form">
            <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 100px)' }">
                <form [formGroup]="createForm">
                    <h2>{{ "digital-services.version.add-ds" | translate }}</h2>
                    <p-button
                        appAutofocus
                        (onClick)="closeSidebar()"
                        [link]="true"
                        [rounded]="true"
                        ariaLabel="Outlined Close Button"
                        icon="pi pi-times"
                        class="space-sidebar-close"
                        styleClass="space-sidebar-close-button text-black-alpha-60 mr-3 mt-1"
                    ></p-button>
                    @if (selectedMenuIndex === 0) {
                        <h3 class="blue-color ml-0 font-semibold">
                            {{ "digital-services.version.ds-name" | translate }}
                        </h3>
                        <p>{{ "digital-services.version.ds-text" | translate }}</p>
                        <hr />
                        <div class="my-5 pb-4">
                            <div class="flex w-7">
                                <h4 class="mr-auto inline m-0 font-semibold">
                                    {{ "digital-services.version.ds-name" | translate }}
                                </h4>
                                <span>{{
                                    "digital-services.version.required-field" | translate
                                }}</span>
                            </div>
                            <label for="dsName-input" class="visually-hidden">
                                {{
                                    "digital-services.version.ds-name-placeholder"
                                        | translate
                                }}
                            </label>
                            <input
                                pInputText
                                id="dsName-input"
                                aria-describedby="dsName-input"
                                [placeholder]="
                                    'digital-services.version.ds-name-placeholder'
                                        | translate
                                "
                                formControlName="dsName"
                                class="mt-2 w-7"
                                autofocus="true"
                            />
                            @if (createForm.get("dsName")?.hasError("required")) {
                                <span class="error-text block">
                                    {{ "digital-services.version.ds-name" | translate }}
                                    {{ "common.mandatory" | translate }}
                                </span>
                            }
                            @if (createForm.get("dsName")?.hasError("uniqueName")) {
                                <span class="error-text block">
                                    {{
                                        "digital-services.error.digital-service-already-exists"
                                            | translate
                                    }}
                                </span>
                            }
                        </div>

                        <h3 class="blue-color ml-0 font-semibold">
                            {{
                                "digital-services.version.active-version-name" | translate
                            }}
                        </h3>
                        <p
                            [innerHtml]="
                                'digital-services.version.ds-version-text' | translate
                            "
                        ></p>
                        <hr />
                        <div class="my-5">
                            <div class="flex w-7">
                                <h4 class="mr-auto inline m-0 font-semibold">
                                    {{
                                        "digital-services.version.version-name"
                                            | translate
                                    }}
                                </h4>
                                <span>{{
                                    "digital-services.version.required-field" | translate
                                }}</span>
                            </div>
                            <label for="dsVersionName-input" class="visually-hidden">
                                {{
                                    "digital-services.version.ds-version-name-placeholder"
                                        | translate
                                }}
                            </label>
                            <input
                                pInputText
                                id="dsVersionName-input"
                                aria-describedby="dsVersionName-input"
                                [placeholder]="
                                    'digital-services.version.ds-version-name-placeholder'
                                        | translate
                                "
                                formControlName="dsVersionName"
                                class="mt-2 w-7"
                                autofocus="true"
                            />
                            @if (createForm.get("dsVersionName")?.hasError("required")) {
                                <span class="error-text block">
                                    {{
                                        "digital-services.version.version-name"
                                            | translate
                                    }}
                                    {{ "common.mandatory" | translate }}
                                </span>
                            }
                        </div>
                    } @else if (selectedMenuIndex === 1) {
                        <h3 class="blue-color ml-0 font-semibold">
                            {{
                                "digital-services.version.context-and-assumptions"
                                    | translate
                            }}
                        </h3>
                        <p
                            [innerHTML]="
                                'digital-services.version.context-text' | translate
                            "
                        ></p>
                        <hr />
                        <app-common-editor
                            [content]="createForm.get('note')?.value || ''"
                            [isWriteRole]="true"
                            [showButtons]="false"
                            [showTitle]="false"
                            [isScroll]="false"
                            (contentChange)="onEditorContentChange($event)"
                            styleClass="m-0 mt-4 p-0 hide-editor-buttons"
                        >
                        </app-common-editor>
                    }
                </form>
            </p-scrollPanel>
            <!-- Footer Buttons -->
            <div class="mt-3">
                <div
                    class="space-form--button-group flex align-content-end justify-content-end flex-wrap"
                >
                    <p-button
                        class="cancel-creation mr-auto"
                        styleClass="cancel-creation-button uppercase"
                        (onClick)="closeSidebar()"
                        [label]="'common.workspace.cancel' | translate"
                        [ariaLabel]="'common.workspace.cancel' | translate"
                    ></p-button>
                    <div
                        class="space-form--button-group flex align-content-end justify-content-end flex-wrap"
                    >
                        @if (selectedMenuIndex === 1 && !isEcoMindAi()) {
                            <p-button
                                styleClass="p-button-secondary-blue uppercase mr-3"
                                (onClick)="selectTab(0)"
                                [label]="'common.previous' | translate"
                                [ariaLabel]="'common.previous' | translate"
                            ></p-button>
                        }
                        @if (selectedMenuIndex === 1 || isEcoMindAi()) {
                            <p-button
                                (onClick)="createDS()"
                                styleClass="uppercase bg-light-green"
                                [disabled]="createForm.invalid"
                                id="validate-creation-button"
                                [label]="
                                    'digital-services.version.validate-creation'
                                        | translate
                                "
                                [ariaLabel]="
                                    'digital-services.version.validate-creation'
                                        | translate
                                "
                            ></p-button>
                        }
                        @if (selectedMenuIndex === 0 && !isEcoMindAi()) {
                            <p-button
                                styleClass="p-button-secondary-blue p-button uppercase"
                                (onClick)="selectTab(1)"
                                [label]="'common.next' | translate"
                                [ariaLabel]="'common.next' | translate"
                                id="next-creation-button"
                            ></p-button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
