version: "1.0.0"

server:
  port: 8080
  shutdown: graceful
  compression:
    enabled: true
    min-response-size: 2048
    mime-types: application/json

cors.allowed.origins: "http://localhost:4200"

# NumEcoEval configs
num-eco-eval:
  base-url: http://localhost:18081
  import-max-memory: 128
num-eco-eval-referential:
  base-url: http://localhost:18080

#Boaviztapi configs
boaviztapi:
  version: 1.3
  base-url: http://localhost:5000

g4it:
  criteria: "Climate change, Particulate matter and respiratory inorganics, Ionising radiation, Acidification, Resource use (minerals and metals)"
  data:
    retention:
      cron: "0 0 0 * * *"
      oninit: "false"
      day: "14"
  storage:
    retention:
      cron: "0 0 0 * * *"
      oninit: "false"
      day:
        export: "7"
        output: "7"
  cache:
    database:
      ttl: PT20M
    short:
      ttl: PT2M
  organization:
    deletion:
      oninit: "false"
      cron: "0 0 0 * * *"
      day: "7"
  digitalServiceLink:
    deletion:
      oninit: "false"
      cron: "0 0 */12 * * *"
  local:
    retention:
      ttl: PT10M

filesystem.local.path: ".\\storage"

local.working.folder: ".\\storagetmp"

spring:
  profiles:
    active: dev, local, nosecurity
  main:
    allow-bean-definition-overriding: true
  datasource:
    generate-unique-name: true
    url: "jdbc:postgresql://localhost:5432/postgres?reWriteBatchedInserts=true"
    username: postgres
    # kics-scan ignore-line
    password: postgres
    driver-class-name: org.postgresql.Driver
    tomcat:
      test-on-borrow: false
      jmx-enabled: false
      max-active: 100
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        order_inserts: true
        jdbc:
          batch_size: 100
          time_zone: UTC
  liquibase:
    change-log: classpath:/db/changelog/greenitdb.changelog-master.yml
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/auth/realms/g4it
  codec:
    max-in-memory-size: 100MB
  config:
    import:
      - csv-headers.yml
  servlet:
    multipart:
      resolve-lazily: true
      max-request-size: 100MB
      max-file-size: 100MB
  threads:
    virtual:
      enabled: true
  jackson:
    default-property-inclusion: NON_NULL

springdoc:
  swagger-ui:
    tagsSorter: alpha

logging:
  level:
    org.springframework: info
    org.springframework.batch.core:
      job: error
      step: info
      step.ThreadStepInterruptionPolicy: error
      repository.support: error
    org.hibernate: warn
    liquibase: warn
    com.zaxxer: warn
