<div class="information-section my-3">
    <h3 class="m-0 text-lg mb-2 font-semibold">
        {{ "digital-services-networks.information-step" | translate }}
    </h3>
    <p [innerHTML]="'digital-services-networks.information-text' | translate"></p>
    <ul>
        <li>{{ "digital-services-networks.information-li1" | translate }}</li>
        <li>{{ "digital-services-networks.information-li2" | translate }}</li>
    </ul>
</div>
<div class="table-container mb-5">
    <app-digital-service-table
        titleText="networks"
        accessibilityText="network"
        translationPrefix="digital-services-networks"
        [headerFields]="headerFields"
        [data]="networkData()"
        addButtonId="add-networks"
        (sidebar)="changeSidebar($event)"
        (resetItem)="resetNetwork()"
        (setItem)="setItem($event)"
        (deleteItem)="deleteItem($event)"
    ></app-digital-service-table>
</div>
@if (sidebarVisible) {
    <p-drawer
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="drawer-lg"
        appendTo="body"
        (onHide)="focusNetworkButton(); networkSidePanel.close()"
        ariaCloseLabel="Close"
    >
        <app-digital-services-networks-side-panel
            #networkSidePanel
            (sidebarVisible)="focusNetworkButton(); sidebarVisible = false"
            [existingNames]="existingNames()"
            [network]="network"
            [networkData]="networkData()"
            (update)="actionNetwork('update', $event)"
            (delete)="deleteItem($event); sidebarVisible = false"
            (outCancel)="actionNetwork('cancel', $event)"
        ></app-digital-services-networks-side-panel>
    </p-drawer>
}
