<app-spinner></app-spinner>
<div class="flex h-screen w-screen">
    <!-- Skip to Main Content Button -->
    <button
        class="hidden-focus-button"
        (click)="focusFirstElement()"
        [attr.aria-label]="'common.skip-to-main-content' | translate"
    ></button>

    <!-- Header -->
    <header class="header w-full fixed top-0 left-0 z-10 flex items-center" role="banner">
        <app-top-header [isSharedDs]="true" />
    </header>

    <!-- Sidebar + Main content container -->
    <div class="flex w-full">
        <!-- Sidebar -->
        <aside class="left-sidebar hidden lg:block">
            <app-left-sidebar [isSharedDs]="true" />
        </aside>

        <!-- Main content area -->
        <main role="main" class="flex-1" #mainContent>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
