<app-inventories-header-footprint
    [inventoryId]="inventoryId"
></app-inventories-header-footprint>
<p-scrollPanel [style]="{ width: '100%', height: '88%' }">
    <dataviz-filter [allFilters]="allUnmodifiedFilters"></dataviz-filter>
    @if (showTabMenu) {
        <p-tabMenu
            [model]="criteres!"
            [scrollable]="true"
            class="footprint-tabmenu"
        ></p-tabMenu>
    }

    @if (footprintStore.criteria() === multiCriteria) {
        <app-inventories-multicriteria-footprint
            [footprint]="allUnmodifiedFootprint"
            [filterFields]="filterFields"
            [datacenters]="allUnmodifiedDatacenters"
            [equipments]="allUnmodifiedEquipments"
        ></app-inventories-multicriteria-footprint>
    } @else {
        <app-inventories-critere-footprint
            [footprint]="allUnmodifiedCriteriaFootprint"
            [filterFields]="filterFields"
        ></app-inventories-critere-footprint>
    }
</p-scrollPanel>
