<app-inventories-header-footprint
    [inventory]="inventory()"
    [inventoryId]="inventoryId"
    [indicatorType]="'equipment'"
></app-inventories-header-footprint>

<p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 170px)' }">
    <div class="bg-white mt-2">
        <app-indicator-section
            [statGroups]="statGroups()"
            [isApplication]="false"
        ></app-indicator-section>
        <div class="flex justify-content-between align-items-center">
            <h2
                class="pt-3 pl-4 pb-2 text-2xl line-height-1 my-3"
                attr.aria-label="{{
                    'inventories-footprint.application.graph-title-global' | translate
                }}"
            >
                @if (footprintStore.criteria() === multiCriteria) {
                    {{ "inventories-footprint.global.global-vision" | translate }}
                    ({{ "common.peopleeq" | translate }})
                } @else {
                    {{ "inventories-footprint.critere.repartition" | translate }}
                }
            </h2>
            <div>
                <p-button
                    #filterButton
                    (onClick)="filterSidebarVisible = true"
                    styleClass="p-button-secondary-blue uppercase mr-3"
                    id="filter"
                    icon="pi pi-sliders-v"
                    [label]="'digital-services.configure-view' | translate"
                    [ariaLabel]="'digital-services.configure-view' | translate"
                ></p-button>
                <dataviz-filter [allFilters]="allUnmodifiedFilters"></dataviz-filter>
            </div>
        </div>
        <div class="mb-3 footprint-dashboard-container-app-criteria grid w-full">
            <div
                class="bg-white"
                [ngClass]="!isCollapsed ? 'col-12 xl:col-3' : 'col-fixed w-7rem'"
            >
                <app-impact-sidebar
                    [(isCollapsed)]="isCollapsed"
                    [impacts]="impacts"
                    [selectedCriteria]="selectedCriteria"
                    [selectedUnit]="selectedUnit"
                    [entityName]="inventory().name"
                    [isAllowedWrite$]="userService.isAllowedInventoryWrite$"
                    (selectedCriteriaChange)="handleChartChange($event)"
                    (displayPopup)="displayPopupFct()"
                ></app-impact-sidebar>
            </div>
            <div
                class="bg-gray-color mb-5 mt-2 flex-1 min-w-0"
                [ngClass]="!isCollapsed ? 'col-12 xl:col-9' : 'col'"
            >
                <div class="bg-white m-3 pb-3">
                    @if (footprintStore.criteria() === multiCriteria) {
                        <app-inventories-multicriteria-footprint
                            [footprint]="allUnmodifiedFootprint()"
                            [filterFields]="filterFields"
                            [datacenters]="allUnmodifiedDatacenters()"
                            [equipments]="allUnmodifiedEquipments()"
                            [inVirtualEquipments]="transformedInVirtualEquipments()"
                            [inventory]="inventory()"
                            [sourceList]="sourceList()"
                        ></app-inventories-multicriteria-footprint>
                    } @else {
                        <app-inventories-critere-footprint
                            [footprint]="allUnmodifiedFootprint()"
                            [criteriaFootprint]="allUnmodifiedCriteriaFootprint"
                            [filterFields]="filterFields"
                            [datacenters]="allUnmodifiedDatacenters()"
                            [equipments]="allUnmodifiedEquipments()"
                            [inVirtualEquipments]="transformedInVirtualEquipments()"
                            [inventory]="inventory()"
                            [sourceList]="sourceList()"
                        ></app-inventories-critere-footprint>
                    }
                </div>
            </div>
        </div>
    </div>
</p-scrollPanel>

@if (displayPopup) {
    <app-criteria-popup
        [displayPopup]="displayPopup"
        [type]="'inventory'"
        [organization]="organization"
        [workspace]="workspace"
        [inventory]="inventory()"
        [selectedCriteriaIS]="selectedCriterias"
        (outSaveInventory)="saveInventory($event)"
        (outClose)="displayPopup = false"
    ></app-criteria-popup>
}

@if (filterSidebarVisible) {
    <p-drawer [(visible)]="filterSidebarVisible" position="right" styleClass="w-5">
        <ng-template #headless>
            <app-configure-view-filters
                (filtersApplied)="handleFilters($event)"
                (sidebarVisibleChange)="
                    filterButton?.el?.nativeElement?.querySelector('button')?.focus();
                    filterSidebarVisible = $event
                "
                [enableDataInconsistency]="inventory().enableDataInconsistency"
                [selectedUnit]="selectedUnit"
            ></app-configure-view-filters>
        </ng-template>
    </p-drawer>
}
