@use "primeflex/primeflex.scss";
@use "variables";

/* General */

:host,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
ul,
li,
button,
.round-button,
.round-button-selected {
    font-family: var(--defaut-font-style);
}

body,
html {
    height: 100%;
    background-color: var(--light-grey-color);
    margin: 0;
    padding: 0;
    color: var(--black-color);
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

h2,
.h2-title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    line-height: 22px;
    font-weight: 300;
    margin-left: 10px;
}

h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
}

main {
    padding: 1.5rem 2rem;
    background-color: var(--light-grey-color);
    overflow-y: clip;
    height: calc(100vh - 70px);
    width: calc(100vw - 80px);
    margin-top: 70px;
    background-image:
        url("assets/images/background/blue-elipse.svg"),
        url("assets/images/background/yellow-elipse.svg"),
        url("assets/images/background/fingerprint-background.svg");
    background-repeat: no-repeat;
    background-position:
        bottom -475px left 38%,
        bottom -416px left 20%,
        bottom -3px right -238px;
    background-size:
        1800px 1000px,
        1500px 1000px,
        900px 122%;
}

.shared-main {
    height: calc(100vh);
    width: calc(100vw);
    margin-top: 0;
}

/* Color & Background-color classes */
.color-black-seventy {
    color: var(--tints-black-70);
}
.color-tertiary {
    color: var(--tertiary-color);
}
.text-grey {
    color: var(--grey-text-color);
}
.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-tertiary {
    background-color: var(--tertiary-color);
}
.bg-light-green {
    background-color: var(--light-green-color);
}
.force-bg-white {
    background-color: white;
    color: var(--black-color);
}
.bg-light-gray {
    background-color: var(--gray-100);
}

.bg-black {
    background: var(--black-color);
}
.bg-grey {
    background: var(--grey-text-color);
}
.bg-lightest-gray-color {
    background-color: var(--lightest-gray-color);
}
.bg-dark-red {
    background: var(--dark-red-color);
}
.bg-warning {
    background: var(--warning-color);
}
.border-primary {
    border-color: var(--primary-color);
}
.border-tertiary {
    border-color: var(--tertiary-color);
}

.svg-white {
    filter: invert(0%) sepia(57%) saturate(26%) hue-rotate(90deg) brightness(223%)
        contrast(146%);
}

.w-2-5rem {
    width: 2.5rem;
}

.h-2-5rem {
    height: 2.5rem;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.h-2px {
    height: 2px;
}

.p-1-5 {
    padding: 0.35rem;
}

.text-2xs {
    font-size: 0.6rem;
}

.text-hidden {
    font-size: 0 !important;
}

.header-button {
    text-transform: uppercase;
    padding: 0.75rem 1rem;
    letter-spacing: 2px;
    margin: 0 0.5rem;
}

.footer-calculate-button {
    box-shadow:
        0 4px 4px 0 rgba(28, 33, 29, 0.16),
        4px 4px 24px 4px rgba(28, 33, 29, 0.4);
    background: var(--light-green-color);
    border: 12px solid #323733;
}

.error-text {
    color: #b00020;
    font-size: 15px;
    margin: 5px;
}

/* Header */
/* header height px match with main margin top*/
.header {
    background-color: var(--black-color);
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
}

@media screen and (min-width: 992px) {
    .left-sidebar {
        position: relative;
        width: 80px;
        height: 100vh;
        flex-shrink: 0;
        background-color: var(--black-color);
    }
}
/* Header Panel */

.org-menu {
    display: none;
    position: absolute;
    top: 102px;
    left: 58px;
    z-index: 99;
    max-height: 80vh;
}

/* Error page */

.error-header {
    position: relative;
    height: 80px;
    flex-shrink: 0;
    background-color: var(--header-color);
    width: 100%;
    background-image:
        url("assets/images/background/fingerprint.svg"),
        url("assets/images/background/fingerprint.svg");
    background-repeat: no-repeat;
    background-position:
        top -139px left -10px,
        top -488px left 841px;
    background-size:
        967px 1146px,
        771px 1096px;
    overflow: hidden;
}

/* Buttons */

.black-button,
.white-button,
.grey-button,
.yellow-button,
.reset-button {
    border: none;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 16px 24px;
    margin-left: 20px !important;
    text-transform: uppercase;
}

.reset-button {
    color: black;
    border: 1px solid #e5e5e5;
    background: transparent;
    font-weight: 700;
    outline: none;
    box-shadow: none;
}

.black-button,
.black-button-sidebar {
    background: var(--black-color);
    color: white;
}

.white-button {
    background: white;
    color: var(--black-color);
}

.white-button .pi.icon {
    margin-right: 8px;
    font-size: 16px;
    color: #2b2b2b;
}

.button-secondary-green:not(:disabled) {
    border: 2px solid var(--light-green-color);
    color: var(--light-green-color);
    background-color: #f4f4f4;
}

.grey-button,
.grey-button-sidebar {
    background: rgb(205, 205, 205);
    color: var(--black-color);
}

.white-button,
.white-button-sidebar {
    background: var(--white-color);
    color: black;
}

.yellow-button,
.yellow-button-sidebar,
.yellow-button-file {
    background: var(--secondary-color);
    color: var(--black-color);
}

.black-button-small {
    font-weight: 50;
    letter-spacing: 2px;
    background: var(--black-color);
    color: white;
    max-height: 30px;
    font-size: 11px;
    white-space: nowrap;
}

.inventory-button-small {
    z-index: 10;
    letter-spacing: 2px;
    max-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    background: var(--secondary-color);
    color: var(--black-color);
}

.inventory-button-small:disabled span {
    color: var(--black-color) !important;
}

.round-button,
.round-button-selected {
    height: 28px;
    width: 90px;
    font-size: 12px;
    font-weight: 900;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: var(--black-color);
}

.round-button-selected {
    background: var(--secondary-color);
}

.round-button {
    background: none;
}

.p-button-plain.header-button:hover {
    background-color: var(--tertiary-color) !important;
    span {
        color: white !important;
    }
}

/* Radio Buttons */

.radio-button-right {
    right: 15px;
}

.radio-button-selection:focus-within {
    outline: 2px solid #28a745;
}

.p-button:focus {
    outline: 2px solid #28a745;
}

.p-drawer,
.p-sidebar {
    z-index: 1300;
}

.radio-button-selection .p-divider-vertical.p-divider-center {
    margin: 0;
}

.white-radio-buttons .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: white;
}
.white-radio-buttons .p-radiobutton .p-radiobutton-box {
    border: 2px solid white !important;
}

.p-radiobutton:has(input:focus) .p-radiobutton-box {
    border: none !important;
    background-color: var(--tertiary-color) !important;

    .p-radiobutton-icon {
        background-color: white !important;
    }
}

/* Icons */

.icon-running {
    font-size: 26px;
    color: var(--tertiary-color);
}

.small-info {
    width: 12px;
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.footprint-data-application span {
    font-size: 1.5rem;
}

/* Inventories page */

.input-loading-files {
    margin-top: 15px;
    overflow: auto;
    max-height: 340px;
}

.input-loading-files div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

/* Detail Inventaire */

.inventory-list {
    margin-right: 20px;
}

.inventory-list .p-accordion-content {
    padding-top: 0px;
}

.inventory-list .p-accordion .p-accordionpanel {
    margin-bottom: 20px;
}

.loading-data-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    padding: 0px;
}

.loading-data-container div {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Information System */
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 2px solid black !important;
}

/* sidebar */
.p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    color: #0f172a;
    background: #e2e8f0;
}

.p-datepicker .p-monthpicker .p-monthpicker-month:focus {
    color: #0f172a;
    background: #e2e8f0;
}

// drawer

.p-drawer-header {
    padding: 0;
    background: transparent;
}

.p-drawer .p-drawer-header .p-drawer-close-button button:enabled:hover {
    color: #1a1a1a;
    background: #dcdcdc;
    border-color: #dcdcdc;
}

.p-drawer .p-drawer-header .p-drawer-close-button button:enabled:focus {
    outline: 2px solid black !important;
    background: transparent;
}

.p-drawer .p-drawer-header-content .p-drawer-close-button:focus {
    outline: 2px solid black !important;
}

#settings-sidebar .p-drawer .p-drawer-header-content .p-drawer-close-button,
#settings-sidebar
    .p-drawer
    .p-drawer-header-content
    .p-drawer-close-button:enabled:hover {
    color: white;
}

#settings-sidebar .p-drawer .p-drawer-header-content .p-drawer-close-button:focus {
    outline: 2px solid white !important;
}

#separator {
    @extend .visually-hidden;
}
/* Add file side panel */

.side-panel-title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 12px;
    outline: none;
}

.button-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 50px;
    display: flex;
}

/* SELECT FILE */

.type-dropdown {
    width: 300px;
    margin-right: 10px;
}

/* Footprint page */

.footprint-dashboard-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
    .footprint-dashboard-container {
        margin-top: 25px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 60% 38%;
    }
}

.chart-container {
    height: 98%;
    padding: 20px;
    background-color: white;
}

.chart-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.no-data-round,
.no-data-half,
.no-data-digital-service,
.no-data-bar {
    text-align: center;
    display: flex !important;
    margin: 0 !important;
    align-content: center !important;
    justify-content: center !important;
}

.no-data-round,
.no-data-half {
    height: 50vh !important;
    margin-top: 25px !important;
    flex-wrap: wrap;
}
.no-data-bar {
    height: 40vh !important;
    border-bottom: 1px solid black;
    margin: 50px !important;
}
.no-data-digital-service {
    height: 45vh !important;
    flex-wrap: wrap;
}

.no-data-half {
    background-image: url("assets/images/graphs/empty-half-graph.svg");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 55%;
}

.no-data-round {
    background-image: url("assets/images/graphs/empty-round-graph.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.text-round-empty,
.text-half-empty {
    font-size: 20px;
}

.text-no-data-critere,
.text-no-data-global {
    color: var(--grey-text-color);
}

.text-no-data-global {
    font-size: 8px;
}

.side-data-title {
    display: flex;
    margin-bottom: 8px;
}

.side-data-title span {
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-bottom: 14px;
    padding-top: 10px;
}

.side-data-title span::after {
    content: "";
    position: absolute;
    bottom: -4px;
    transform: translateX(-142%);
    width: 70%;
    height: 2px;
    background-color: var(--primary-color);
}

.rmv-padding-card .p-card-content,
.rmv-padding-card .p-card-body {
    padding: 0;
}

.round-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 8px;
}

/* Filter component */

.filter-component {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:
        0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.filter-component img {
    margin-right: 20px;
}

.p-overlay p-checkbox {
    margin: 12px;
}

.filter-component .p-4 {
    height: 360px;
}

.filter-overlay .p-scrollpanel-bar-x {
    display: none;
}

// Filter with search: depreciated
.filter-component .p-multiselect {
    width: -webkit-fill-available;
}

/**
* DIGITAL SERVICE
**/

.digital-services-card {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 15px;
}

.digital-services-card .p-card-body {
    padding: 5px;
    padding-left: 15px;
}

.input-title .p-inplace-display {
    display: block !important;
}

.p-inplace .p-inplace-display:focus {
    outline: 2px solid black !important;
}

.p-datatable .p-sortable-column:focus {
    outline: 2px dashed black !important;
}

.input-title .p-inplace-content {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.input-title .p-inplace .p-inplace-display,
.input-title .p-inputtext {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Visualize Digital Services */

.footprint-digital-dashboard-container {
    margin-top: 5px;
    width: -webkit-fill-available;
}

.digital-service-chart-container {
    padding: 20px;
    border-radius: 4px 0 0 4px;
}

.digital-service-chart-heading-container h3 {
    margin: 10px;
    font-size: 24px;
}

/* Critere buttons */
.check-icon-corner {
    position: absolute;
    right: 9px;
    top: 8px;
}

/* Terminals page */

.table-container {
    margin-top: 10px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-sortable-column .p-sortable-column-icon,
.grey-text {
    color: var(--dark-grey-color);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/*Side panel Terminals page */

.lg-file-panel-margin {
    margin-right: 40px;
    margin-left: 40px;
}

.terminal-grid-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 1fr));
    grid-gap: 20px;
    justify-items: start;
}

.dropdown-terminal .p-dropdown-label.p-placeholder {
    color: var(--black-color);
    font-size: 15px;
    width: 100%;
}

.label-input-div,
.label-input-div-full,
.label-input-div-medium {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.label-input-div-full .p-inputtext {
    width: 100%;
}

.label-input-div .p-inputtext {
    width: 400px;
}

.label-input-div .p-select-label {
    width: 360px;
}

.label-input-div label,
.label-input-div-full label,
.label-input-div-medium label {
    font-size: 14px;
    font-weight: 600;
}

/* Previous Next paginator css */

.p-paginator .p-paginator-prev:after {
    content: "<-";
    padding: 5px;
    font-size: 1rem;
}

.p-paginator .p-paginator-next:after {
    content: "->";
    padding: 5px;
    font-size: 1rem;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-prev svg,
.p-paginator .p-paginator-next svg {
    display: none;
}

.terminal-table-column {
    width: 20%;
}

// Servers

.underlined-div {
    margin-bottom: 3px;
    border-bottom: 3px solid var(--primary-color);
    width: 100%;
    margin-top: 8px;
}

.underlined-div-small {
    margin-bottom: 3px;
    border-bottom: 3px solid var(--primary-color);
    width: 98%;
    margin-top: 30px;
}

span.inputnumber-small.p-inputnumber.p-component {
    width: 100%;
}

span.inputnumber-medium.p-inputnumber.p-component {
    width: 100%;
}

span.inputnumber-medium.p-inputtext.p-component {
    width: 100%;
}

div.label-input-div-server {
    margin-right: 15px;
    width: 31.5%;
}

div.label-input-div-medium {
    margin-right: 15px;
    width: 50%;
}

.label-input-div-full-server .p-dropdown {
    width: 100%;
}

.label-input-div-full-server .p-inputtext {
    width: 97%;
}

.p-disabled,
.p-component:disabled {
    opacity: 1;
    color: #525252 !important;
}

.p-progressbar {
    border: 0 none;
    border-radius: 10px;
    height: 21px;
    width: 75%;
    color: var(--tertiary-color);
}

app-inventories,
app-inventory-item {
    .p-accordion .p-accordionpanel .p-accordionheader-toggle-icon,
    .p-accordion .p-accordionpanel svg {
        margin-left: inherit !important;
        transition: transform 0.2s;
        order: 0;
    }

    .p-accordionheader {
        justify-content: unset;
    }

    // PrimeNG 21 styles
    .p-accordion .p-accordion-header .p-accordion-header-link {
        display: flex;
        flex-direction: row;
    }

    .p-accordion .p-accordionheader .p-accordionheader-toggle-icon,
    .p-accordion .p-accordionheader svg {
        order: -1 !important;
        margin-right: 0.5rem !important;
        margin-left: 0 !important;
        transition: transform 0.2s;
    }
}
.p-accordion p-accordion-panel:first-child .p-accordion-header .p-accordion-header-link {
    height: 50px;
}

.p-accordion .p-accordion-tab:not(.p-accordion-tab-active) .p-accordion-toggle-icon {
    transform: rotate(-270deg);
}

.p-accordion .p-accordionheader:not(.p-disabled):focus {
    outline: 2px solid black;
}

.p-accordion {
    padding: 10px;
}

.p-accordionpanel {
    margin: 5px;
}

// Global styles to ensure toggle icon is on the left for all accordions
.p-accordion .p-accordion-header .p-accordion-header-link {
    display: flex !important;
    flex-direction: row !important;
}

.p-accordion .p-accordion-header .p-accordion-toggle-icon {
    order: -1 !important;
    margin-right: 0.5rem !important;
    margin-left: 0 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.transparentBackgound .p-accordion p-accordion-panel:first-child .p-accordion-content {
    background-color: transparent;
}

.disabled-text-black {
    .p-disabled,
    .p-component:disabled {
        color: black !important;
    }
}

.inventory-add-button-small,
.inventory-attached-button-small {
    border-radius: 15px;
    z-index: 10;
    letter-spacing: 2px;
    max-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 11px;
}

.inventory-add-button-small {
    background: none;
    color: var(--black-color);
    padding-left: 30px;
    padding-right: 30px;
}

.inventory-attached-button-small {
    background: rgb(201, 201, 201);
    color: var(--black-color);
}

.confirm-popup-editor {
    .p-confirm-popup .p-component {
        display: none;
    }
}

.input-width {
    width: 246px;
    height: 40px;
    margin-right: 20px;
}

.p-dialog .p-dialog-header .p-dialog-title {
    color: #b00020;
}

.full-screen {
    background: transparent;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 90;
}

/*Administration panel*/

.footprint-tabmenu {
    .p-tabmenu-nav-prev,
    .p-tabmenu-nav-next {
        background-color: #e8e8e8;
    }

    .p-tabmenu-nav-container {
        width: calc(100vw - 178px);
        overflow: hidden;
        position: relative;
    }

    .p-tabmenu-nav-content {
        width: calc(100vw - 230px);
    }

    .p-tabmenu-nav-content ul {
        border: none;
    }
    .p-tabmenu-nav-content ul li {
        border: solid rgba(0, 0, 0, 0.12);
        border-width: 0 0 1px 0;
    }
}

.p-scrollpanel-bar {
    width: 10px;
}

.p-scrollpanel-content {
    scrollbar-width: thin;
}

.header-share-count .p-button span.pi-users {
    font-size: 2rem;
}

.border-light-grey-color {
    border-color: var(--tints-black-60);
}

.hidden-focus-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.cancel-creation-button {
    border: 1px solid #cacbca;
    background-color: #f4f4f4;
    color: var(--black-color);
    font-weight: 800;
}
.multifile-upload.cancel-creation-button .p-fileupload-choose-button {
    border: none;
    background-color: #f4f4f4;
    color: var(--black-color);
    font-weight: 800;
    padding: 0.85rem 1rem;
    text-transform: uppercase;
}
.app-workspace {
    .p-button {
        height: 43px;
        padding: 13px 24px;
        align-items: stretch;
    }

    .space-form {
        .p-inputtext,
        .p-dropdown {
            height: 48px;
            min-width: 390px;
        }
    }
}

.form-container .button-bottom-right {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.welcome-page-container,
.useful-page {
    .selection-card-container {
        .p-card-body {
            padding: 1.5rem 2rem;
        }

        .custom-globe-icon {
            mask: url("assets/images/icons/icon-globe.svg") no-repeat center / contain;
            -webkit-mask: url("assets/images/icons/icon-globe.svg") no-repeat center /
                contain;
        }

        .custom-at-symbol-icon {
            mask: url("assets/images/icons/icon-at-symbol.svg") no-repeat center / contain;
            -webkit-mask: url("assets/images/icons/icon-at-symbol.svg") no-repeat center /
                contain;
        }

        .custom-at-ecomind-icon {
            mask: url("assets/images/icons/icon_ecomind_ai.svg") no-repeat center /
                contain;
            -webkit-mask: url("assets/images/icons/icon_ecomind_ai.svg") no-repeat
                center / contain;
        }

        .navigation-button.disabled {
            color: var(--tints-black-80);
            border: 2px solid var(--gray-300);
            background: var(--gray-300);
        }

        .navigation-button:not(.disabled) {
            color: var(--blue-color);
            border: 2px solid var(--blue-color);
            background: var(--surface-0);
        }

        &:not(.disabled) {
            .navigation-button:not(.disabled):hover {
                color: var(--surface-0);
                background: var(--blue-color);
            }
        }
    }
}

.drawer-lg {
    width: 60rem;
}

.drawer-md {
    width: 40rem;
}

@media screen and (max-width: 1024px) {
    .drawer-lg,
    .drawer-md {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .welcome-page-container {
        .selection-card-container .p-card-header {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
        }
    }

    main {
        margin-top: 70px;
        height: calc(100vh - 70px);
        width: calc(100vw);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
    .welcome-page-container {
        .selection-card {
            flex-direction: column !important;
        }
    }
}

app-declarations,
app-useful-information {
    .breadcrumb {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .breadcrumb a {
        text-decoration: none;
    }

    .breadcrumb .active {
        color: var(--tertiary-color);
        font-weight: bold;
    }

    .breadcrumb .separator {
        margin: 0 10px;
        font-size: 16px;
    }
}

.form-container {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    h2 {
        margin-bottom: 20px;
        color: #333;
    }
    .form-section {
        margin-bottom: 20px;
        h3 {
            margin-top: 0;
            margin-bottom: 15px;
        }
        .form-row {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            width: 100%;
            > .label-input-div-form {
                margin-top: 10px;
                display: flex;
                flex: 1;
                flex-direction: column;
            }
        }
    }
}

.inference-operation-sign {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 25px;
}

.label-input-div-form .p-dropdown {
    width: 100%;
}

.p-scrollPanel .button-bottom-rights {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.multi-file-import .p-fileupload .p-button-icon {
    display: none;
}

/* Fileupload button styling - black by default, green on hover */
.p-fileupload .p-button.p-fileupload-choose:not(.p-disabled),
.p-fileupload-choose:not(.p-disabled) {
    background: var(--black-color) !important;
    color: white !important;
    border-color: transparent !important;
}

.p-fileupload .p-button.p-fileupload-choose:not(.p-disabled):hover,
.p-fileupload-choose:not(.p-disabled):hover {
    background: #2e7d32 !important;
    color: white !important;
    border-color: transparent !important;
}

.p-fileupload .p-button.p-fileupload-choose:not(.p-disabled):active,
.p-fileupload-choose:not(.p-disabled):active {
    background: #2e7d32 !important;
    color: white !important;
    border-color: transparent !important;
}

.import-digital {
    .finish-btn-padding {
        padding: 14px;
    }
}

.mini-menu-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    mask: url("assets/images/icons/icon-mini-menu.svg") no-repeat center / contain;
    -webkit-mask: url("assets/images/icons/icon-mini-menu.svg") no-repeat center / contain;
}

.kebab-menu-icon {
    width: 24px;
    height: 24px;
    background-color: #000000;
    mask: url("assets/images/icons/icon-ellipsis-vertical.svg") no-repeat center / contain;
    -webkit-mask: url("assets/images/icons/icon-ellipsis-vertical.svg") no-repeat center /
        contain;
}
.kebab-div {
    padding: 8px 16px;
    width: 56px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--tints-black-20, #cacbca);
    background: var(--tints-black-05, #f4f4f4);
    position: absolute;
    right: 0;
    top: 0;
}

.kebab-div-green {
    background: var(--tertiary-color);
}

.plus-menu-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    mask: url("assets/images/icons/icon-outline.svg") no-repeat center / contain;
    -webkit-mask: url("assets/images/icons/icon-outline.svg") no-repeat center / contain;
}

.mobile-top-header-menu {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 2rem;

    .p-submenu-header {
        background-color: black;
        color: white;
    }

    .p-menuitem-link {
        color: white !important;
    }
}

.set-view-popup,
.criteria-popup {
    .p-dialog .p-dialog-header .p-dialog-close-button:focus {
        outline: 2px solid #28a745;
        background: transparent;
    }
}

.header-delete-btn {
    padding: 12px;
    background-color: #ffffff;
    color: var(--red-color);
    border: 2px solid var(--red-color);
}

.header-blue-btn {
    padding: 12px;
    background-color: #ffffff;
    color: var(--blue-color);
    border: 2px solid var(--blue-color);
}

.manage-version-table {
    .p-checkbox.p-disabled .p-checkbox-box {
        background-color: #e0e0e0;
        border-color: #bdbdbd;
        opacity: 0.75;
    }

    .p-disabled,
    .p-component:disabled {
        opacity: 1;
        color: #383838 !important;
    }
}

.compare-table {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: left;

    .criteria-padding {
        padding-left: 10px;
    }

    th,
    td {
        border: 1px solid #000;
        padding: 6px 10px;
        font-size: 14px;
    }
}

.criteria-popup,
.promote-popup {
    .p-dialog .p-dialog-header span {
        color: #000000;
        font-size: 28px;
    }
}

.footprint-dashboard-container h2,
.footprint-dashboard-container-app-criteria h2 {
    font-size: 1.25rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide-close .p-button-icon-only {
    display: none;
}
.input-title .hide-close .p-inplace-content {
    flex-direction: column !important;
    align-items: unset !important;
}

app-top-header {
    .aboutMenuBtn {
        background-color: transparent !important;
        padding: 10px;
    }
    .orgNameMenuBtn {
        background-color: rgba(255, 255, 255, 0.2) !important;
        padding: 8px;
        border-radius: 4px;
    }
    .aboutMenuBtn.aboutMenuOpen,
    .orgNameMenuBtn.orgMenuOpen {
        background-color: var(--light-green-color) !important;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus {
        outline: 1px solid green;
    }

    .p-menu.p-menu-overlay {
        width: 375px;
        padding: 15px;
    }

    li.p-submenu-header:empty {
        display: none; /* or any other style */
    }

    .p-menu .p-submenu-header {
        padding: 0;
    }

    .p-menu .p-menuitem-link {
        color: var(--tints-black-80);
    }

    .p-menu .p-menuitem-link:hover {
        font-weight: 700;
        transition: 0.2s;
    }

    .top-header {
        .white-g4,
        .green-it {
            color: #fff;
            font-size: 33px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-top: 10px;
        }
        .green-it {
            color: #00ba00;
        }
    }

    .org-menu-new {
        display: none;
        position: absolute;
        color: black;
        top: 70px;
        right: 41px;
        max-height: 415px;
        z-index: 100;
    }

    .account-menu {
        display: none;
        color: var(--tints-black-100);
        top: 70px;
        right: 22px;
        width: 324px;
        position: absolute;
        height: 300px;
        z-index: 100;
    }

    .text-black {
        color: #000000;
    }

    .help-center-color {
        color: var(--tints-black-100);
    }

    .dialog-close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5rem;
    }

    .dialog-close-button {
        width: 2.5rem;
        height: 2.5rem;
        border: 0 none;
        background: black;
        border-radius: 50%;
        transition:
            background-color 0.2s,
            color 0.2s,
            box-shadow 0.2s;
        align-items: center;
    }

    .dialog-close-button:enabled:hover {
        border-color: transparent;
        background: rgba(0, 0, 0, 0.04);
    }

    @media screen and (max-width: 992px) {
        .mobile-menu .orgNameMenuBtn {
            width: 100%;
        }

        .top-header {
            z-index: 1156;
        }

        .org-menu-new {
            z-index: 1156 !important;
            top: 118px;
            right: 5%;
            width: 90%;
        }

        .sidebar-with-menu {
            height: calc(100vh - 145px);
        }
    }
}

app-left-sidebar {
    .logo-icon {
        z-index: 1000;
    }

    nav a:hover .nav-span-text {
        font-weight: 700;
        transition: 0.2s;
    }

    .ds-text {
        text-align: center;
        float: inline-start;
    }

    nav a {
        text-decoration: unset;
    }

    .span-font {
        font-size: 10px;
    }

    .extra-div {
        height: 24vh;
    }

    .home-padding {
        padding: 20px 27px;
    }

    .home-padding-zoomin {
        padding: 8px 26px;
    }

    .inventory-padding {
        padding: 20px 15px;
    }

    .inventory-padding-zoomin {
        padding: 8px 15px;
    }

    .digital-padding {
        padding: 20px 13px;
    }

    .digital-padding-zoomin {
        padding: 8px 13px;
    }

    .ecomind-padding {
        padding: 14px 7px;
    }

    .ecomind-padding-zoomin {
        padding: 7px;
    }

    .admin-padding {
        padding: 20px 7px;
    }

    .admin-padding-zoomin {
        padding: 8px 7px;
    }

    nav.left-sidebar-nav {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (max-width: 450px) {
        nav.left-sidebar-nav {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .add-z-index {
        z-index: 101;
    }

    .color-transparent {
        background: none;
        color: #c7c7c7;
    }

    .logo-z-index {
        z-index: 1002;
    }

    a.bg-light-green .color-transparent {
        background: none;
        color: #ffffff;
    }
}

app-spinner {
    .full-screen {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .spinner-overlay {
        transform: translate(-50%, -50%);
    }

    .ball-pulse,
    .ball-pulse > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .ball-pulse {
        width: 108px;
        height: 36px;
    }

    .ball-pulse > div {
        display: inline-block;
        background-color: white;
        width: 20px;
        height: 20px;
        margin: 8px;
        border-radius: 100%;
        -webkit-animation: ball-pulse 1s ease infinite;
        -o-animation: ball-pulse 1s ease infinite;
        animation: ball-pulse 1s ease infinite;
    }

    .ball-pulse > div:nth-child(1) {
        -webkit-animation-delay: -200ms;
        -o-animation-delay: -200ms;
        animation-delay: -200ms;
    }

    .ball-pulse > div:nth-child(2) {
        -webkit-animation-delay: -100ms;
        -o-animation-delay: -100ms;
        animation-delay: -100ms;
    }

    .ball-pulse > div:nth-child(3) {
        -webkit-animation-delay: 0ms;
        -o-animation-delay: 0ms;
        animation-delay: 0ms;
    }

    /*
 * Animation
 */
    @keyframes ball-pulse {
        0%,
        60%,
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        30% {
            opacity: 0.1;
            -webkit-transform: scale(0.01);
            -o-transform: scale(0.01);
            transform: scale(0.01);
        }
    }
}

app-version-type-tag {
    .status-tag {
        display: inline-flex;
        align-items: center;
        gap: 6px;

        padding: 4px 12px;

        border-radius: 4px;

        font-size: 16px;

        color: var(--blue-color);
        border: 1px solid var(--blue-color);
        font-weight: 800;
        background: rgba(54, 66, 229, 0.08);
    }

    .status-tag .pi {
        font-size: 16px;
    }

    .draft-brown-color {
        color: #000;
        border: 1px solid #000;
        background: #f2f2f2;
    }

    .archived-yellow-color {
        color: #9a5200;
        border: 1px solid #9a5200;
        background: #fff4d6;
    }
}

.bg-gray-color {
    background-color: #f8f8f8;
}

app-configure-view-filters,
app-base-filter-sidebar {
    .p-accordion .p-accordion-tab {
        box-shadow: none;
    }

    .p-accordion-header,
    .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
        outline: none;
    }
}

app-inventories-application-footprint {
    .segmented {
        background: #f3f4f6;
        border-radius: 999px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    }

    .segment {
        border: none;
        background: transparent;
        border-radius: 999px;
        color: #4b5563;
        transition: all 0.25s ease;
    }

    /* Active Button */
    .segment.active {
        background: var(--tertiary-color); /* nicer green */
        color: #ffffff;
        box-shadow: 0 2px 6px rgba(22, 163, 74, 0.35);
    }

    .segment:focus,
    .segment:active {
        outline: 2px solid #28a745;
    }

    /* Click feel */
    .segment:active {
        border-color: var(--tertiary-color);
        transform: scale(0.97);
    }
}

.box-shadow-pie {
    box-shadow: 0 2px 4px 0 rgba(28, 33, 29, 0.1);
}

app-inventory-item,
app-digital-services-item {
    .expiry-card {
        background: var(--red-light-bg);
        border: 1px solid var(--red-border-light);
        border-left: 5px solid var(--red-color);
        min-width: 310px;
        transition: all 0.2s ease;
    }

    .info-card {
        min-width: 220px;
    }

    .expiry-card:hover {
        background: var(--red-hover-bg);
        transform: translateY(-1px);
    }

    .expiry-icon,
    .expiry-link {
        color: var(--red-color);
    }

    .expiry-title {
        color: var(--dark-red-color);
    }

    .expiry-link {
        background-color: transparent;
    }
}

app-digital-services-import,
app-update-workspace-reference {
    .status-tag {
        border-radius: 4px;
        display: inline;
        padding: 8px;
        justify-content: center;
        align-items: center;
    }

    .green-tag {
        color: var(--light-green-color);
        border: 1px solid var(--light-green-color);
        background: rgba(0, 135, 0, 0.03);
    }

    .red-tag {
        color: #991b1b;
        border: 1px solid #dc2626;
        background: #fef2f2;
    }

    .yellow-tag {
        color: #92400e;
        border: 1px solid #f59e0b;
        background: #fffbeb;
    }

    .orange-tag {
        color: var(--warning-color);
        border: 1px solid var(--warning-color);
        background: rgba(232, 143, 22, 0.06);
    }
}

/* =========================================
   PrimeNG 21 Custom File Upload
   ========================================= */

.custom-file-upload {
    width: 240px !important;
    min-width: 240px !important;
    max-width: 240px !important;

    display: inline-block;
}

/* Hide native browser text */
.custom-file-upload input[type="file"] {
    display: none !important;
}

/* Main upload button */
.custom-file-upload .p-button {
    width: 240px !important;
    min-width: 240px !important;
    max-width: 240px !important;

    height: 48px;

    background: #111713;
    border: 2px solid #111713;
    border-radius: 4px;

    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: 600;

    overflow: hidden;

    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        color 0.2s ease;

    box-shadow: none;

    gap: 12px;
}
.custom-file-upload .p-button:not(.p-disabled):hover {
    background: #00ba00eb;
    border-color: transparent;
}

/* Disabled */
.custom-file-upload .p-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Selected file state */
.custom-file-upload.has-file .p-button {
    border-color: #20a84b !important;
}

/* Upload icon */
.custom-file-upload .p-button-icon {
    position: absolute;
    left: 16px;
    color: #ffffff !important;
    font-size: 1rem;
    flex-shrink: 0;
    margin-right: 0;
}

/* Filename / label */
.custom-file-upload .p-button-label {
    color: #ffffff !important;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    display: block;

    max-width: 170px;
    margin-left: 16px;
}

.p-fileupload-basic-content > span {
    display: none;
}

/* Remove default shadows */
.custom-file-upload .p-button.p-focus {
    box-shadow: none !important;
}

app-select-file {
    .p-select .p-select-label {
        width: 12rem;
    }
}

.p-menu-item:not(.p-disabled) .p-menu-item-content:hover {
    background: none;
}

app-base-filter-sidebar,
.p-drawer {
    .p-accordionpanel .p-accordionheader,
    .p-accordioncontent-content {
        background: transparent;
    }
}

p-sorticon {
    margin-left: 5px;
}

.inverse-axis-toggle {
    border-radius: 7px;
    background: var(--tints-black-20, #cacbca);
    padding: 3px;
}

.inverse-axis-toggle.off {
    background: var(--basics-tints-black-10, #e0e0e0);
    button {
        background: var(--basics-tints-black-10, #e0e0e0);
        color: var(--basics-tints-black-70, #5e615e);
    }
}

.inverse-axis-toggle.on {
    button {
        color: #ffffff;
        background: var(--light-green-color);
    }
}

.inverse-axis-toggle button:hover {
    opacity: 0.9;
}

.information-section {
    padding: 24px 16px;
    border-radius: 4px;
    border: 1px solid var(--Encart-stroke, #3642e5);
    background: var(--status-blue-5, #eff0fd);

    /* Thin */
    box-shadow: 0 2px 4px 0 rgba(28, 33, 29, 0.1);

    ul {
        margin: 0;
        li {
            list-style-type: disc;
            margin-left: 20px;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

ul.server-examples li {
    font-size: 14px;
    line-height: 20px;
}
