@import "variables";
@import "assets/themes/primeng-theme.scss";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

/* General */

:host,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
ul,
li,
button,
.round-button,
.round-button-selected {
    font-family: var(--defaut-font-style);
}

body,
html {
    height: 100%;
    background-color: var(--light-grey-color);
    margin: 0;
    padding: 0;
    color: var(--black-color);
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

h2,
h1,
.h2-title {
    font-size: 44px;
    line-height: 48px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-left: 10px;
}

h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
}

main {
    @include styleclass("py-4 px-5");
    background-color: var(--light-grey-color);
    overflow-y: clip;
    background-image: url("assets/images/background/blue-elipse.svg"),
        url("assets/images/background/yellow-elipse.svg"),
        url("assets/images/background/fingerprint-background.svg");
    background-repeat: no-repeat;
    background-position:
        bottom -475px left 38%,
        bottom -416px left 20%,
        bottom -3px right -238px;
    background-size:
        1800px 1000px,
        1500px 1000px,
        900px 122%;
}

/* Color & Background-color classes */
.color-tertiary {
    color: var(--tertiary-color);
}
.text-grey {
    color: var(--grey-text-color);
}
.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-tertiary {
    background-color: var(--tertiary-color);
}
.bg-light-green {
    background-color: var(--light-green-color);
}
.force-bg-white {
    background-color: white;
    color: var(--black-color);
}
.bg-black {
    background: var(--black-color);
}
.bg-grey {
    background: var(--grey-text-color);
}
.bg-dark-red {
    background: var(--dark-red-color);
}
.bg-warning {
    background: var(--warning-color);
}
.border-primary {
    border-color: var(--primary-color);
}
.border-tertiary {
    border-color: var(--tertiary-color);
}

.svg-white {
    filter: invert(0%) sepia(57%) saturate(26%) hue-rotate(90deg) brightness(223%)
        contrast(146%);
}

.w-2-5rem {
    width: 2.5rem;
}

.h-2-5rem {
    height: 2.5rem;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.h-2px {
    height: 2px;
}

.p-1-5 {
    padding: 0.35rem;
}

.text-2xs {
    font-size: 0.6rem;
}

.text-hidden {
    font-size: 0 !important;
}

.header-button {
    @include styleclass("uppercase py-3 px-4 letter-spacing-2 mx-2");
}

.error-text {
    color: #b00020;
    font-size: 15px;
    margin: 5px;
}

/* Header */

.header {
    background-color: var(--black-color);
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
}

.full-height-width {
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-sidebar {
    position: relative;
    width: 100px;
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--black-color);
}

/* Header Panel */

.org-menu {
    display: none;
    position: absolute;
    top: 102px;
    left: 58px;
    z-index: 99;
    max-height: 80vh;
}

/* Error page */

.error-header {
    position: relative;
    height: 80px;
    flex-shrink: 0;
    background-color: var(--header-color);
    width: 100%;
    background-image: url("assets/images/background/fingerprint.svg"),
        url("assets/images/background/fingerprint.svg");
    background-repeat: no-repeat;
    background-position:
        top -139px left -10px,
        top -488px left 841px;
    background-size:
        967px 1146px,
        771px 1096px;
    overflow: hidden;
}

/* Buttons */

.black-button,
.white-button,
.grey-button,
.yellow-button,
.reset-button {
    border: none;
    font-weight: 500;
    letter-spacing: 2px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 20px !important;
    text-transform: uppercase;
}

.reset-button {
    color: black;
    border: 1px solid #e5e5e5;
    background: transparent;
    font-weight: 700;
    outline: none;
    box-shadow: none;
}

.black-button,
.black-button-sidebar {
    background: var(--black-color);
    color: white;
}

.white-button {
    background: white;
    color: var(--black-color);
}

.white-button .pi.icon {
    margin-right: 8px;
    font-size: 16px;
    color: #2b2b2b;
}

.grey-button,
.grey-button-sidebar {
    background: rgb(205, 205, 205);
    color: var(--black-color);
}

.white-button,
.white-button-sidebar {
    background: var(--white-color);
    color: black;
}

.yellow-button,
.yellow-button-sidebar,
.yellow-button-file {
    background: var(--secondary-color);
    color: var(--black-color);
}

.black-button-small {
    font-weight: 50;
    letter-spacing: 2px;
    background: var(--black-color);
    color: white;
    max-height: 30px;
    font-size: 11px;
    white-space: nowrap;
}

.inventory-button-small {
    z-index: 10;
    letter-spacing: 2px;
    max-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    background: var(--secondary-color);
    color: var(--black-color);
}

.inventory-button-small:disabled span {
    color: var(--black-color) !important;
}

.round-button,
.round-button-selected {
    height: 28px;
    width: 90px;
    font-size: 12px;
    font-weight: 900;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: var(--black-color);
}

.round-button-selected {
    background: var(--secondary-color);
}

.round-button {
    background: none;
}

.p-button-plain.header-button:hover {
    background-color: var(--tertiary-color) !important;
    span {
        color: white !important;
    }
}

/* Radio Buttons */

.radio-button-right {
    right: 15px;
}

.radio-button-selection:focus-within {
    outline: 2px solid #28a745;
}

.p-button:focus {
    outline: 2px solid #28a745;
}

.p-sidebar {
    z-index: 1300;
}

.radio-button-selection .p-divider-vertical.p-divider-center {
    margin: 0;
}

.white-radio-buttons .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: white;
}
.white-radio-buttons .p-radiobutton .p-radiobutton-box {
    border: 2px solid white !important;
}

.p-radiobutton-box.p-focus {
    border: none !important;
    background-color: var(--tertiary-color) !important;

    .p-radiobutton-icon {
        background-color: white !important;
    }
}

/* Icons */

.icon-running {
    font-size: 26px;
    color: var(--tertiary-color);
}

.small-info {
    width: 12px;
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.footprint-data-application span {
    @include styleclass("text-2xl");
}

/* Inventories page */

.input-loading-files {
    margin-top: 15px;
    overflow: auto;
    max-height: 340px;
}

.input-loading-files div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

/* Detail Inventaire */

.inventory-list {
    margin-right: 20px;
}

.inventory-list .p-accordion-content {
    padding-top: 0px;
}

.inventory-list .p-accordion .p-accordion-tab {
    margin-bottom: 20px;
}

.loading-data-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    padding: 0px;
}

.loading-data-container div {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Information System */
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 2px solid black !important;
}

/* sidebar */
.p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    color: #0f172a;
    background: #e2e8f0;
}

.p-datepicker .p-monthpicker .p-monthpicker-month:focus {
    color: #0f172a;
    background: #e2e8f0;
}

.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
    outline: 2px solid black !important;
}

#settings-sidebar .p-sidebar .p-sidebar-header .p-sidebar-close,
#settings-sidebar .p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover {
    color: white;
}

#settings-sidebar .p-sidebar .p-sidebar-header .p-sidebar-close:focus,
#settings-sidebar .p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
    outline: 2px solid white !important;
}

#separator {
    @extend .visually-hidden;
}
/* Add file side panel */

.side-panel-title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 12px;
    outline: none;
}

.button-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 50px;
    display: flex;
}

/* SELECT FILE */

.type-dropdown {
    width: 300px;
    margin-right: 10px;
}

/* Footprint page */

.footprint-dashboard-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 60% 38%;
    grid-gap: 30px;
}

.footprint-dashboard-container-app-criteria {
    display: grid;
    grid-template-columns: 70% 28%;
    grid-gap: 30px;
}

.chart-container {
    height: 98%;
    padding: 20px;
    background-color: white;
}

.chart-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.no-data-round,
.no-data-half,
.no-data-digital-service,
.no-data-bar {
    text-align: center;
    display: flex !important;
    margin: 0 !important;
    align-content: center !important;
    justify-content: center !important;
}

.no-data-round,
.no-data-half {
    height: 50vh !important;
    margin-top: 25px !important;
}
.no-data-bar {
    height: 40vh !important;
    border-bottom: 1px solid black;
    margin: 50px !important;
}
.no-data-digital-service {
    height: 45vh !important;
    flex-wrap: wrap;
}

.no-data-half {
    background-image: url("assets/images/graphs/empty-half-graph.svg");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 55%;
}

.no-data-round {
    background-image: url("assets/images/graphs/empty-round-graph.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.text-round-empty,
.text-half-empty {
    font-size: 20px;
}

.text-no-data-critere,
.text-no-data-global {
    color: var(--grey-text-color);
}

.text-no-data-global {
    font-size: 8px;
}

.side-data-title {
    display: flex;
    margin-bottom: 8px;
}

.side-data-title span {
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-bottom: 14px;
    padding-top: 10px;
}

.side-data-title span::after {
    content: "";
    position: absolute;
    bottom: -4px;
    transform: translateX(-142%);
    width: 70%;
    height: 2px;
    background-color: var(--primary-color);
}

.rmv-padding-card .p-card-content,
.rmv-padding-card .p-card-body {
    @include styleclass("p-0");
}

.round-button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 8px;
}

/* Filter component */

.filter-component {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:
        0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.filter-component img {
    margin-right: 20px;
}

.p-overlay p-checkbox {
    margin: 12px;
}

.filter-component .p-4 {
    height: 360px;
}

.filter-overlay .p-scrollpanel-bar-x {
    display: none;
}

// Filter with search: depreciated
.filter-component .p-multiselect {
    width: -webkit-fill-available;
}

/**
* DIGITAL SERVICE
**/

.digital-services-card {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 15px;
}

.digital-services-card .p-card-body {
    padding: 5px;
    padding-left: 15px;
}

.input-title .p-inplace-display {
    display: block !important;
}

.p-inplace .p-inplace-display:focus {
    outline: 2px solid black !important;
}

.p-datatable .p-sortable-column:focus {
    outline: 2px dashed black !important;
}

.input-title .p-inplace-content {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.input-title .p-inplace .p-inplace-display,
.input-title .p-inputtext {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Visualize Digital Services */

.footprint-digital-dashboard-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
}

.digital-service-chart-container {
    width: 150%;
    padding: 20px;
    border-radius: 4px 0 0 4px;
}

.digital-service-chart-container div h4 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--tertiary-color);
    cursor: pointer;
}

.digital-service-chart-container div h3 {
    margin: 10px;
    font-size: 26px;
}

.information-car-digital-service {
    padding-top: 76px;
    padding-right: 30px;
    width: -webkit-fill-available;
    border-radius: 0 4px 4px 0;
}

/* Critere buttons */
.check-icon-corner {
    position: absolute;
    right: 9px;
    top: 8px;
}

/* Terminals page */

.table-container {
    margin-top: 10px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-sortable-column .p-sortable-column-icon,
.grey-text {
    color: var(--dark-grey-color);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/*Side panel Terminals page */

.lg-file-panel-margin {
    margin-right: 40px;
    margin-left: 40px;
}

.terminal-grid-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 1fr));
    grid-gap: 20px;
    justify-items: start;
}

.dropdown-terminal .p-dropdown-label.p-placeholder {
    color: var(--black-color);
    font-size: 15px;
    width: 100%;
}

.label-input-div,
.label-input-div-full,
.label-input-div-medium {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.label-input-div-full .p-inputtext {
    width: 100%;
}

.label-input-div .p-inputtext {
    width: 400px;
}

.label-input-div .p-dropdown-label {
    width: 360px;
}

.label-input-div label,
.label-input-div-full label,
.label-input-div-medium label {
    font-size: 12px;
}

/* Previous Next paginator css */

.p-paginator .p-paginator-prev::after {
    content: "<-";
    padding: 5px;
}

.p-paginator .p-paginator-next::after {
    content: "->";
    padding: 5px;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-prev .p-paginator-icon,
.p-paginator .p-paginator-next .p-paginator-icon {
    display: none;
}

.terminal-table-column {
    width: 20%;
}

// Servers

.underlined-div {
    margin-bottom: 3px;
    border-bottom: 3px solid var(--primary-color);
    width: 100%;
    margin-top: 8px;
}

.underlined-div-small {
    margin-bottom: 3px;
    border-bottom: 3px solid var(--primary-color);
    width: 98%;
    margin-top: 30px;
}

span.inputnumber-small.p-inputnumber.p-component {
    width: 100%;
}

span.inputnumber-medium.p-inputnumber.p-component {
    width: 100%;
}

span.inputnumber-medium.p-inputtext.p-component {
    width: 100%;
}

div.label-input-div-server {
    margin-right: 15px;
    width: 31.5%;
}

div.label-input-div-medium {
    margin-right: 15px;
    width: 50%;
}

.label-input-div-full-server .p-dropdown {
    width: 100%;
}

.label-input-div-full-server .p-inputtext {
    width: 97%;
}

.p-disabled,
.p-component:disabled {
    opacity: 1;
    color: gray !important;
}

.p-progressbar {
    border: 0 none;
    border-radius: 10px;
    height: 21px;
    width: 75%;
    color: var(--tertiary-color);
}

.p-accordion .p-accordion-tab .p-accordion-toggle-icon {
    margin-left: inherit !important;
    transition: transform 0.2s;
    order: 0;
}

.p-accordion p-accordiontab:first-child .p-accordion-header .p-accordion-header-link {
    height: 50px;
}

.p-accordion .p-accordion-tab:not(.p-accordion-tab-active) .p-accordion-toggle-icon {
    transform: rotate(-270deg);
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    outline: 2px solid black;
}

.p-accordion {
    padding: 10px;
}

.bg-transparent {
    background-color: transparent !important;
}

.transparentBackgound .p-accordion p-accordiontab:first-child .p-accordion-content {
    background-color: transparent;
}

.disabled-text-black {
    .p-disabled,
    .p-component:disabled {
        color: black !important;
    }
}

.inventory-add-button-small,
.inventory-attached-button-small {
    border-radius: 15px;
    z-index: 10;
    letter-spacing: 2px;
    max-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 11px;
}

.inventory-add-button-small {
    background: none;
    color: var(--black-color);
    padding-left: 30px;
    padding-right: 30px;
}

.inventory-attached-button-small {
    background: rgb(201, 201, 201);
    color: var(--black-color);
}

.confirm-popup-editor {
    .p-confirm-popup .p-component {
        display: none;
    }
}

.input-width {
    width: 246px;
    height: 40px;
    margin-right: 20px;
}

.p-dialog .p-dialog-header .p-dialog-title {
    color: #b00020;
}

.full-screen {
    background: transparent;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 90;
}

/*Administration panel*/

.footprint-tabmenu {
    .p-tabmenu-nav-prev,
    .p-tabmenu-nav-next {
        background-color: #e8e8e8;
    }

    .p-tabmenu-nav-container {
        width: calc(100vw - 178px);
        overflow: hidden;
        position: relative;
    }

    .p-tabmenu-nav-content {
        width: calc(100vw - 230px);
    }

    .p-tabmenu-nav-content ul {
        border: none;
    }
    .p-tabmenu-nav-content ul li {
        border: solid rgba(0, 0, 0, 0.12);
        border-width: 0 0 1px 0;
    }
}

.p-scrollpanel-bar {
    width: 10px;
}

.p-scrollpanel-content {
    scrollbar-width: thin;
}

.header-share-count .p-button span.pi-users {
    font-size: 2rem;
}
app-top-header {
    .aboutMenuBtn {
        background-color: transparent !important;
        padding: 10px;
    }
    .orgNameMenuBtn {
        background-color: rgba(255, 255, 255, 0.2) !important;
        padding: 10px;
    }
    .aboutMenuBtn.aboutMenuOpen,
    .orgNameMenuBtn.orgMenuOpen {
        background-color: var(--light-green-color) !important;
        padding-top: 27px;
        padding-bottom: 27px;
    }

    .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus {
        outline: 1px solid green;
    }

    .p-menu.p-menu-overlay {
        width: 375px;
        padding: 15px;
    }

    li.p-submenu-header:empty {
        display: none; /* or any other style */
    }

    .p-menu .p-submenu-header {
        padding: 0;
    }

    .p-menu .p-menuitem-link {
        color: var(--tints-black-80);
    }

    .p-menu .p-menuitem-link:hover {
        font-weight: 700;
        transition: 0.2s;
    }
}

.border-light-grey-color {
    border-color: var(--tints-black-60);
}
