@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

:root {
    /* Fonts */
    --defaut-font-style: "Overpass", sans-serif;

    /* Colors */
    --primary-color: #00baff;
    --secondary-color: #ffbd00;
    --tertiary-color: #006600;
    --black-color: #1c211d;
    --light-grey-color: #f5f5f5;
    --grey-text-color: #a2a0a0;
    --dark-grey-color: #4d4c4c;
    --header-color: #010f03;
    --dark-red-color: #86251e;
    --light-green-color: #00ba00;
    --warning-color: #e66700;
}
