<div class="footprint-dashboard-container-app-criteria mt-3">
    <div class="chart-container">
        <span>
            @if (footprintStore.appGraphType() === "global") {
                <h3
                    tabindex="0"
                    attr.aria-label="{{ selectedCriteria().title }}{{
                        'inventories-footprint.application.critere.graph.title'
                            | translate
                    }}"
                >
                    {{ "inventories-footprint.global.global-vision" | translate }}
                    ({{ "common.peopleeq-min" | translate }})
                </h3>
            } @else {
                <h4
                    class="cursor-pointer m-0 text-xl color-tertiary"
                    (click)="onArrowClick()"
                    tabindex="0"
                    attr.aria-label="{{
                        'inventories-footprint.application.selected-infos' | translate
                    }}{{ footprintStore.appDomain() }}{{
                        footprintStore.appSubDomain()
                    }}{{ footprintStore.appApplication() }}"
                >
                    <img
                        src="assets/images/icons/icon-green-arrow-left.svg"
                        alt=""
                        class="button-icon"
                    />
                    {{ "inventories-footprint.global.global-vision" | translate }}
                    {{
                        footprintStore.appGraphType() === "subdomain"
                            ? " / " + footprintStore.appDomain()
                            : footprintStore.appGraphType() === "application"
                              ? " / " +
                                footprintStore.appDomain() +
                                " / " +
                                footprintStore.appSubDomain()
                              : ""
                    }}
                </h4>
                @if (footprintStore.appGraphType() === "domain") {
                    <h3
                        tabindex="0"
                        attr.aria-label="{{
                            'inventories-footprint.application.domain-view' | translate
                        }}{{ selectedCriteria().title }}{{
                            'inventories-footprint.application.critere.graph.title'
                                | translate
                        }}"
                    >
                        {{ footprintStore.appDomain() }}
                        ({{ "common.peopleeq-min" | translate }})
                    </h3>
                }
                @if (footprintStore.appGraphType() === "subdomain") {
                    <h3
                        tabindex="0"
                        attr.aria-label="{{
                            'inventories-footprint.application.subdomain-view' | translate
                        }}{{ selectedCriteria().title }}{{
                            'inventories-footprint.application.critere.graph.title'
                                | translate
                        }}"
                    >
                        {{ footprintStore.appSubDomain() }}
                        ({{ "common.peopleeq-min" | translate }})
                    </h3>
                }
                @if (footprintStore.appGraphType() === "application") {
                    <h3
                        tabindex="0"
                        attr.aria-label="{{
                            'inventories-footprint.application.application-view'
                                | translate
                        }}{{ selectedCriteria().title }}{{
                            'inventories-footprint.application.critere.graph.title'
                                | translate
                        }}"
                    >
                        {{ footprintStore.appApplication() }}
                        ({{ "common.peopleeq-min" | translate }})
                    </h3>
                }
            }
        </span>
        @if (noData()) {
            <div class="no-data-round">
                <p tabindex="0" class="text-round-empty">
                    {{ "common.no-data" | translate }}
                </p>
            </div>
        } @else {
            <div
                tabindex="0"
                echarts
                class="bar-stack m-0"
                [options]="options()"
                style="height: 53vh"
                (chartClick)="onChartClick($event)"
            ></div>
        }
    </div>
    <div>
        <app-criteria-stats [footprint]="footprint"> </app-criteria-stats>
        <app-application-criteria-pie-chart
            [footprint]="footprint"
        ></app-application-criteria-pie-chart>
    </div>
</div>
