<p-toast #toast position="bottom-center"></p-toast>
@if (sidebarVisible) {
    <p-drawer
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="drawer-lg"
        [showCloseIcon]="true"
        (onHide)="focusPrevButton(); sidebarVisible = false"
        ariaCloseLabel="Close"
    >
        <app-common-editor
            [content]="digitalService.note?.content"
            [title]="'digital-services.version.context-and-assumptions' | translate"
            [isWriteRole]="userService.isAllowedDigitalServiceWrite$ | async"
            (saveValue)="noteSaveValue($event)"
            (outClose)="focusPrevButton(); sidebarVisible = $event"
            (delete)="noteDelete(); sidebarVisible = $event"
            styleClass="m-0"
        >
        </app-common-editor>
    </p-drawer>
}

<p-confirmpopup [style]="{ width: '450px' }"></p-confirmpopup>
<div class="flex justify-content-between align-items-center flex-wrap">
    <div class="block relative w-full lg:w-auto md:flex align-items-center">
        @if (!isSharedDs) {
            <p-button
                (onClick)="backButton()"
                styleClass="cancel-creation-button uppercase mr-2 mb-2 lg:mb-0"
                [ariaLabel]="'digital-services.return' | translate"
                icon="pi pi-arrow-left"
                [label]="'digital-services.back' | translate"
                id="return-button"
            />
        }

        @if (isMobile()) {
            <button
                class="kebab-div"
                (click)="
                    showKebabMenu = !showKebabMenu; digitalMobileOptionsChange.emit(true)
                "
                [ngClass]="{ 'kebab-div-green': showKebabMenu }"
                [attr.aria-label]="
                    (showKebabMenu
                        ? 'digital-services.hide-menu-buttons'
                        : 'digital-services.show-menu-buttons'
                    ) | translate
                "
            >
                <div
                    class="kebab-menu-icon mb-2 lg:mb-0"
                    [ngClass]="{ 'bg-white': showKebabMenu }"
                ></div>
            </button>
        }

        <div class="input-title flex align-items-center">
            @if (!(userService.isAllowedDigitalServiceWrite$ | async)) {
                <h1 class="text-xl px-2 color-black-seventy lg:text-4xl">
                    {{ digitalService.name }}
                </h1>
            }
            @if (userService.isAllowedDigitalServiceWrite$ | async) {
                <p-inplace
                    [closable]="true"
                    [closeAriaLabel]="'digital-services.save-inplace' | translate"
                    [preventClick]="digitalService.name === ''"
                    (onDeactivate)="onNameUpdate(digitalService.name, true)"
                    styleClass="inline-block w-auto color-black-seventy lg:w-24rem md:w-15rem"
                    [ngClass]="{ 'hide-close': disableDs }"
                >
                    <ng-template pTemplate="display">
                        <h1 class="text-xl px-2 color-black-seventy lg:text-4xl">
                            {{ digitalService.name }}
                        </h1>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <label for="digitalServiceName" class="visually-hidden">
                            {{
                                "digital-services.version.ds-name-placeholder" | translate
                            }}
                        </label>
                        <input
                            id="digitalServiceName"
                            type="text"
                            class="text-xl font-semibold color-black-seventy px-2 mr-2 w-11 lg:text-4xl"
                            pInputText
                            [(ngModel)]="digitalService.name"
                            [required]="true"
                            (ngModelChange)="validateDs($event)"
                            [ngClass]="{ 'ng-dirty ng-invalid': disableDs }"
                        />
                        @if (disableDs) {
                            <span class="error-text block">
                                {{
                                    "digital-services.error.digital-service-already-exists"
                                        | translate
                                }}
                            </span>
                        }
                    </ng-template>
                    <ng-template pTemplate="closeicon">
                        <i class="pi pi-check"></i>
                    </ng-template>
                </p-inplace>
            }
        </div>
        @if (digitalService.name) {
            <i class="pi pi-angle-right text-2xl"></i>
        }

        @if (!isManageVersions() && !isCompareVersions()) {
            @if (digitalService.versionType) {
                <app-version-type-tag
                    [versionType]="digitalService.versionType"
                ></app-version-type-tag>
            }

            <div class="input-title flex align-items-center">
                @if (!(userService.isAllowedDigitalServiceWrite$ | async)) {
                    <h2 class="text-xl px-2 lg:text-4xl">
                        {{ digitalService.description }}
                    </h2>
                }
                @if (userService.isAllowedDigitalServiceWrite$ | async) {
                    <p-inplace
                        [closable]="true"
                        [closeAriaLabel]="'digital-services.save-inplace' | translate"
                        [preventClick]="digitalService.description === ''"
                        (onDeactivate)="onNameUpdate(digitalService.description!, false)"
                        styleClass="inline-block w-auto  lg:w-18rem md:w-15rem"
                        [ngClass]="{ 'hide-close': disableVersion }"
                    >
                        <ng-template pTemplate="display">
                            <h2 class="text-xl px-2 lg:text-4xl">
                                {{ digitalService.description }}
                            </h2>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <label
                                for="digitalServiceDescription"
                                class="visually-hidden"
                            >
                                {{
                                    "digital-services.version.ds-version-name-placeholder"
                                        | translate
                                }}
                            </label>
                            <input
                                id="digitalServiceDescription"
                                type="text"
                                class="text-xl font-semibold px-2 mr-2 w-11 lg:text-4xl"
                                pInputText
                                [(ngModel)]="digitalService.description"
                                [required]="true"
                                (ngModelChange)="validateVersion($event)"
                                [ngClass]="{ 'ng-dirty ng-invalid': disableVersion }"
                            />
                            @if (disableVersion) {
                                <span class="error-text block">
                                    {{
                                        "digital-services.error.digital-service-version-already-exists"
                                            | translate
                                    }}
                                </span>
                            }
                        </ng-template>
                        <ng-template pTemplate="closeicon">
                            <i class="pi pi-check"></i>
                        </ng-template>
                    </p-inplace>
                }
            </div>
        }

        @if (isManageVersions()) {
            <h2 class="ml-3">
                {{ "digital-services.version.versions-management" | translate }}
            </h2>
        }
        @if (isCompareVersions()) {
            <h2 class="ml-3">
                {{ "digital-services.version.compare-versions-title" | translate }}
            </h2>
        }
    </div>
    @if ((showKebabMenu || !isMobile()) && !isManageVersions() && !isCompareVersions()) {
        <div class="mr-3 block align-items-center lg:flex">
            @if (userService.isAllowedDigitalServiceRead$ | async) {
                <p-button
                    (onClick)="goToManageVersions()"
                    styleClass="cancel-creation-button uppercase ml-1 mr-2 mb-3 lg:mb-0"
                    [ariaLabel]="'digital-services.version.manage-versions' | translate"
                    icon="pi pi-file"
                    [label]="'digital-services.version.manage-versions' | translate"
                    id="manage-versions"
                />
            }
            @if (
                !isEcoMindAi() &&
                !digitalService.note &&
                (userService.isAllowedDigitalServiceWrite$ | async)
            ) {
                <p-button
                    #noteBtn
                    (onClick)="sidebarVisible = true"
                    styleClass="cancel-creation-button uppercase mx-2 mb-3 lg:mb-0"
                    [ariaLabel]="'common.accessibility.add-context' | translate"
                    icon="pi pi-pen-to-square"
                    id="add-note"
                    tooltipPosition="bottom"
                    [label]="
                        'digital-services.version.add-context-assumptions' | translate
                    "
                />
            }

            @if (!isEcoMindAi() && digitalService.note) {
                <p-button
                    #noteBtn
                    (onClick)="sidebarVisible = true"
                    styleClass="cancel-creation-button uppercase mx-2 mb-3 lg:mb-0"
                    [ariaLabel]="'common.accessibility.edit-context' | translate"
                    icon="pi pi-pen-to-square"
                    tooltipPosition="bottom"
                    [label]="
                        'digital-services.version.edit-context-assumptions' | translate
                    "
                />
            }

            @if (!isEcoMindAi() && (userService.isAllowedDigitalServiceWrite$ | async)) {
                <p-button
                    [ariaLabel]="
                        (digitalService.isShared
                            ? 'common.accessibility.shared'
                            : 'common.accessibility.share'
                        ) | translate
                    "
                    styleClass="p-button-secondary-blue uppercase mx-2 mb-3 lg:mb-0"
                    (onClick)="shareDs()"
                    icon="pi pi-share-alt"
                    [pTooltip]="
                        (digitalService.isShared
                            ? 'digital-services.shared'
                            : 'digital-services.share'
                        ) | translate
                    "
                    tooltipPosition="bottom"
                />

                <p-button
                    #importBtn
                    [ariaLabel]="'common.accessibility.import' | translate"
                    styleClass="p-button-secondary-blue uppercase mx-2 mb-3 lg:mb-0"
                    (onClick)="importData()"
                    icon="pi pi-upload"
                    [pTooltip]="'digital-services.import' | translate"
                    tooltipPosition="bottom"
                />

                <!-- Import Sidebar -->
                @if (importSidebarVisible) {
                    <p-drawer
                        [(visible)]="importSidebarVisible"
                        position="right"
                        [showCloseIcon]="true"
                        (onHide)="
                            importBtn?.el?.nativeElement
                                ?.querySelector('button')
                                ?.focus();
                            importSidebarVisible = false
                        "
                        ariaCloseLabel="Close"
                        styleClass="drawer-lg"
                    >
                        <ng-template #headless>
                            <app-digital-services-import
                                (sidebarVisibleChange)="
                                    importBtn?.el?.nativeElement
                                        ?.querySelector('button')
                                        ?.focus();
                                    importSidebarVisible = $event
                                "
                            />
                        </ng-template>
                    </p-drawer>
                }
            }

            @if (userService.isAllowedDigitalServiceRead$ | async) {
                <p-button
                    [ariaLabel]="'common.accessibility.download' | translate"
                    styleClass="p-button-secondary-blue uppercase mx-2 mb-3 lg:mb-0"
                    (onClick)="exportData()"
                    [disabled]="digitalService.lastCalculationDate === undefined"
                    icon="pi pi-download"
                    [pTooltip]="'inventories-footprint.header.export' | translate"
                    tooltipPosition="bottom"
                />
            }
            @if (userService.isAllowedDigitalServiceWrite$ | async) {
                <p-button
                    styleClass="header-blue-btn ml-2 mb-3 lg:mb-0"
                    icon="pi pi-clone"
                    id="duplicate-version"
                    [pTooltip]="'digital-services.version.duplicate-version' | translate"
                    tooltipPosition="bottom"
                    [ariaLabel]="'digital-services.version.duplicate-version' | translate"
                    (onClick)="duplicateDigitalServiceVersion()"
                >
                </p-button>
            }
            @if (digitalService.versionType === "draft") {
                @if (userService.isAllowedDigitalServiceWrite$ | async) {
                    <p-button
                        styleClass="header-blue-btn ml-2 mb-3 lg:mb-0"
                        icon="pi pi-star"
                        id="promote-version"
                        [pTooltip]="
                            'digital-services.version.promote-version' | translate
                        "
                        tooltipPosition="bottom"
                        [ariaLabel]="
                            'digital-services.version.aria-promote-version' | translate
                        "
                        (onClick)="isPromoteVersionDialogVisible = true"
                    >
                    </p-button>
                }
            }

            @if (digitalService.versionType !== "active") {
                @if (userService.isAllowedDigitalServiceWrite$ | async) {
                    <p-button
                        styleClass="header-delete-btn ml-2 mb-3 lg:mb-0"
                        (onClick)="confirmDelete($event)"
                        icon="pi pi-trash"
                        [ariaLabel]="
                            'digital-services.delete-criteria'
                                | translate: { digitalServiceName: digitalService.name }
                        "
                        id="delete-service"
                    />
                }
            }
        </div>
    }
</div>

@if (displayLinkCreatePopup && !global.loading()) {
    <app-link-create-popup
        [displayPopup]="displayLinkCreatePopup"
        (outClose)="displayLinkCreatePopup = false"
        (outExtendDate)="extendShareLinkDate()"
        [sharedLink]="shareLink"
        [expiryDate]="expiryDate"
    >
    </app-link-create-popup>
}

@if (isPromoteVersionDialogVisible) {
    <app-promote-version-dialog
        [dsvId]="digitalServiceVersionUid"
        [displayPopup]="isPromoteVersionDialogVisible"
        (outClose)="isPromoteVersionDialogVisible = false"
        (promotedEvent)="getDigitalServiceversion()"
    ></app-promote-version-dialog>
}
@if (displayRenewServicePopup && !global.loading()) {
    <app-renew-service-popup
        [displayPopup]="displayRenewServicePopup"
        [serviceId]="digitalService.uid"
        (outClose)="displayRenewServicePopup = false"
    >
    </app-renew-service-popup>
}
