<p-toast #toast position="bottom-center"></p-toast>
<div class="flex justify-content-between align-items-center flex-wrap mb-2">
    <div>
        <div
            class="green-dashboard-title"
            [routerLink]="changePageToDigitalServices()"
            tabindex="0"
            role="button"
            [attr.aria-label]="'digital-services.return' | translate"
        >
            <img
                src="assets/images/icons/icon-green-arrow-left.svg"
                alt=""
                class="button-icon"
            />
            {{ "digital-services.title" | translate }}
        </div>
        <div class="input-title">
            <span
                *ngIf="!(userService.isAllowedDigitalServiceWrite$ | async)"
                class="h2-title"
                >{{ digitalService.name }}</span
            >
            <p-inplace
                *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                [closable]="true"
                [preventClick]="digitalService.name === ''"
                (onDeactivate)="onNameUpdate(digitalService.name)"
            >
                <ng-template pTemplate="display">
                    <span class="h2-title">{{ digitalService.name }}</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <input
                        type="text"
                        class="h2-title"
                        style="margin-right: 10px"
                        pInputText
                        [(ngModel)]="digitalService.name"
                        [required]="true"
                    />
                </ng-template>
                <ng-template pTemplate="closeicon">
                    <i class="pi pi-check"></i>
                </ng-template>
            </p-inplace>
        </div>
    </div>
    <div class="mr-4">
        <p-sidebar
            [(visible)]="sidebarVisible"
            position="right"
            styleClass="p-sidebar-md w-7"
            [showCloseIcon]="true"
        >
            <app-common-editor
                [content]="digitalService.note?.content"
                [showButtons]="userService.isAllowedDigitalServiceWrite$ | async"
                (saveValue)="noteSaveValue($event)"
                (close)="sidebarVisible = $event"
                (delete)="noteDelete(); sidebarVisible = $event"
                styleClass="mx-7"
            >
            </app-common-editor>
        </p-sidebar>

        <span *ngIf="userService.isAllowedDigitalServiceWrite$ | async">
            <p-button
                (click)="sidebarVisible = true"
                [tabindex]="0"
                styleClass="white-button"
                attr.aria-label="{{ 'common.accessibility.addNote' | translate }}"
                *ngIf="!digitalService.note"
            >
                <img
                    class="w-1rem h-1rem uppercase mr-2"
                    src="assets/images/icons/icon-plus.svg"
                    alt="{{ 'common.accessibility.addNote' | translate }}"
                />
                {{ "common.note.add" | translate }}
            </p-button>
        </span>
        <p-button
            (click)="sidebarVisible = true"
            [tabindex]="0"
            styleClass="white-button"
            attr.aria-label="{{ 'common.accessibility.attachedNote' | translate }}"
            *ngIf="digitalService.note"
        >
            <img
                class="w-1rem h-1rem uppercase mr-2"
                src="assets/images/icons/icon-note.svg"
                alt="{{ 'common.accessibility.attachedNote' | translate }}"
            />
            {{ "common.note.attached" | translate }}
        </p-button>
        <p-button
            *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
            styleClass="black-button"
            class="disabled-text-black"
            [disabled]="disableCalcul"
            (onClick)="launchCalcul()"
        >
            {{ "common.calculate" | translate }}
        </p-button>
        <p-button
            *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
            severity="danger"
            styleClass="ml-3"
            [rounded]="true"
            [text]="true"
            [raised]="true"
            (click)="confirmDelete($event)"
        >
            <img
                src="assets/images/icons/icon-trash-digital.svg"
                alt="{{ 'common.delete' | translate }} {{ digitalService.name }}"
            />
        </p-button>
        <p-confirmPopup [style]="{ width: '450px' }"></p-confirmPopup>
    </div>
</div>
