@if (visible) {
    <p-sidebar
        [(visible)]="visible"
        position="right"
        styleClass="p-sidebar-md w-4"
        (onHide)="sidenavClosed()"
    >
        <div class="m-4">
            <div>
                <h4 class="mb-1">{{ "digital-services.creatorInfo" | translate }}</h4>
                <div class="h-2rem border-top-2 border-primary p-0"></div>
                <p class="text-xl">
                    {{ creator?.firstName + " " + creator?.lastName }}
                </p>
            </div>
            <div>
                <h4 class="mt-5 pt-5 mb-1">
                    {{ "digital-services.membersInfo" | translate }}
                </h4>
                <div class="h-2rem border-top-2 border-primary p-0"></div>
                @for (member of members; track member.id) {
                    <p class="text-xl">
                        {{ member?.firstName + " " + member?.lastName }}
                    </p>
                }
            </div>
        </div>
    </p-sidebar>
}
