<div class="layout-errror">
    <div class="error-header">
        <a href="."
            ><img
                src="assets/images/logos/logo-overgreen.svg"
                alt=""
                class="top-header-error-logo"
        /></a>
        <h3 class="error-page-title">{{ errorTitle }}</h3>
        <img
            src="assets/images/logos/logo-ssg.svg"
            alt=""
            class="top-right-header-logo"
        />
    </div>
    <main>
        <p class="error-page-text">{{ errorText }}</p>
    </main>
</div>
