<div
    class="filter-component"
    (click)="overlayVisible = !overlayVisible"
    label="Show Overlay"
    tabindex="0"
    role="button"
    [attr.aria-label]="'common.access-filters' | translate"
>
    <div>
        <img src="assets/images/icons/icon-filter.svg" alt="" />
        <span>{{ "inventories-footprint.filter" | translate }}</span>
    </div>
    <img src="assets/images/icons/icon-accordion-fold.svg" alt="" />
</div>
<p-overlay
    [(visible)]="overlayVisible"
    [responsive]="{
        breakpoint: '640px',
        direction: 'bottom',
        contentStyleClass: 'h-20rem',
    }"
    contentStyleClass="p-4 surface-overlay shadow-2 border-round filter-overlay"
>
    <p-tabView>
        @for (tab of tabs; track $index) {
            <p-tabPanel
                header="{{
                    'inventories-footprint.filter-tabs-application.' + tab.field
                        | translate
                }}"
            >
                <p-scrollPanel
                    mode="vertical"
                    [style]="{ width: '96%', height: '240px' }"
                >
                    <ul>
                        <li *ngFor="let item of allUnusedFilters[tab.field]">
                            @if (!tab?.children?.length) {
                                <p-checkbox
                                    [ariaLabel]="item?.toString()"
                                    name="groupname"
                                    [value]="item"
                                    label="{{
                                        item?.toString() === all
                                            ? ('common.all' | translate)
                                            : item?.toString() === empty
                                              ? ('common.empty' | translate)
                                              : item
                                    }}"
                                    [(ngModel)]="
                                        footprintStore.applicationSelectedFilters()[
                                            tab.field
                                        ]
                                    "
                                    (ngModelChange)="
                                        onFilterSelected(
                                            $event,
                                            tab.field,
                                            item.toString()
                                        )
                                    "
                                ></p-checkbox>
                            }
                        </li>
                        @if (tab?.children?.length) {
                            <li>
                                @for (
                                    filter of allUnusedFilters[tab.field];
                                    track $index
                                ) {
                                    <li
                                        [ngClass]="
                                            !filter?.children?.length ? 'ml-6 pl-2' : ''
                                        "
                                    >
                                        @if (filter.visible) {
                                            @if (filter?.children?.length) {
                                                <p-button
                                                    styleClass="mx-1"
                                                    [rounded]="true"
                                                    [text]="true"
                                                    (click)="
                                                        filter.collapsed =
                                                            !filter.collapsed
                                                    "
                                                    [icon]="
                                                        filter.collapsed
                                                            ? 'pi pi-chevron-right'
                                                            : 'pi pi-chevron-down'
                                                    "
                                                    [ariaLabel]="
                                                        'common.accessibility.sharedUsers'
                                                            | translate
                                                    "
                                                />
                                            }
                                            <p-checkbox
                                                [binary]="true"
                                                [(ngModel)]="filter.checked"
                                                [label]="filter.label"
                                                (onChange)="onTreeChange($event, filter)"
                                                class="mb-3"
                                            ></p-checkbox>
                                            <div
                                                [ngClass]="
                                                    filter.collapsed ? 'hidden' : ''
                                                "
                                            >
                                                @if (filter.children) {
                                                    @for (
                                                        child of filter.children;
                                                        track $index
                                                    ) {
                                                        <li class="ml-8">
                                                            @if (child.visible) {
                                                                <p-checkbox
                                                                    [binary]="true"
                                                                    [label]="child.label"
                                                                    [(ngModel)]="
                                                                        child.checked
                                                                    "
                                                                    (onChange)="
                                                                        onTreeChildChanged(
                                                                            $event,
                                                                            filter
                                                                        )
                                                                    "
                                                                ></p-checkbox>
                                                            }
                                                        </li>
                                                    }
                                                }
                                            </div>
                                        }
                                    </li>
                                }
                            </li>
                        }
                    </ul>
                </p-scrollPanel>
            </p-tabPanel>
        }
    </p-tabView>
</p-overlay>
