<p-button
    #appFilterButton
    (onClick)="openFilterSidebar()"
    styleClass="p-button-secondary-blue uppercase mr-3"
    id="application-filter-button"
    [icon]="selectedFilterNames().length ? 'pi pi-filter-fill' : 'pi pi-filter'"
    [ariaLabel]="'inventories-footprint.filter-view' | translate"
></p-button>

@if (filterSidebarVisible) {
    <app-base-filter-sidebar
        [(visible)]="filterSidebarVisible"
        [localFilters]="localFilters"
        [tabs]="tabs"
        [allFilters]="allFilters()"
        [useCustomContent]="true"
        [translationKeyPrefix]="'inventories-footprint.filter-tabs-application'"
        (filtersApplied)="
            applyFilters();
            appFilterButton?.el?.nativeElement?.querySelector('button')?.focus()
        "
        (filtersCancelled)="
            appFilterButton?.el?.nativeElement?.querySelector('button')?.focus()
        "
    >
        <p-accordion [multiple]="true" styleClass="pl-0">
            @for (tab of tabs; track $index) {
                <p-accordion-panel
                    headerStyleClass="h-3rem bg-transparent font-bold mb-0"
                    contentStyleClass="bg-transparent p-2"
                    [value]="$index"
                    [id]="'app-inv-accordion-panel-' + $index"
                >
                    <p-accordion-header>
                        <div class="flex flex-column">
                            <h4 class="mb-0 ml-0 mt-2">
                                {{
                                    "inventories-footprint.filter-tabs-application." +
                                        tab.field | translate
                                }}
                                @if (isFilterApplied()[tab.field]) {
                                    <i class="pi pi-filter-fill"></i>
                                }
                            </h4>
                        </div>
                    </p-accordion-header>
                    <p-accordion-content>
                        @if (!tab?.children?.length) {
                            <cdk-virtual-scroll-viewport
                                itemSize="45"
                                class="viewport-simple"
                                [style.height]="getSimpleViewportHeight(tab.field)"
                            >
                                <ul class="m-0">
                                    <li
                                        *cdkVirtualFor="
                                            let item of allUnusedFilters()[tab.field];
                                            let i = index;
                                            trackBy: trackByLabel
                                        "
                                        class="my-3"
                                        [id]="'app-inv-filter-li-' + i"
                                    >
                                        <p-checkbox
                                            class="mb-1 mr-2"
                                            [ariaLabel]="item?.toString()"
                                            name="groupname"
                                            [value]="item"
                                            [(ngModel)]="localFilters()[tab.field]"
                                            (ngModelChange)="
                                                onFilterSelected(
                                                    $event,
                                                    tab.field,
                                                    item.toString()
                                                )
                                            "
                                            [inputId]="
                                                'app-filter-' + tab.field + '-' + item
                                            "
                                        ></p-checkbox>
                                        <label
                                            [attr.for]="
                                                'app-filter-' + tab.field + '-' + item
                                            "
                                            >{{
                                                item?.toString() === all
                                                    ? (`common.${tab.field}.all`
                                                      | translate)
                                                    : item?.toString() === empty
                                                      ? ("common.empty" | translate)
                                                      : item
                                            }}</label
                                        >
                                    </li>
                                </ul>
                            </cdk-virtual-scroll-viewport>
                        }

                        @if (tab?.children?.length) {
                            <cdk-virtual-scroll-viewport
                                itemSize="50"
                                class="viewport-tree"
                                [style.height]="getTreeViewportHeight(tab.field)"
                            >
                                <ul class="m-0">
                                    <li
                                        *cdkVirtualFor="
                                            let filter of allUnusedFilters()[tab.field];
                                            let i = index;
                                            trackBy: trackByLabel
                                        "
                                        [ngClass]="
                                            !filter?.children?.length
                                                ? 'ml-5 pl-3'
                                                : 'margin-in-left'
                                        "
                                    >
                                        @if (filter.visible) {
                                            @if (filter?.children?.length) {
                                                <p-button
                                                    styleClass="mx-1"
                                                    [rounded]="true"
                                                    [text]="true"
                                                    (onClick)="toggleCollapse(filter)"
                                                    [icon]="
                                                        filter.collapsed
                                                            ? 'pi pi-chevron-right'
                                                            : 'pi pi-chevron-down'
                                                    "
                                                    [ariaLabel]="
                                                        (filter.collapsed
                                                            ? 'common.accessibility.accordion-open'
                                                            : 'common.accessibility.accordion-close'
                                                        ) | translate
                                                    "
                                                />
                                            }
                                            <p-checkbox
                                                [binary]="true"
                                                [(ngModel)]="filter.checked"
                                                (onChange)="onTreeChange($event, filter)"
                                                [inputId]="'tree-filter-' + filter.label"
                                                class="mr-2"
                                                [ngClass]="
                                                    !filter?.children?.length
                                                        ? 'mb-1'
                                                        : 'mb-3'
                                                "
                                            ></p-checkbox>
                                            @if (filter.label === all) {
                                                <label
                                                    [attr.for]="
                                                        'tree-filter-' + filter.label
                                                    "
                                                    >{{
                                                        `common.${tab.field}.all`
                                                            | translate
                                                    }}</label
                                                >
                                            } @else {
                                                <label
                                                    [attr.for]="
                                                        'tree-filter-' + filter.label
                                                    "
                                                    >{{ filter.label }}</label
                                                >
                                            }

                                            <div
                                                [ngClass]="
                                                    filter.collapsed ? 'hidden' : ''
                                                "
                                            >
                                                @if (filter.children) {
                                                    <ul class="list-none p-0 m-0">
                                                        @for (
                                                            child of filter.children;
                                                            track $index;
                                                            let isFirst = $first
                                                        ) {
                                                            <li
                                                                [ngClass]="
                                                                    isFirst
                                                                        ? 'ml-8 mt-0 mb-3'
                                                                        : 'ml-8 my-3'
                                                                "
                                                            >
                                                                @if (child.visible) {
                                                                    <p-checkbox
                                                                        class="mb-1 mr-2"
                                                                        [binary]="true"
                                                                        [(ngModel)]="
                                                                            child.checked
                                                                        "
                                                                        (onChange)="
                                                                            onTreeChildChanged(
                                                                                $event,
                                                                                filter
                                                                            )
                                                                        "
                                                                        [inputId]="
                                                                            'tree-filter-child-' +
                                                                            filter.label +
                                                                            '-' +
                                                                            child.label
                                                                        "
                                                                    ></p-checkbox>
                                                                    <label
                                                                        [attr.for]="
                                                                            'tree-filter-child-' +
                                                                            filter.label +
                                                                            '-' +
                                                                            child.label
                                                                        "
                                                                        >{{
                                                                            child.label
                                                                        }}</label
                                                                    >
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </div>
                                        }
                                    </li>
                                </ul>
                            </cdk-virtual-scroll-viewport>
                        }
                    </p-accordion-content>
                </p-accordion-panel>
            }
        </p-accordion>
    </app-base-filter-sidebar>
}
