<div class="my-3">
    <div class="flex my-2">
        <img
            src="assets/images/icons/icon-{{ icon }}.svg"
            alt=""
            width="44px"
            height="44px"
        />
        <span
            class="flex align-items-center text-sm font-semibold uppercase letter-spacing-2 mx-3 relative"
            role="heading"
            [ariaLevel]="3"
            >{{ title }}
            <div class="absolute h-2px bg-primary w-9 bottom-0 mb-2"></div
        ></span>
    </div>
    <p-card>
        <div class="grid">
            @for (stat of stats; track $index) {
                <div
                    class="px-5 mt-2 mb-1"
                    [class.text-gray-700]="!stat.value && stat.value !== 0"
                >
                    <span tabIndex="0" class="text-3xl font-medium">
                        <span
                            >{{ stat.value || stat.value === 0 ? stat.label : "--" }}
                        </span>
                        <span class="text-sm font-normal">
                            {{ stat.value || stat.value === 0 ? stat.unit : "" }}
                        </span>
                        <i
                            class="pi pi-info-circle text-xs cursor-pointer vertical-align-top"
                            pTooltip="{{ stat.description }}"
                            tooltipEvent="focus"
                            tooltipPosition="right"
                            tabindex="0"
                        ></i>
                    </span>
                    <p [attr.lang]="stat?.lang ? stat.lang : null">
                        {{ stat.title }}
                    </p>
                </div>
            }
        </div>
    </p-card>
</div>
