<div class="bg-lightest-gray-color p-4 m-3 graph-description">
    <div
        class="py-3 w-full border-0 outline-0 flex justify-content-between align-items-center"
    >
        <h3 class="m-0 text-2xl font-semibold">
            {{ "ds-description-heading.graph-description" | translate }}
        </h3>
        <p-button
            styleClass="cancel-creation-button"
            [icon]="contentVisible ? 'pi pi-angle-up' : 'pi pi-angle-down'"
            (onClick)="toggleContentVisibility()"
            [ariaLabel]="
                contentVisible
                    ? ('ds-description-heading.aria-collapse-graph' | translate)
                    : ('ds-description-heading.aria-expand-graph' | translate)
            "
        >
        </p-button>
    </div>

    @if (contentVisible) {
        <section class="p-4 border bg-white">
            <h4 class="mb-0 font-semibold">
                {{ "ds-description-heading.description" | translate }}
            </h4>
            <p [innerHTML]="contentText()?.description"></p>
            <div class="section-hr"></div>
            <h4 class="mb-0 font-semibold">
                {{ "ds-description-heading.scale" | translate }}
            </h4>
            <p [innerHTML]="contentText()?.scale"></p>
            @if (contentText()?.textDescription) {
                <div class="section-hr"></div>

                <h4 class="mb-0 font-semibold">
                    {{ "ds-description-heading.text-description" | translate }}
                </h4>
            }
            <p [innerHTML]="contentText()?.textDescription"></p>

            <ul>
                @for (impactText of textDescriptionImpacts(); track $index) {
                    <li>
                        <span [innerHTML]="impactText.text"></span>
                        @if (
                            !barChartChild() &&
                            selectedParam() !== "Network" &&
                            chartType() !== "bar" &&
                            impactText.impactName
                        ) {
                            <button
                                class="blue-link"
                                (click)="
                                    impactClick(
                                        impactText.impactName,
                                        impactText?.impactType!
                                    )
                                "
                            >
                                <i class="pi pi-arrow-right inline"></i> &nbsp;&nbsp;
                                @if (chartType() === "radial") {
                                    {{
                                        "digital-services.global-access-link"
                                            | translate
                                                : {
                                                      criteria:
                                                          impactText.impactNameVisible,
                                                  }
                                    }}
                                } @else {
                                    {{
                                        "digital-services.criteria-access-link"
                                            | translate
                                                : { type: impactText.impactNameVisible }
                                    }}
                                }
                            </button>
                        }
                        <span>{{
                            textDescriptionImpacts().length === 1 ||
                            $index === textDescriptionImpacts().length - 1
                                ? "."
                                : ","
                        }}</span>
                    </li>
                }
            </ul>
            @if (contentText()?.textResourceDescription) {
                <p [innerHTML]="contentText()?.textResourceDescription"></p>
            }
            <ul>
                @for (impactText of textDescriptionResourceImpacts(); track $index) {
                    <li>
                        <span [innerHTML]="impactText.text"></span>
                        @if (!barChartChild() && selectedParam() !== "Network") {
                            <button
                                class="blue-link"
                                (click)="
                                    impactClick(
                                        impactText.impactName,
                                        impactText?.impactType!
                                    )
                                "
                            >
                                <i class="pi pi-arrow-right inline"></i> &nbsp;&nbsp;
                                {{
                                    "digital-services.resource-access-link"
                                        | translate
                                            : { type: impactText.impactNameVisible }
                                }}
                            </button>
                        }
                        <span>{{
                            textDescriptionImpacts().length === 1 ||
                            $index === textDescriptionImpacts().length - 1
                                ? "."
                                : ","
                        }}</span>
                    </li>
                }
            </ul>
            @if (versionIdNames().length) {
                <div>
                    <table class="compare-table">
                        <caption class="visually-hidden">
                            {{
                                "digital-services.version.compare-versions-title"
                                    | translate
                            }}
                        </caption>
                        <thead>
                            <tr>
                                <th id="criteria" class="border-top-none">
                                    {{
                                        "digital-services.comparison.criteria" | translate
                                    }}
                                </th>
                                @for (version of versionIdNames(); track $index) {
                                    <th [id]="version.versionId">
                                        <a
                                            href="javascript:void(0)"
                                            [routerLink]="[
                                                '../..',
                                                version.versionId,
                                                'footprint',
                                                'dashboard',
                                            ]"
                                            [queryParams]="{}"
                                            >{{ version.versionName }}</a
                                        >
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (trs of tableBody(); track $index) {
                                <tr>
                                    @for (ths of trs; track $index) {
                                        @if ($index === 0) {
                                            <th [id]="$index" [innerHTML]="ths"></th>
                                        } @else {
                                            <td [innerHTML]="ths"></td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            @if (contentText()?.analysis) {
                <div class="section-hr"></div>
                <h4 class="mb-0 font-semibold">
                    {{ "ds-description-heading.analysis" | translate }}
                </h4>
                <p [innerHTML]="contentText()?.analysis"></p>
            }
            @if (ecoMindRecomendation()) {
                <div class="section-hr"></div>
                <h4 class="mb-0 font-semibold">Recommendations</h4>
                <p [innerHTML]="ecoMindRecomendation()"></p>
            }

            @if (source() && !ecoMindRecomendation()) {
                <div class="section-hr"></div>
                <h4 class="mb-0 font-semibold">
                    {{ "common.source.title" | translate }}
                </h4>
                <h5 class="my-2">{{ "common.source.engine-title" | translate }}</h5>
                <p [innerHTML]="'common.source.engine' | translate"></p>
                <h5 class="my-2">{{ "common.source.reference-title" | translate }}</h5>
                <p>{{ sourceValueText() }}</p>
            }

            @if (contentText()?.toGoFurther) {
                <div class="section-hr"></div>
                <h4 class="mb-0 font-semibold">
                    {{ "ds-description-heading.to_go_further" | translate }}
                </h4>
                <p [innerHTML]="contentText()?.toGoFurther"></p>
            }
        </section>
    }
</div>
