<div class="lg-file-panel-margin">
    <div class="side-panel-title">
        {{ server.name }}
    </div>
    <div class="side-panel-subtitle">
        {{ server.mutualizationType }}/{{ server.type }}
    </div>
    <div class="table-container">
        <p-table
            [tableStyle]="{ 'min-width': '50rem' }"
            [rows]="5"
            [paginator]="true"
            [value]="server.vm ?? []"
            [totalRecords]="server.vm!.length"
        >
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="table-head">
                        {{ "digital-services-servers.vm" | translate }}
                    </div>
                    <p-button (click)="resetIndex()" styleClass="inventory-button-small" *ngIf="userService.isAllowedDigitalServiceWrite$ | async">
                        {{ "digital-services-servers.add.vm" | translate }}
                    </p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th id="vmName" pSortableColumn="name">
                        {{ "digital-services-servers.name" | translate }}
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th id="quantity" pSortableColumn="quantity">
                        {{ "digital-services-servers.quantity" | translate }}
                        <p-sortIcon field="quantity"></p-sortIcon>
                    </th>
                    <th
                        *ngIf="server.type === 'Compute'"
                        id="vcpu"
                        pSortableColumn="vcpu"
                    >
                        {{ "digital-services-servers.vcpu" | translate }}
                        <p-sortIcon field="vcpu"></p-sortIcon>
                    </th>
                    <th
                        *ngIf="server.type === 'Storage'"
                        id="disk"
                        pSortableColumn="disk"
                    >
                        {{ "digital-services-servers.disk" | translate }}
                        <p-sortIcon field="disk"></p-sortIcon>
                    </th>
                    <th id="annualOperatingTime" pSortableColumn="annualOperatingTime">
                        {{ "digital-services-servers.usage.time" | translate }}
                        <p-sortIcon field="annualOperatingTime"></p-sortIcon>
                    </th>
                    <th id="button"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-vm let-rowIndex="rowIndex">
                <tr>
                    <td>{{ vm.name }}</td>
                    <td>{{ vm.quantity | decimals}}</td>
                    <td *ngIf="server.type === 'Compute'">
                        {{ vm.vCpu | decimals}}
                    </td>
                    <td *ngIf="server.type === 'Storage'">
                        {{ vm.disk | decimals}}
                    </td>
                    <td>{{ vm.annualOperatingTime | decimals}}</td>
                    <td style="text-align: right">
                        <p-button *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                            (click)="setIndex(rowIndex)"
                            styleClass="p-button-text edit-button"
                        >
                            <img
                                src="assets/images/icons/icon-edit.svg"
                                alt="{{ 'common.edit' | translate }} {{ vm.name }}"
                            />
                        </p-button>
                        <p-button *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                            (click)="deleteVm(rowIndex)"
                            styleClass="p-button-text edit-button"
                        >
                            <img
                                src="assets/images/icons/icon-bin.svg"
                                alt="{{ 'common.delete' | translate }} {{ vm.name }}"
                            />
                        </p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="button-bottom-right">
        <p-button styleClass="white-button" (click)="close()">{{
            "common.cancel" | translate
        }}</p-button>
        <p-button styleClass="black-button" (click)="previousStep()">
            <img
                alt=""
                src="assets/images/icons/icon-arrow-left-white.svg"
                class="previous-img"
            />
            {{ "common.previous" | translate }}
        </p-button>
        <p-button styleClass="yellow-button" type="submit" (click)="submitServer()" *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
            ><span *ngIf="server.uid === ''">
                {{ "common.create" | translate }}
            </span>
            <span *ngIf="server.uid !== ''">
                {{ "common.save" | translate }}
            </span>
        </p-button>
    </div>
</div>
<p-sidebar [(visible)]="addVMPanelVisible" position="right" styleClass="p-sidebar-lg">
    <app-side-panel-add-vm
        *ngIf="addVMPanelVisible"
        [server]="server"
        [index]="index"
        [addVMPanelVisible]="addVMPanelVisible"
        (addVMPanelVisibleChange)="addVMPanelVisible = $event"
    >
    </app-side-panel-add-vm>
</p-sidebar>
