<p-table
    [value]="data"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="6"
    [paginator]="true"
    [sortField]="'name'"
    [sortOrder]="1"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="table-head">
                {{ translationPrefix + "." + titleText | translate }}
            </div>
            @if (userService.isAllowedDigitalServiceWrite$ | async) {
                <p-button
                    (onClick)="doResetItem(); sidebarVisible(true)"
                    styleClass="p-button-secondary-blue uppercase"
                    [id]="addButtonId"
                    icon="pi pi-plus-circle"
                    [label]="'common.add-button' | translate"
                    [ariaLabel]="
                        'common.accessibility.add'
                            | translate
                                : {
                                      type:
                                          translationPrefix + '.' + accessibilityText
                                          | translate,
                                  }
                    "
                ></p-button>
            }
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <caption class="visually-hidden">
            {{
                translationPrefix + "." + titleText | translate
            }}
        </caption>
        <tr>
            @if (showId && !isMobileView()) {
                <th scope="col" id="id">
                    {{ "digital-services-terminals.id" | translate }}
                </th>
            }
            @if (isMobileView()) {
                <th scope="col" id="button-mobile">{{ "common.actions" | translate }}</th>
            }
            @for (header of headerFields; track $index) {
                <th scope="col" [pSortableColumn]="header" [id]="header">
                    {{ translationPrefix + "." + header | translate }}
                    <p-sortIcon [field]="header"></p-sortIcon>
                </th>
            }
            @if (!isMobileView()) {
                <th class="text-hidden" id="button">
                    {{ "common.button" | translate }}
                </th>
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
            @if (showId && !isMobileView()) {
                <td class="grey-text">{{ rowIndex + 1 }}</td>
            }
            @if (isMobileView()) {
                <ng-template
                    [ngTemplateOutlet]="dataConsistencyRef"
                    [ngTemplateOutletContext]="{ data: data, rowIndex: rowIndex }"
                ></ng-template>
            }
            @for (header of headerFields; track $index) {
                <td>{{ data[header] | decimals }}</td>
            }
            @if (!isMobileView()) {
                <ng-template
                    [ngTemplateOutlet]="dataConsistencyRef"
                    [ngTemplateOutletContext]="{ data: data, rowIndex: rowIndex }"
                ></ng-template>
            }
        </tr>
    </ng-template>
    <ng-template #dataConsistencyRef let-data="data" let-rowIndex="rowIndex">
        <td
            class="w-4rem"
            [ngStyle]="{ 'text-align': isMobileView() ? 'left' : 'right' }"
        >
            <div class="flex">
                @if (userService.isAllowedDigitalServiceWrite$ | async) {
                    <p-button
                        [id]="addButtonId + (rowIndex + 1)"
                        (onClick)="doSetItem(data, rowIndex + 1); sidebarVisible(true)"
                        styleClass="p-button-text mx-1 p-1 pt-2"
                        ariaLabel="{{ 'common.edit' | translate }} {{
                            translationPrefix + '.' + accessibilityText | translate
                        }} {{ rowIndex + 1 }}"
                    >
                        <img
                            src="assets/images/icons/icon-edit.svg"
                            alt="{{ 'common.edit' | translate }} {{
                                translationPrefix + '.' + accessibilityText | translate
                            }} {{ rowIndex + 1 }}"
                    /></p-button>
                    <p-button
                        (onClick)="confirmDelete($event, data, rowIndex + 1)"
                        styleClass="p-button-text p-1"
                        ariaLabel="{{ 'common.delete' | translate }} {{
                            translationPrefix + '.' + accessibilityText | translate
                        }} {{ rowIndex + 1 }}"
                    >
                        <img
                            src="assets/images/icons/icon-bin.svg"
                            alt="{{ 'common.delete' | translate }} {{
                                translationPrefix + '.' + accessibilityText | translate
                            }} {{ rowIndex + 1 }}"
                    /></p-button>
                }
            </div>
        </td>
    </ng-template>
</p-table>
<p-confirmpopup [style]="{ width: '450px' }"></p-confirmpopup>
