<div>
    <div style="padding-top: 25px">
        <p-dropdown
            appendTo="body"
            optionLabel="name"
            [style]="{ height: '40px', width: '35%' }"
            class="dropdown-placeholder-padding"
            name="subscriber"
            [options]="subscribersDetails"
            placeholder="{{ 'administration.subsriber-placeholder' | translate }}"
            ngDefaultControl
            [(ngModel)]="subscriber"
            (onChange)="enableList = true; getCurrentOrganizations()"
        >
        </p-dropdown
        ><br /><br />
        <div
            class="h-2rem border-top-2 border-primary p-0 mt-1"
            style="color: lightgray"
        ></div>
    </div>
    <div  *ngIf="enableList">
        <div *ngFor="let organization of organizations">
            <div >
                <input
                    class="label-input-div-medium input-width inline-block p-2 mx-1"
                    pInputText
                    [(ngModel)]="organization.name"
                    name="organization.name"
                    placeholder="Name"
                    [disabled]="organization.status === status.TO_BE_DELETED"
                    readonly
                />
                <p-button
                    *ngIf="organization.status === status.ACTIVE"
                    styleClass="p-button-text edit-button"
                    [attr.aria-label]="
                        'administration.accessibility.on-deletion' | translate
                    "
                    (click)="confirm($event, organization)"
                    [style]="{ padding: '0.500rem 1rem', 'margin-top': '10px' }"
                >
                    <img
                        src="assets/images/icons/icon-bin.svg"
                        alt="{{ 'common.delete' | translate }}"
                    />
                </p-button>
                <p-button
                    styleClass="black-button-sidebar"
                    *ngIf="organization.status === status.TO_BE_DELETED"
                    (click)="confirmToActive(organization)"
                    [style]="{ 'margin-top': '10px' }"
                    >{{ "administration.cancel-deletion" | translate }}</p-button
                >
                <small *ngIf="organization.status === status.TO_BE_DELETED">
                    &nbsp;&nbsp;&nbsp;
                    {{
                        "administration.cancel-deletion-message"
                            | translate
                                : {
                                      date: organization.deletionDate | date: "dd/MM/yyyy"
                                  }
                    }}</small
                >
            </div>
        </div>
    </div>
    <br *ngIf="enableList" />
</div>
<div class="card flex justify-content-center gap-2">
    <p-toast></p-toast>
    <p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog>
</div>
