<!-- Header -->
<div pFocusTrap class="create-ds-sidebar">
    <div class="space-form">
        <h2>
            {{ "digital-services.configure-view" | translate }}
        </h2>
        <p-button
            appAutofocus
            (onClick)="closeSidebar()"
            [link]="true"
            [rounded]="true"
            ariaLabel="Outlined Close Button"
            icon="pi pi-times"
            class="space-sidebar-close"
            styleClass="space-sidebar-close-button text-black-alpha-60"
        ></p-button>

        <!-- Content -->
        <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 150px)' }">
            <p-accordion [multiple]="true" [value]="['0', '1']">
                <!-- Enable Data Consistency -->
                <form [formGroup]="formGroup">
                    <p-accordion-panel
                        value="0"
                        headerStyleClass="mt-3 ml-2 h-3rem bg-transparent font-bold"
                        contentStyleClass="bg-transparent pl-2"
                    >
                        <p-accordion-header>
                            <div class="flex flex-column">
                                <h4 class="font-semibold my-0">
                                    {{ "digital-services.set-view" | translate }}
                                </h4>
                                <p class="text-base">
                                    {{ "common.data-consistency-text" | translate }}
                                </p>
                            </div>
                        </p-accordion-header>
                        <p-accordion-content>
                            <p class="text-base">
                                {{
                                    "digital-services.data-consistency-description"
                                        | translate
                                }}
                            </p>

                            <div class="flex items-center gap-1 mt-3">
                                <p-checkbox
                                    formControlName="dataConsistencyCheckbox"
                                    [binary]="true"
                                    inputId="ny"
                                    [ariaLabel]="
                                        'digital-services.data-consistency-checkbox-text'
                                            | translate
                                    "
                                ></p-checkbox>
                                <label for="ny" class="ml-2">{{
                                    "digital-services.data-consistency-checkbox-text"
                                        | translate
                                }}</label>
                            </div>
                        </p-accordion-content>
                    </p-accordion-panel>
                    <!-- Units Management -->
                    <p-accordion-panel
                        value="1"
                        tabStyleClass="mt-4 bg-transparent"
                        headerStyleClass=" ml-2 h-3rem bg-transparent font-bold"
                        contentStyleClass="bg-transparent pl-2"
                    >
                        <p-accordion-header>
                            <div class="flex flex-column">
                                <h4 class="font-semibold my-0">
                                    {{ "common.unit-manage" | translate }}
                                </h4>
                                <p class="text-base">
                                    {{ "common.unit-manage-text" | translate }}
                                </p>
                            </div>
                        </p-accordion-header>
                        <p-accordion-content>
                            <p
                                class="text-base"
                                [innerHTML]="'inventories.unit-para1' | translate"
                            ></p>
                            <p class="text-base">
                                {{ "inventories.unit-para2" | translate }}
                            </p>

                            <div class="mt-4 radio-group flex flex-column gap-2">
                                <div class="flex align-items-center">
                                    <p-radiobutton
                                        styleClass="m-1"
                                        name="unitType"
                                        value="Peopleeq"
                                        formControlName="unitType"
                                        inputId="unitType-peopleeq"
                                    ></p-radiobutton>
                                    <label for="unitType-peopleeq" class="ml-2">{{
                                        "common.peopleeq-full-capital" | translate
                                    }}</label>
                                </div>

                                <div class="flex align-items-center">
                                    <p-radiobutton
                                        styleClass="m-1"
                                        name="unitType"
                                        value="Raw"
                                        formControlName="unitType"
                                        inputId="unitType-raw"
                                    ></p-radiobutton>
                                    <label for="unitType-raw" class="ml-2">{{
                                        "common.unit-of-criterion" | translate
                                    }}</label>
                                </div>
                            </div>
                        </p-accordion-content>
                    </p-accordion-panel>
                </form>
            </p-accordion>
        </p-scrollPanel>

        <!-- Footer Buttons -->
        <div class="mt-3">
            <div
                class="space-form--button-group flex align-content-end justify-content-end flex-wrap"
            >
                <p-button
                    class="cancel-creation mr-auto"
                    styleClass="cancel-creation-button uppercase"
                    (onClick)="closeSidebar()"
                    [label]="'common.cancel' | translate"
                    [ariaLabel]="'common.cancel' | translate"
                ></p-button>

                <p-button
                    (onClick)="apply()"
                    styleClass="uppercase bg-light-green"
                    id="apply-selection-button"
                    [label]="'inventories.apply-selection' | translate"
                    [ariaLabel]="'inventories.apply-selection' | translate"
                ></p-button>
            </div>
        </div>
    </div>
</div>
