<div class="information-section my-3">
    <h3 class="m-0 text-lg mb-2 font-semibold">
        {{ "digital-services-cloud-services.information-step" | translate }}
    </h3>
    <p [innerHTML]="'digital-services-cloud-services.information-text' | translate"></p>
</div>
<div class="table-container mb-5">
    <app-digital-service-table
        titleText="cloud-services"
        accessibilityText="accessibility.cloud-service"
        translationPrefix="digital-services-cloud-services"
        [headerFields]="headerFields"
        [data]="cloudServices()"
        (sidebar)="changeSidebar($event)"
        (resetItem)="resetCloudServices()"
        (setItem)="setItem($event)"
        (deleteItem)="deleteItem($event)"
        addButtonId="add-cloud"
    ></app-digital-service-table>
</div>

@if (sidebarVisible) {
    <p-drawer
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="drawer-md"
        appendTo="body"
        (onHide)="focusCloudButton(); childSidePanel.close()"
        ariaCloseLabel="Close"
    >
        <app-digital-services-cloud-services-side-panel
            #childSidePanel
            [cloud]="cloud"
            [sidebarVisible]="sidebarVisible"
            [cloudServices]="cloudServices()"
            (sidebarVisibleChange)="focusCloudButton(); sidebarVisible = $event"
            (updateCloudServices)="updateCloudServices($event)"
            (deleteCloudServices)="deleteCloudServices($event)"
        >
        </app-digital-services-cloud-services-side-panel>
    </p-drawer>
}
