<p-toast #toast position="bottom-center"></p-toast>
<div class="flex justify-content-between align-items-center flex-wrap">
    <div>
        <p-button
            styleClass="color-tertiary text-2xl font-semibold p-2"
            [routerLink]="changePageToInventories()"
            [text]="true"
            [attr.aria-label]="'inventories.return' | translate"
            icon="pi pi-arrow-left"
            [label]="
                'inventories.title'
                    | translate: { OrganizationName: selectedOrganization }
            "
        />

        <h2 *ngIf="inventory.type === types.INFORMATION_SYSTEM" class="px-2" tabIndex="0">
            {{ inventory.name | monthYear }}
        </h2>
        <h2 *ngIf="inventory.type === types.SIMULATION" class="px-2" tabIndex="0">
            {{ inventory.name }}
        </h2>
    </div>
    <div>
        <p-button
            *ngIf="!inventory.note && (userService.isAllowedInventoryWrite$ | async)"
            (click)="sidebarVisible = true"
            styleClass="text-gray-900 header-button"
            [text]="true"
            [plain]="true"
            attr.aria-label="{{ 'common.accessibility.addNote' | translate }}"
            [label]="'common.note.add' | translate"
            icon="pi pi-plus-circle"
        />

        <p-button
            *ngIf="inventory.note"
            (click)="sidebarVisible = true"
            styleClass="text-gray-900 header-button"
            [text]="true"
            [plain]="true"
            attr.aria-label="{{ 'common.accessibility.attachedNote' | translate }}"
            [label]="'common.note.attached' | translate"
            icon="pi pi-clipboard"
        />

        <p-button
            styleClass="bg-black text-white header-button"
            (click)="confirmExport($event)"
            *ngIf="
                (batchStatusCode === undefined ||
                    failedStatusCodeList.includes(batchStatusCode)) &&
                (userService.isAllowedInventoryWrite$ | async)
            "
            icon="pi pi-download"
            [label]="'inventories-footprint.header.export' | translate"
        />

        <p-button
            attr.aria-label="{{ 'common.accessibility.download' | translate }}"
            styleClass="bg-black text-white header-button"
            (click)="download($event)"
            [disabled]="downloadInProgress"
            *ngIf="
                batchStatusCode === isGenerated() &&
                (userService.isAllowedInventoryWrite$ | async)
            "
            icon="pi pi-download"
            [label]="'inventories-footprint.header.download' | translate"
        />

        <p-button
            attr.aria-label="{{ 'common.accessibility.download' | translate }}"
            styleClass="bg-gray-400 text-gray-900  header-button"
            *ngIf="
                batchStatusCode &&
                inProgressStatusCodeList.includes(batchStatusCode) &&
                (userService.isAllowedInventoryWrite$ | async)
            "
            [label]="'common.preparingResults' | translate"
            icon="pi pi-refresh"
        />
    </div>
    <p-sidebar
        *ngIf="sidebarVisible"
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="p-sidebar-md w-7"
    >
        <app-common-editor
            [content]="inventory.note?.content"
            [title]="'Note - ' + inventory.name"
            [showButtons]="userService.isAllowedInventoryWrite$ | async"
            (saveValue)="noteSaveValue($event)"
            (close)="sidebarVisible = $event"
            (delete)="noteDelete($event); sidebarVisible = $event"
            styleClass="mx-7"
        >
        </app-common-editor>
    </p-sidebar>
</div>
<p-confirmPopup [style]="{ width: '450px' }"></p-confirmPopup>
