<p-toast #toast position="bottom-center"></p-toast>
<div class="flex justify-content-between align-items-center flex-wrap">
    <div class="flex align-items-center">
        <p-button
            (onClick)="backButton()"
            styleClass="cancel-creation-button uppercase mr-2 mb-2 lg:mb-0"
            [ariaLabel]="'inventories.return' | translate"
            icon="pi pi-arrow-left"
            [label]="'digital-services.back' | translate"
            id="my-is-return-button"
        />
        <h1 class="px-2 inline text-xl px-2 color-black-seventy lg:text-4xl">
            @if (inventory.type === types.INFORMATION_SYSTEM) {
                {{ inventory.name | monthYear }}
            } @else {
                {{ inventory.name }}
            }
        </h1>
        <span class="pr-2"> - </span>
        <h2 class="text-lg color-black-seventy lg:text-3xl">
            {{ "inventories.visualisation." + indicatorType | translate }}
        </h2>
    </div>

    <div>
        @if (!inventory.note && (userService.isAllowedInventoryWrite$ | async)) {
            <p-button
                #noteButton
                (onClick)="sidebarVisible = true"
                styleClass="text-gray-900 header-button"
                [text]="true"
                [plain]="true"
                [ariaLabel]="'common.accessibility.addNote' | translate"
                [label]="'common.note.add' | translate"
                icon="pi pi-plus-circle"
            />
        }

        @if (inventory.note) {
            <p-button
                #noteButton
                (onClick)="sidebarVisible = true"
                styleClass="text-gray-900 header-button"
                [text]="true"
                [plain]="true"
                [ariaLabel]="'common.accessibility.attachedNote' | translate"
                [label]="'common.note.attached' | translate"
                icon="pi pi-clipboard"
            />
        }

        @if (userService.isAllowedInventoryRead$ | async) {
            <p-button
                [ariaLabel]="'common.accessibility.download' | translate"
                styleClass="bg-black text-white header-button"
                (onClick)="download($event)"
                [disabled]="downloadInProgress"
                id="export-inventory-button"
                icon="pi pi-download"
                [label]="'inventories-footprint.header.export' | translate"
            />
        }
    </div>

    @if (sidebarVisible) {
        <p-drawer
            [(visible)]="sidebarVisible"
            position="right"
            tabIndex="0"
            styleClass="w-7"
            (onHide)="focusNewInvButton(); sidebarVisible = false"
            ariaCloseLabel="Close"
        >
            <app-common-editor
                [content]="inventory.note?.content"
                [title]="'Note - ' + inventory.name"
                [isWriteRole]="userService.isAllowedInventoryWrite$ | async"
                (saveValue)="noteSaveValue($event)"
                (outClose)="focusNewInvButton(); sidebarVisible = $event"
                (delete)="
                    noteDelete($event); focusNewInvButton(); sidebarVisible = $event
                "
                styleClass="m-0"
            >
            </app-common-editor>
        </p-drawer>
    }
</div>
<p-confirmpopup ariaCloseLabel="close" [style]="{ width: '450px' }"></p-confirmpopup>
