<div class="side-panel-content" style="height: 100%">
    <div
        class="side-panel-title"
        tabIndex="0"
        [attr.aria-label]="'new-inventory-choose' | translate"
    >
        {{ "administration.user.accessAndRole" | translate }}
    </div>
    {{ organization?.organizationName }}
    <br />

    <div>
        <input
            *ngIf="userDetail"
            class="w-full"
            type="text"
            [value]="userDetail.email"
            name="email"
            pInputText
            readonly
        />
    </div>
    <br />
    <div>
        <label> {{ "administration.user.access" | translate }} </label><br />
        <div
            class="h-2rem border-top-2 border-primary p-0 mt-1"
            style="color: lightgray"
        ></div>
        <label> {{ "administration.user.is-module" | translate }} </label>
        <p-dropdown
            appendTo="body"
            [style]="{ width: '100%' }"
            [(ngModel)]="isModule"
            [options]="isModuleValues"
            optionLabel="value"
            placeholder="{{ 'administration.user.is-module' | translate }}"
            [disabled]="isAdmin"
            [showClear]="true"
        ></p-dropdown>
        <br />
        <br />
        <label>{{ "administration.user.ds-module" | translate }}</label>
        <p-dropdown
            appendTo="body"
            [style]="{ width: '100%' }"
            [(ngModel)]="dsModule"
            [options]="dsModuleValues"
            optionLabel="value"
            placeholder="{{ 'administration.user.ds-module' | translate }}"
            [disabled]="isAdmin"
            [showClear]="true"
        ></p-dropdown>
    </div>
    <br />
    <div>
        <label>{{ "administration.user.role" | translate }} </label><br />
        <div
            class="h-2rem border-top-2 border-primary p-0 mt-1"
            style="color: lightgray"
        ></div>
        <p-dropdown
            appendTo="body"
            [style]="{ width: '100%' }"
            [(ngModel)]="adminModule"
            [options]="adminModuleValues"
            optionLabel="value"
            (onChange)="validateOnAdmin()"
            [required]="true"
            placeholder="{{ 'administration.user.role' | translate }}"
            class="p-inputtext-sm type-dropdown"
        ></p-dropdown>
        <p class="error-text" *ngIf="!adminModule">
            {{ "administration.user.role" | translate }}
            {{ "common.mandatory" | translate }}
        </p>
    </div>
    <div class="button-bottom-right">
        <p-button
            styleClass="white-button-sidebar"
            class="pr-3 pl-3"
            (click)="cancel()"
            >{{ "common.cancel" | translate }}</p-button
        >
        <p-button
            styleClass="black-button-sidebar"
            [disabled]="!adminModule"
            type="submit"
            (click)="addToOrg()"
            *ngIf="!updateOrganizationEnable"
        >
            <span>{{ "common.add" | translate }}</span>
        </p-button>
        <p-button
            styleClass="black-button-sidebar"
            *ngIf="updateOrganizationEnable"
            [disabled]="!adminModule"
            type="submit"
            (click)="updateOrg()"
        >
            <span>{{ "common.save" | translate }}</span>
        </p-button>
        <br />
        <br />
    </div>
</div>
