<div class="lg-file-panel-margin">
    <div class="side-panel-title" *ngIf="terminal.idFront; else new">
        {{ "digital-services-terminals.device" | translate }} #{{ terminal.idFront }}
    </div>
    <ng-template #new>
        <div class="side-panel-title">
            {{ "digital-services-terminals.new" | translate }}
        </div>
    </ng-template>
    <form
        [formGroup]="terminalsForm"
        (ngSubmit)="submitFormData()"
        class="terminal-grid-form"
    >
        <div class="label-input-div">
            <label>{{ "digital-services-terminals.type" | translate }}</label>
            <p-dropdown
                appendTo="body"
                [options]="terminalDeviceTypes"
                optionLabel="value"
                styleClass="dropdown-terminal"
                formControlName="type"
                [required]="true"
                [(ngModel)]="terminal.type"
                name="type"
                ngDefaultControl
            >
            </p-dropdown>
            <p class="error-text" *ngIf="terminalsForm.get('type')?.hasError('required')">
                {{ "digital-services-terminals.type" | translate }}
                {{ "common.mandatory" | translate }}
            </p>
        </div>
        <div class="label-input-div">
            <label>{{ "digital-services-terminals.country" | translate }}</label>
            <p-dropdown
                appendTo="body"
                [options]="countries"
                styleClass="dropdown-terminal"
                formControlName="country"
                [required]="true"
                [(ngModel)]="terminal.country"
                [filter]="true"
                filterBy="label"
                filterPlaceholder="Search"
                name="country"
                ngDefaultControl
            >
            </p-dropdown>
            <p
                class="error-text"
                *ngIf="terminalsForm.get('country')?.hasError('required')"
            >
                {{ "digital-services-terminals.type" | translate }}
                {{ "common.mandatory" | translate }}
            </p>
        </div>
        <div class="label-input-div">
            <label>{{ "digital-services-terminals.nb-user" | translate }}</label>
            <p-inputNumber
                formControlName="numberOfUsers"
                [required]="true"
                [min]="0"
                [(ngModel)]="terminal.numberOfUsers"
                name="numberOfUsers"
                ngDefaultControl
            >
            </p-inputNumber>
            <p
                class="error-text"
                *ngIf="terminalsForm.get('numberOfUsers')?.hasError('required')"
            >
                {{ "digital-services-terminals.nb-user" | translate }}
                {{ "common.mandatory" | translate }}
            </p>
        </div>
        <div class="label-input-div">
            <label
                >{{ "digital-services-terminals.yearly-usage" | translate }} ({{
                    "digital-services-terminals.hours" | translate
                }})</label
            >
            <p-inputNumber
                formControlName="yearlyUsageTimePerUser"
                [required]="true"
                [min]="0"
                [max]="8760"
                [(ngModel)]="terminal.yearlyUsageTimePerUser"
                name="yearlyUsageTimePerUser"
                ngDefaultControl
            >
            </p-inputNumber>
            <p
                class="error-text"
                *ngIf="terminalsForm.get('yearlyUsageTimePerUser')?.hasError('required')"
            >
                {{ "digital-services-terminals.yearly-usage" | translate }}
                {{ "common.mandatory" | translate }}
            </p>
        </div>
        <div class="button-bottom-right">
            <p-button
                styleClass="grey-button"
                *ngIf="terminal.idFront && (userService.isAllowedDigitalServiceWrite$ | async)"
                (click)="deleteTerminal()"
                >{{ "common.delete" | translate }}</p-button
            >
            <p-button styleClass="white-button" (click)="close()">{{
                "common.cancel" | translate
            }}</p-button>
            <p-button *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                styleClass="yellow-button"
                [disabled]="terminalsForm.invalid"
                type="submit"
            >
                <span *ngIf="!terminal.idFront">{{ "common.create" | translate }}</span>
                <span *ngIf="terminal.idFront">{{ "common.save" | translate }}</span>
            </p-button>
        </div>
    </form>
</div>
