<p-card
    styleClass="digital-services-card"
    role="button"
    [attr.aria-label]="digitalService.name"
>
    <div class="flex align-items-center justify-content-between">
        <span class="w-full mr-2">
            <p-button
                styleClass="w-full font-bold text-xl text-left text-gray-900"
                (click)="goToDigitalServiceFootprint(digitalService.uid)"
                [label]="digitalService.name"
                [text]="true"
                [plain]="true"
            />
        </span>

        <p-button
            *ngIf="(userService.isAllowedDigitalServiceWrite$ | async) && !isLinkCopied"
            styleClass="black-button-small font-bold mx-1"
            icon="pi pi-link"
            (click)="copyUrl()"
            [label]="'digital-services.copyLink' | translate"
            [attr.aria-label]="'digital-services.copyLink' | translate"
        />

        <p-button
            *ngIf="(userService.isAllowedDigitalServiceWrite$ | async) && isLinkCopied"
            styleClass="black-button-small font-bold mx-1"
            [disabled]="true"
            class="disabled-text-black"
            attr.aria-label="{{ 'digital-services.linkCopied' | translate }}"
            [label]="'digital-services.linkCopied' | translate"
        />

        <p-button
            (click)="openNote()"
            styleClass="inventory-add-button-small font-bold mx-1"
            *ngIf="
                (userService.isAllowedDigitalServiceWrite$ | async) &&
                !digitalService.note
            "
            icon="pi pi-plus-circle"
            [label]="'common.note.add' | translate"
        />

        <p-button
            (click)="openNote()"
            styleClass="inventory-attached-button-small font-bold mx-1"
            *ngIf="digitalService.note"
            [label]="'common.note.attached' | translate"
            icon="pi pi-clipboard"
        />

        <p-button
            styleClass="mx-1"
            *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
            [rounded]="true"
            (click)="confirmDelete($event, digitalService)"
            [text]="true"
            [plain]="true"
            icon="pi pi-trash"
        />

        <p-confirmPopup [style]="{ width: '450px' }"> </p-confirmPopup>
    </div>
</p-card>
