<div class="mt-3 mb-3">
    <div class="side-data-title">
        <img src="assets/images/icons/icon-datacenter.svg" alt="" />
        <span tabIndex="0">{{
            "inventories-footprint.global.datacenter" | translate
        }}</span>
    </div>
    <p-card>
        <div class="footprint-data">
            <div>
                <span *ngIf="datacenterCount !== 0; else zero" tabIndex="0">{{
                    datacenterCount
                }}</span>
                <img
                    class="small-info"
                    src="assets/images/icons/icon-information.svg"
                    alt="{{ 'inventories-footprint.global.tooltip.nb-dc' | translate }}"
                    pTooltip="{{
                        'inventories-footprint.global.tooltip.nb-dc' | translate
                    }}"
                    tooltipEvent="focus"
                    tooltipPosition="right"
                    tabindex="0"
                />
                <br />
                <p [ngClass]="{ 'grey-text': datacenterCount == 0 }">
                    {{ "inventories-footprint.global.datacenters" | translate }}
                </p>
            </div>
            <div>
                <span
                    *ngIf="
                        datacenterAvgWeightedPue !== 0 && datacenterCount !== 0;
                        else zero
                    "
                    tabIndex="0"
                    >{{ datacenterAvgWeightedPue | number : "1.2-2" }}</span
                >
                <ng-template #zero
                    ><span class="text-no-data-global">--</span></ng-template
                >
                <img
                    class="small-info"
                    src="assets/images/icons/icon-information.svg"
                    alt="{{ 'inventories-footprint.global.tooltip.ave-pue' | translate }}"
                    pTooltip="{{
                        'inventories-footprint.global.tooltip.ave-pue' | translate
                    }}"
                    tooltipEvent="focus"
                    tooltipPosition="right"
                    tabindex="0"
                />
                <br />
                <p [ngClass]="{ 'grey-text': datacenterAvgWeightedPue == 0 }">
                    {{ "inventories-footprint.global.ave-pue" | translate }}
                </p>
            </div>
        </div>
    </p-card>
</div>
