<p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 120px)' }">
    <div class="lg-file-panel-margin">
        <div class="side-panel-title" appAutofocus tabindex="-1">
            {{ server().name }}
        </div>
        <div class="information-section my-3">
            <h3 class="m-0 text-lg mb-2 font-semibold side-panel-subtitle" lang="en">
                {{ server().mutualizationType }}/{{ server().type }}
            </h3>
            <p [innerHTML]="'digital-services-servers.server-vm-text' | translate"></p>
        </div>
        <app-digital-service-table
            addButtonId="add-vm"
            titleText="vm"
            accessibilityText="accessibility.vm"
            translationPrefix="digital-services-servers"
            [headerFields]="headerFields()"
            [data]="vmData()"
            (resetItem)="resetIndex()"
            [showId]="false"
            [isVM]="true"
            (setItem)="setIndex($event.index - 1)"
            (deleteItem)="deleteVm($event.index - 1)"
        ></app-digital-service-table>
    </div>
</p-scrollPanel>
<div class="button-bottom-right">
    <p-button styleClass="white-button" (onClick)="close()">{{
        "common.cancel" | translate
    }}</p-button>
    <p-button
        styleClass="black-button"
        (onClick)="previousStep()"
        icon="pi pi-arrow-left"
        [label]="'common.previous' | translate"
    >
    </p-button>
    @if (userService.isAllowedDigitalServiceWrite$ | async) {
        <p-button styleClass="yellow-button" type="submit" (onClick)="submitServer()">
            @if (server().uid === "") {
                <span>
                    {{ "common.create" | translate }}
                </span>
            }
            @if (server().uid !== "") {
                <span>
                    {{ "common.save" | translate }}
                </span>
            }
        </p-button>
    }
</div>
@if (addVMPanelVisible) {
    <p-drawer
        [visible]="true"
        styleClass="drawer-lg"
        position="right"
        [modal]="false"
        (onHide)="focusVmButton(); vmSidePanel.close()"
    >
        @if (addVMPanelVisible) {
            <app-panel-add-vm
                #vmSidePanel
                [index]="index"
                [addVMPanelVisible]="addVMPanelVisible"
                (addVMPanelVisibleChange)="focusVmButton(); addVMPanelVisible = $event"
            >
            </app-panel-add-vm>
        }
    </p-drawer>
}
