@if (criteriaList.length > 0) {
    <p-dialog
        [modal]="true"
        [(visible)]="displayPopup"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        (onHide)="closePopup()"
        [dismissableMask]="true"
    >
        <ng-template pTemplate="header">
            <h4 class="font-bold">
                {{
                    type === "subscriber"
                        ? ("administration.user.choose-criteria"
                          | translate: { subscriber: subscriberDetails.name })
                        : type === "organization"
                          ? ("administration.organization.choose-criteria"
                            | translate
                                : {
                                      organizationName:
                                          organizationDetails.organizationName,
                                  })
                          : type === "inventory"
                            ? ("inventories.choose-criteria"
                              | translate
                                  : { inventoryName: (inventory.name | monthYear) })
                            : ("digital-services.choose-criteria"
                              | translate: { digitalServiceName: ds.name })
                }}
            </h4>
        </ng-template>

        @if (type !== "organization") {
            <div class="ml-3 pb-2 pt-3">
                <div class="field-checkbox">
                    <p-checkbox
                        [ngModel]="
                            selectedCriteriaIS.length === criteriaList.length
                                ? ['All']
                                : []
                        "
                        (ngModelChange)="onAllSelectedChange($event, true)"
                        value="All"
                        [label]="'common.all' | translate"
                        [ariaLabel]="'common.all' | translate"
                    />
                </div>
            </div>
            <div class="popup-field-checkbox mx-3">
                <div *ngFor="let criteria of criteriaList" class="field-checkbox">
                    <p-checkbox
                        [(ngModel)]="selectedCriteriaIS"
                        [value]="criteria"
                        (onChange)="onCriteriaChange()"
                        [label]="'criteria.' + criteria + '.title' | translate"
                        [ariaLabel]="'criteria.' + criteria + '.title' | translate"
                    ></p-checkbox>
                </div>
            </div>
        } @else {
            <div>
                <h3>{{ "administration.user.is-header" | translate }}</h3>
                <div class="ml-5">
                    <div class="field-checkbox">
                        <p-checkbox
                            [ngModel]="
                                selectedCriteriaIS.length === criteriaList.length
                                    ? ['All']
                                    : []
                            "
                            (ngModelChange)="onAllSelectedChange($event, true)"
                            value="All"
                            [label]="'common.all' | translate"
                            [ariaLabel]="'common.all' | translate"
                        />
                    </div>
                </div>
            </div>

            <div class="popup-field-checkbox m-5">
                <div *ngFor="let criteria of criteriaList" class="field-checkbox">
                    <p-checkbox
                        [(ngModel)]="selectedCriteriaIS"
                        [value]="criteria"
                        (onChange)="onCriteriaChange()"
                        [label]="'criteria.' + criteria + '.title' | translate"
                        [ariaLabel]="'criteria.' + criteria + '.title' | translate"
                    ></p-checkbox>
                </div>
            </div>
            <div>
                <h3>{{ "administration.user.ds-header" | translate }}</h3>
                <div class="ml-5">
                    <div class="field-checkbox">
                        <p-checkbox
                            [ngModel]="
                                selectedCriteriaDS.length === criteriaList.length
                                    ? ['All']
                                    : []
                            "
                            (ngModelChange)="onAllSelectedChange($event, false)"
                            value="All"
                            [label]="'common.all' | translate"
                            [ariaLabel]="'common.all' | translate"
                        />
                    </div>
                </div>
            </div>

            <div class="popup-field-checkbox m-5">
                <div *ngFor="let criteria of criteriaList" class="field-checkbox">
                    <p-checkbox
                        [(ngModel)]="selectedCriteriaDS"
                        [value]="criteria"
                        (onChange)="onCriteriaChange()"
                        [label]="'criteria.' + criteria + '.title' | translate"
                        [ariaLabel]="'criteria.' + criteria + '.title' | translate"
                    ></p-checkbox>
                </div>
            </div>
        }

        @if (
            (type === "organization" &&
                (selectedCriteriaIS.length === 0 || selectedCriteriaDS.length === 0)) ||
            (type !== "organization" && selectedCriteriaIS.length === 0)
        ) {
            <p class="error-text">
                {{ "administration.organization.error" | translate }}
            </p>
        }

        <ng-template pTemplate="footer">
            <div class="dialog-footer">
                <div class="left-aligned-button">
                    <p-button
                        styleClass="reset-button"
                        (click)="resetToDefault()"
                        aria-label="Reset"
                        class="m-0"
                    >
                        <i class="pi pi-refresh icon mr-2"></i>
                        {{ "common.reset" | translate }}
                    </p-button>
                </div>
                <p-button
                    styleClass="white-button"
                    (click)="closePopup()"
                    aria-label="Cancel"
                >
                    {{ "common.cancel" | translate }}
                </p-button>
                <p-button
                    styleClass="black-button"
                    (click)="saveChanges()"
                    [disabled]="
                        (type === 'organization' &&
                            (selectedCriteriaIS.length === 0 ||
                                selectedCriteriaDS.length === 0)) ||
                        (type !== 'organization' && selectedCriteriaIS.length === 0) ||
                        !hasChanged
                    "
                    aria-label="Save"
                >
                    {{ "common.save" | translate }}
                </p-button>
            </div>
        </ng-template>
    </p-dialog>
}
