<div class="lg-file-panel-margin">
    <div class="side-panel-title" *ngIf="network.idFront; else new">
        {{ "digital-services-networks.network" | translate }} #{{ network.idFront }}
    </div>
    <ng-template #new>
        <div class="side-panel-title">
            {{ "digital-services-networks.new" | translate }}
        </div>
    </ng-template>
    <form
        [formGroup]="networksForm"
        class="terminal-grid-form"
        (ngSubmit)="submitFormData()"
    >
        <div class="label-input-div">
            <label>{{ "digital-services-networks.type" | translate }}</label>
            <p-dropdown
                appendTo="body"
                [options]="networkTypes"
                optionLabel="value"
                styleClass="dropdown-terminal"
                formControlName="type"
                [required]="true"
                [(ngModel)]="network.type"
                name="type"
                ngDefaultControl
            ></p-dropdown>
            <p class="error-text" *ngIf="networksForm.get('type')?.hasError('required')">
                {{ "digital-services-networks.type" | translate }}
                {{ "common.mandatory" | translate }}
            </p>
        </div>
        <div class="label-input-div">
            <label>{{ "digital-services-networks.yearly-go" | translate }}</label>
            <p-inputNumber
                formControlName="yearlyQuantityOfGbExchanged"
                inputId="minmaxfraction"
                [maxFractionDigits]="6"
                [required]="true"
                [min]="0"
                [(ngModel)]="network.yearlyQuantityOfGbExchanged"
                name="yearlyQuantityOfGbExchanged"
                ngDefaultControl
            ></p-inputNumber>
            <p
                class="error-text"
                *ngIf="
                    networksForm.get('yearlyQuantityOfGbExchanged')?.hasError('required')
                "
            >
                {{ "digital-services-networks.yearly-go" | translate }}
                {{ "common.mandatory" | translate }}
            </p>
        </div>
        <div class="button-bottom-right">
            <p-button
                *ngIf="network.idFront && (userService.isAllowedDigitalServiceWrite$ | async)"
                (onClick)="deleteNetwork()"
                styleClass="grey-button"
            >
                {{ "common.delete" | translate }}
            </p-button>
            <p-button (onClick)="close()" styleClass="white-button">
                {{ "common.cancel" | translate }}
            </p-button>
            <p-button *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                styleClass="yellow-button"
                [disabled]="networksForm.invalid"
                type="submit"
            >
                <span *ngIf="!network.idFront">
                    {{ "common.create" | translate }}
                </span>
                <span *ngIf="network.idFront">
                    {{ "common.save" | translate }}
                </span>
            </p-button>
        </div>
    </form>
</div>
