<div class="information-section my-3">
    <h3 class="m-0 text-lg mb-2 font-semibold">
        {{ "digital-services-terminals.information-step" | translate }}
    </h3>
    <p [innerHTML]="'digital-services-terminals.information-text' | translate"></p>
    <ul>
        <li>{{ "digital-services-terminals.information-li1" | translate }}</li>
        <li>{{ "digital-services-terminals.information-li2" | translate }}</li>
        <li>{{ "digital-services-terminals.information-li3" | translate }}</li>
    </ul>
</div>
<div class="table-container mb-5">
    <app-digital-service-table
        titleText="devices"
        accessibilityText="device"
        addButtonId="add-terminals"
        translationPrefix="digital-services-terminals"
        [headerFields]="headerFields"
        [data]="terminalData()"
        (sidebar)="changeSidebar($event)"
        (resetItem)="resetTerminal()"
        (setItem)="setItem($event)"
        (deleteItem)="deleteItem($event)"
    ></app-digital-service-table>
</div>
@if (sidebarVisible) {
    <p-drawer
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="drawer-lg"
        (onHide)="focusTerminalButton(); sidebarVisible = false"
        appendTo="body"
        ariaCloseLabel="Close"
    >
        <app-digital-services-terminals-side-panel
            #childSidePanel
            [terminal]="terminal"
            [terminalData]="terminalData()"
            [sidebarVisible]="sidebarVisible"
            (sidebarVisibleChange)="focusTerminalButton(); sidebarVisible = $event"
            (updateTerminals)="updateTerminals($event)"
            (deleteTerminals)="deleteItem($event)"
        >
        </app-digital-services-terminals-side-panel>
    </p-drawer>
}
