<div class="table-container">
    <app-digital-service-table
        titleText="devices"
        addButton="add"
        addButtonId="add-terminals"
        translationPrefix="digital-services-terminals"
        [headerFields]="headerFields"
        [data]="terminalData()"
        (sidebar)="changeSidebar($event)"
        (resetItem)="resetTerminal()"
        (setItem)="setItem($event)"
        (deleteItem)="deleteItem($event)"
    ></app-digital-service-table>
</div>
@if (sidebarVisible) {
    <p-sidebar
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="p-sidebar-lg"
        (onHide)="childSidePanel.close()"
        ariaCloseLabel="Close"
    >
        <app-digital-services-terminals-side-panel
            #childSidePanel
            [terminal]="terminal"
            [sidebarVisible]="sidebarVisible"
            (sidebarVisibleChange)="sidebarVisible = $event"
            (updateTerminals)="updateTerminals($event)"
            (deleteTerminals)="deleteTerminals($event)"
        >
        </app-digital-services-terminals-side-panel>
    </p-sidebar>
}
