<div class="footprint-dashboard-container">
    <div class="chart-container">
        <div>
            <h3>
                {{ "inventories-footprint.critere.repartition" | translate }}
            </h3>
            <p-card class="rmv-padding-card">
                <div class="round-button-container">
                    <button
                        *ngFor="let dimension of dimensions"
                        [class]="
                            (filterRepo.selectedView$ | async) === dimension
                                ? 'round-button-selected'
                                : 'round-button'
                        "
                        (click)="filterRepo.updateSelectedView(dimension)"
                    >
                        {{
                            "inventories-footprint.round-button." + dimension | translate
                        }}
                    </button>
                </div>
            </p-card>
        </div>
        <div *ngIf="noData; else chart" class="no-data-half">
            <p class="text-half-empty">{{ "common.no-data" | translate }}</p>
        </div>
        <ng-template #chart>
            <div
                echarts
                class="pie-half-donut m-0"
                [options]="options"
                style="height: 53vh;"
            ></div>
        </ng-template>
    </div>
    <div>
        <p-card>
            <app-impact-aggregate-infos
                [displayValue]="
                    (filterRepo.selectedUnite$ | async) === 'impact' ? impact : sip
                "
                [selectedCriteria]="(filterRepo.selectedCriteria$ | async) ?? ''"
                [unitOfCriteria]="(echartsRepo.unitOfCriteria$ | async) ?? ''"
                [selectedUnit]="(filterRepo.selectedUnite$ | async) ?? ''"
                (selectedUnitChange)="filterRepo.updateSelectedUnite($event)"
            ></app-impact-aggregate-infos>
            <app-information-card
                [title]="infoCardTitle(filterRepo.selectedCriteria$ | async) | translate"
                [content]="
                    infoCardContent(filterRepo.selectedCriteria$ | async) | translate
                "
            ></app-information-card>
        </p-card>
    </div>
</div>
