<div class="footprint-dashboard-container">
    <div class="chart-container">
        <div>
            <h3>
                {{ "inventories-footprint.critere.repartition" | translate }}
            </h3>
            <p-card class="rmv-padding-card">
                <div class="round-button-container">
                    <button
                        *ngFor="let dimension of dimensions"
                        [class.round-button-selected]="dimension === selectedDimension()"
                        [class.round-button]="dimension !== selectedDimension()"
                        (click)="selectedDimension.set(dimension)"
                    >
                        {{
                            "inventories-footprint.round-button." + dimension | translate
                        }}
                    </button>
                </div>
            </p-card>
        </div>
        @if (options().series) {
            <div echarts class="m-0" [options]="options()" style="height: 480px"></div>
        } @else {
            <div class="no-data-half">
                <p class="text-half-empty">{{ "common.no-data" | translate }}</p>
            </div>
        }
    </div>
    <div>
        <p-card>
            <app-impact-aggregate-infos
                [displayValue]="totalValue"
                [criteria]="footprintStore.criteria()"
                [unit]="footprintStore.unit()"
                (changeUnit)="changeUnitInStore($event)"
            ></app-impact-aggregate-infos>
            <app-information-card
                [title]="infocard().title"
                [content]="infocard().text"
            ></app-information-card>
        </p-card>
    </div>
</div>
