<div class="mb-3">
    <div class="side-data-title">
        <img src="assets/images/icons/icon-computer-desktop.svg" alt="" />
        <span tabIndex="0">
            {{ "inventories-footprint.global.equipment" | translate }}</span
        >
    </div>
    <p-card>
        <div class="footprint-data">
            <div>
                <span *ngIf="physicalEquipmentTotalCount !== 0; else zero" tabIndex="0">{{
                    physicalEquipmentTotalCount
                }}</span>
                <img
                    class="small-info"
                    src="assets/images/icons/icon-information.svg"
                    alt="{{ 'inventories-footprint.global.tooltip.nb-eq' | translate }}"
                    pTooltip="{{
                        'inventories-footprint.global.tooltip.nb-eq' | translate
                    }}"
                    tooltipEvent="focus"
                    tooltipPosition="right"
                    tabindex="0"
                /><br />
                <p
                    [ngClass]="{
                        'grey-text': physicalEquipmentTotalCount == 0
                    }"
                >
                    {{ "inventories-footprint.global.equipments" | translate }}
                </p>
            </div>
            <div>
                <span
                    *ngIf="
                        physicalEquipmentTotalCount !== 0 &&
                            physicalEquipmentAvgAge !== 0;
                        else zero
                    "
                    tabIndex="0"
                >
                    {{ physicalEquipmentAvgAge | number : "1.2-2" }}
                    <p
                        [ngClass]="{
                            'grey-text':
                                physicalEquipmentTotalCount == 0 &&
                                physicalEquipmentAvgAge == 0
                        }"
                        style="display: inline"
                    >
                        {{ "inventories-footprint.global.years" | translate }}
                    </p>
                </span>
                <img
                    class="small-info"
                    src="assets/images/icons/icon-information.svg"
                    alt="{{ 'inventories-footprint.global.tooltip.ave-age' | translate }}"
                    pTooltip="{{
                        'inventories-footprint.global.tooltip.ave-age' | translate
                    }}"
                    tooltipPosition="right"
                    tooltipEvent="focus"
                    tabindex="0"
                    style="margin-left: 0"
                />
                <br />
                <p
                    [ngClass]="{
                        'grey-text':
                            physicalEquipmentTotalCount == 0 &&
                            physicalEquipmentAvgAge == 0
                    }"
                >
                    {{ "inventories-footprint.global.ave-age" | translate }}
                </p>
            </div>
            <div>
                <span *ngIf="physicalEquipmentTotalCount !== 0; else zero" tabindex="0">
                    {{ physicalEquipmentPourcentageLowCarbon | number : "1.0-0" }}%
                </span>
                <img
                    class="small-info"
                    src="assets/images/icons/icon-information.svg"
                    alt="{{
                        'inventories-footprint.global.tooltip.low-carbon' | translate
                    }}"
                    pTooltip="{{
                        'inventories-footprint.global.tooltip.low-carbon' | translate
                    }}"
                    tooltipEvent="focus"
                    tooltipPosition="right"
                    tabindex="0"
                />
                <p
                    [ngClass]="{
                        'grey-text': physicalEquipmentTotalCount == 0
                    }"
                >
                    {{ "inventories-footprint.global.low-carbon" | translate }}
                </p>
                <ng-template #zero
                    ><span class="text-no-data-global">--</span></ng-template
                >
            </div>
        </div>
    </p-card>
</div>
