<div class="lg-file-panel-margin">
    <div class="side-panel-title">
        {{ server.name }}
    </div>
    <div class="side-panel-subtitle">
        {{ server.mutualizationType }}/{{ server.type }}
    </div>
    <form [formGroup]="serverForm" class="terminal-grid-form" (ngSubmit)="nextStep()">
        <div class="form-flex-column form-flex-column-server">
            <div class="label-input-div-full label-input-div-full-server">
                <label>{{ "digital-services-servers.host" | translate }}</label>
                <p-dropdown
                    appendTo="body"
                    [options]="hostOptions"
                    optionLabel="value"
                    styleClass="dropdown-terminal"
                    dataKey="code"
                    formControlName="host"
                    [required]="true"
                    [(ngModel)]="server.host"
                    (onChange)="changeDefaultValue()"
                    [filter]="true"
                    filterBy="value"
                    filterPlaceholder="Search"
                    name="host"
                    ngDefaultControl
                ></p-dropdown>
                <p
                    class="error-text"
                    *ngIf="serverForm.get('type')?.hasError('required')"
                >
                    {{ "digital-services-servers.host" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            </div>
            <div class="underlined-div">
                <p>{{ "digital-services-servers.additional" | translate }}</p>
            </div>

            <div class="label-input-div label-input-div-server">
                <label>{{ "digital-services-servers.datacenter" | translate }}</label>
                <div class="form-flex-row">
                    <p-dropdown
                        appendTo="body"
                        [options]="datacenterOptions"
                        optionLabel="name"
                        styleClass="dropdown-terminal"
                        formControlName="datacenter"
                        [required]="true"
                        [(ngModel)]="server.datacenter"
                        name="datacenter"
                        ngDefaultControl
                    ></p-dropdown>
                    <p
                        class="error-text"
                        *ngIf="serverForm.get('type')?.hasError('required')"
                    >
                        {{ "digital-services-servers.datacenter" | translate }}
                        {{ "common.mandatory" | translate }}
                    </p>
                    <p-button  *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                        (click)="addSidebarVisible = true"
                        styleClass="black-button grey-button-add-datacenter"
                    >
                        {{ "common.add" | translate }}
                        {{ "digital-services-servers.datacenter" | translate }}
                    </p-button>
                    <p-sidebar
                        [(visible)]="addSidebarVisible"
                        position="right"
                        styleClass="p-sidebar-lg"
                    >
                        <app-side-panel-datacenter
                            [server]="server"
                            [addSidebarVisible]="addSidebarVisible"
                            (addSidebarVisibleChange)="addSidebarVisible = $event"
                            (serverChange)="addDatacenter($event)"
                        >
                        </app-side-panel-datacenter>
                    </p-sidebar>
                </div>
            </div>
            <div class="form-flex-row">
                <div
                    *ngIf="server.mutualizationType === 'Dedicated'"
                    [ngClass]="
                        server.mutualizationType == 'Dedicated'
                            ? 'label-input-div label-input-div-server'
                            : 'label-input-div-medium'
                    "
                >
                    <label>{{ "digital-services-servers.quantity" | translate }}</label>
                    <p-inputNumber
                        formControlName="quantity"
                        [required]="true"
                        [min]="0"
                        styleClass="inputnumber-small"
                        [(ngModel)]="server.quantity"
                        name="quantity"
                        ngDefaultControl
                    ></p-inputNumber>
                    <p
                        class="error-text"
                        *ngIf="serverForm.get('quantity')?.hasError('required')"
                    >
                        {{ "digital-services-servers.quantity" | translate }}
                        {{ "common.mandatory" | translate }}
                    </p>
                </div>
                <div
                    *ngIf="server.type === 'Compute'"
                    [ngClass]="
                        server.mutualizationType == 'Dedicated'
                            ? 'label-input-div label-input-div-server'
                            : 'label-input-div-medium'
                    "
                >
                    <label>{{ "digital-services-servers.total.vcpu" | translate }}</label>
                    <p-inputNumber
                        formControlName="vcpu"
                        [required]="true"
                        [min]="0"
                        styleClass="inputnumber-small"
                        [(ngModel)]="server.totalVCpu"
                        name="vcpu"
                        ngDefaultControl
                    ></p-inputNumber>
                    <p
                        class="error-text"
                        *ngIf="serverForm.get('vcpu')?.hasError('required')"
                    >
                        {{ "digital-services-servers.total.vcpu" | translate }}
                        {{ "common.mandatory" | translate }}
                    </p>
                </div>
                <div
                    *ngIf="server.type === 'Storage'"
                    [ngClass]="
                        server.mutualizationType == 'Dedicated'
                            ? 'label-input-div label-input-div-server'
                            : 'label-input-div-medium'
                    "
                >
                    <label>
                        {{ "digital-services-servers.total.disk" | translate }}
                    </label>
                    <p-inputNumber
                        formControlName="disk"
                        [required]="true"
                        [min]="0"
                        styleClass="inputnumber-small"
                        [(ngModel)]="server.totalDisk"
                        name="disk"
                        ngDefaultControl
                    ></p-inputNumber>
                    <p
                        class="error-text"
                        *ngIf="serverForm.get('disk')?.hasError('required')"
                    >
                        {{ "digital-services-servers.total.disk" | translate }}
                        {{ "common.mandatory" | translate }}
                    </p>
                </div>
                <div
                    [ngClass]="
                        server.mutualizationType == 'Dedicated'
                            ? 'label-input-div label-input-div-server'
                            : 'label-input-div-medium'
                    "
                >
                    <label>
                        {{ "digital-services-servers.lifespan" | translate }}
                    </label>
                    <p-inputNumber
                        formControlName="lifespan"
                        mode="decimal"
                        inputId="minmaxfraction"
                        [minFractionDigits]="1"
                        styleClass="inputnumber-small"
                        [required]="true"
                        [min]="0"
                        [(ngModel)]="server.lifespan"
                        name="lifespan"
                        ngDefaultControl
                    ></p-inputNumber>
                    <p
                        class="error-text"
                        *ngIf="serverForm.get('lifespan')?.hasError('required')"
                    >
                        {{ "digital-services-servers.lifespan" | translate }}
                        {{ "common.mandatory" | translate }}
                    </p>
                </div>
            </div>
            <div class="form-flex-row">
                <div class="label-input-div-medium">
                    <label>{{
                        "digital-services-servers.electricity" | translate
                    }}</label>
                    <p-inputNumber
                        formControlName="electricityConsumption"
                        [required]="true"
                        [min]="0"
                        [(ngModel)]="server.annualElectricConsumption"
                        name="electricityConsumption"
                        styleClass="inputnumber-medium"
                        ngDefaultControl
                    ></p-inputNumber>
                    <p
                        class="error-text"
                        *ngIf="
                            serverForm.get('electricityConsumption')?.hasError('required')
                        "
                    >
                        {{ "digital-services-servers.electricity" | translate }}
                        {{ "common.mandatory" | translate }}
                    </p>
                </div>
                <div
                    class="label-input-div-medium"
                    *ngIf="server.mutualizationType === 'Dedicated'"
                >
                    <label>{{ "digital-services-servers.usage.time" | translate }}</label>
                    <p-inputNumber
                        formControlName="operatingTime"
                        [required]="true"
                        [min]="0"
                        [(ngModel)]="server.annualOperatingTime"
                        name="operatingTime"
                        styleClass="inputnumber-medium"
                        ngDefaultControl
                    ></p-inputNumber>
                    <p
                        class="error-text"
                        *ngIf="serverForm.get('operatingTime')?.hasError('required')"
                    >
                        {{ "digital-services-servers.usage.time" | translate }}
                        {{ "common.mandatory" | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="button-bottom-right">
            <p-button styleClass="white-button" (click)="close()">
                {{ "common.cancel" | translate }}
            </p-button>

            <p-button styleClass="black-button" (click)="previousStep()">
                <img
                    alt=""
                    src="assets/images/icons/icon-arrow-left-white.svg"
                    class="previous-img"
                />
                {{ "common.previous" | translate }}
            </p-button>

            <p-button *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                styleClass="yellow-button"
                type="submit"
                [disabled]="serverForm.invalid"
            >
                <span
                    *ngIf="server.mutualizationType === 'Dedicated' && server.uid === ''"
                    >{{ "common.create" | translate }}</span
                >
                <span
                    *ngIf="server.mutualizationType === 'Dedicated' && server.uid !== ''"
                    >{{ "common.save" | translate }}</span
                >
                <span *ngIf="server.mutualizationType === 'Shared'"
                    >{{ "common.next" | translate }}
                    <img alt="" src="assets/images/icons/icon-arrow-right.svg"
                /></span>
            </p-button>
        </div>
    </form>
</div>
