<nav class="flex flex-column align-items-stretch h-screen" role="navigation">
    <div class="flex align-items-center justify-content-center mb-2 mt-4">
        <a routerLink="/">
            <img
                src="assets/images/logos/logo-overgreen.svg"
                alt="{{ 'common.homepage' | translate }}"
                class="cursor-pointer"
                width="50"
            />
        </a>
    </div>

    <div class="flex align-items-center justify-content-center my-2">
        <app-companies-menu
            [selectedOrganization]="selectedOrganizationData"
            [organizations]="organizations"
            [selectedPage]="selectedPage()"
        >
        </app-companies-menu>
    </div>

    <div class="flex align-items-center justify-content-center h-9rem"></div>
    <div
        class="flex align-items-center justify-content-center my-2"
        [attr.aria-label]="'header.menu' | translate"
    >
        <a
            *ngIf="userService.isAllowedDigitalServiceRead$ | async"
            class="p-2"
            [routerLink]="selectedPath + '/digital-services'"
            id="digital-services"
        >
            <img
                src="assets/images/icons/icon-digital-service.svg"
                [ngClass]="{ 'svg-white': selectedPage() !== 'digital-services' }"
                alt="{{
                    'digital-services.title'
                        | translate: { OrganizationName: selectedOrganization.name }
                }}"
                [attr.title]="digitalServicesTitle()"
                [attr.aria-current]="digitalServicesAriaCurrent()"
                width="25"
            />
        </a>
    </div>
    <div class="flex align-items-center justify-content-center my-2">
        <a
            class="p-2"
            *ngIf="userService.isAllowedInventoryRead$ | async"
            [routerLink]="selectedPath + '/inventories'"
            id="information-system"
        >
            <img
                src="assets/images/icons/icon-dashboard.svg"
                [ngClass]="{ 'svg-white': selectedPage() !== 'inventories' }"
                alt="{{
                    'inventories.title'
                        | translate: { OrganizationName: selectedOrganization.name }
                }}"
                [attr.title]="inventoriesTitle()"
                width="25"
            />
        </a>
    </div>
    <div class="flex align-items-center justify-content-center my-2">
        <a
            routerLink="/administration/users"
            *ngIf="isAdminOnSubscriberOrOrganization"
            class="p-2"
            id="administration"
        >
            <img
                src="assets/images/icons/icon-key.svg"
                [ngClass]="{ 'svg-white': selectedPage() !== 'administration' }"
                alt="{{ 'common.administration' | translate }}"
                [attr.title]="administrationTitle()"
                [attr.aria-current]="administrationAriaCurrent()"
                width="25"
            />
        </a>
    </div>
    <div class="flex-grow-1 flex align-items-center justify-content-center"></div>
    <div
        class="flex align-items-center justify-content-center mb-5"
        (click)="sideHeaderVisible = true"
    >
        <div class="relative">
            <p-button
                [ariaLabel]="'common.settings' | translate"
                [label]="initials"
                styleClass="border-circle bg-blue-800 text-md p-0 w-2-5rem h-2-5rem"
            >
            </p-button>
            <i class="pi pi-cog absolute text-white" style="bottom: -3px; right: 3px"></i>
        </div>
    </div>
</nav>

@if (sideHeaderVisible) {
    <div id="settings-sidebar">
        <p-sidebar [(visible)]="sideHeaderVisible" (onHide)="sideHeaderVisible = false">
            <ng-template pTemplate="content">
                <div class="text-white">
                    <div class="mt-2 mb-5">
                        <div
                            id="openUserInfo"
                            class="text-lg p-1"
                            appAutofocus
                            tabindex="-1"
                        >
                            {{ "common.user-info" | translate }}
                        </div>
                        <div class="border border-left-2 border-white mx-2 px-3">
                            <ul aria-labelledby="openUserInfo" tabindex="0">
                                <li
                                    *ngFor="
                                        let userDetail of userDetails
                                            | keyvalue: originalOrder
                                    "
                                    class="ml-1 my-2"
                                >
                                    <div class="text-gray-400">
                                        {{ "common." + userDetail.key | translate }}
                                    </div>
                                    <label
                                        [attr.aria-label]="
                                            'common.' + userDetail.key | translate
                                        "
                                    >
                                        {{ userDetail.value }}
                                    </label>
                                </li>
                            </ul>
                            <p-button
                                styleClass="text-white bg-red-800"
                                (click)="logout()"
                                [ariaLabel]="'common.disconnect' | translate"
                                class="mx-1"
                                icon="pi pi-sign-out"
                                [label]="'common.disconnect' | translate"
                            >
                            </p-button>
                        </div>
                    </div>

                    <div>
                        <div id="langTitle" class="text-lg p-1">
                            {{ "common.lang" | translate }}
                        </div>
                        <div
                            role="group"
                            aria-labelledby="langTitle"
                            class="border border-left-2 border-white mx-2 px-3"
                        >
                            <ul aria-labelledby="langTitle" class="white-radio-buttons">
                                <li class="mb-2">
                                    <p-radioButton
                                        name="language"
                                        value="en"
                                        [(ngModel)]="selectedLanguage"
                                        (ngModelChange)="changeLanguage('en')"
                                        aria-labelledby="enLabel"
                                    ></p-radioButton>
                                    <label
                                        for="en"
                                        id="enLabel"
                                        class="ml-1"
                                        [attr.aria-label]="
                                            'common.english-button' | translate
                                        "
                                    >
                                        {{ "common.english" | translate }}
                                    </label>
                                </li>
                                <li>
                                    <p-radioButton
                                        name="language"
                                        value="fr"
                                        [(ngModel)]="selectedLanguage"
                                        (ngModelChange)="changeLanguage('fr')"
                                        aria-labelledby="frLabel"
                                    ></p-radioButton>
                                    <label
                                        for="fr"
                                        id="frLabel"
                                        class="ml-1"
                                        [attr.aria-label]="
                                            'common.french-button' | translate
                                        "
                                    >
                                        {{ "common.french" | translate }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="my-5">
                        <div id="openTitle" class="text-lg p-1">
                            {{ "common.open-hours" | translate }}
                        </div>
                        <div class="border border-left-2 border-white mx-2 px-3">
                            <ul aria-labelledby="openTitle">
                                <li
                                    class="flex justify-content-between flex-wrap"
                                    *ngFor="let data of businessHoursData"
                                >
                                    <span>{{
                                        "common.week." + data.day | translate
                                    }}</span
                                    ><span *ngIf="data.start_time"
                                        >{{ data.start_time | businessHoursRenderer }} -
                                        {{ data.end_time | businessHoursRenderer
                                        }}<span *ngIf="selectedLanguage === 'en'">
                                            UTC</span
                                        >
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="my-5">
                        <div id="openVersion" class="text-lg p-1">
                            {{ "common.versions" | translate }}
                        </div>
                        <div class="border border-left-2 border-white mx-2 px-3">
                            <ul aria-labelledby="openVersion">
                                <li
                                    class="flex justify-content-between flex-wrap"
                                    *ngFor="let software of versions"
                                >
                                    <span>{{ software.name | uppercase }}</span>
                                    <span>{{ software.version }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="my-5">
                        <p-button
                            styleClass="bg-black text-white"
                            (onClick)="composeEmail()"
                            >{{ "common.mailTo" | translate }}
                        </p-button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <span
                    style="color: white"
                    tabindex="0"
                    role="application"
                    [attr.aria-label]="'common.powered-by-sopra' | translate"
                >
                    {{ "common.powered-by" | translate }}
                    <img src="assets/images/logos/logo-ssg.svg" alt="" width="20px" />
                </span>
            </ng-template>
        </p-sidebar>
    </div>
}
