<div class="lg-file-panel-margin">
    <div class="side-panel-title" *ngIf="server.uid === ''">
        {{ "digital-services-servers.new" | translate }}
    </div>
    <div class="side-panel-title" *ngIf="server.uid !== ''">
        {{ "digital-services-servers.edit" | translate }}
    </div>
    <form [formGroup]="serverForm" (ngSubmit)="nextStep()">
        <div class="label-input-div-full">
            <label>{{ "digital-services-servers.name" | translate }}</label>
            <input
                pInputText
                type="text"
                formControlName="name"
                [(ngModel)]="server.name"
                [required]="true"
            />
            <p class="error-text" *ngIf="serverForm.get('name')?.hasError('required')">
                {{ "digital-services-servers.name" | translate }}
                {{ "common.mandatory" | translate }}
            </p>
        </div>
        <div style="display: flex; margin-top: 25px">
            <div>
                <div class="radio-button-selection">
                    <label for="Dedicated" class="ml-2">{{
                        "digital-services-servers.Dedicated" | translate
                    }}</label>
                    <p-radioButton
                        name="mutualizationType"
                        formControlName="mutualizationType"
                        value="Dedicated"
                        inputId="Dedicated"
                        [(ngModel)]="server.mutualizationType"
                    ></p-radioButton>
                    <p-divider layout="vertical"></p-divider>
                    <label for="Shared" class="ml-2">{{
                        "digital-services-servers.Shared" | translate
                    }}</label>
                    <p-radioButton
                        name="mutualizationType"
                        formControlName="mutualizationType"
                        value="Shared"
                        inputId="Shared"
                        [(ngModel)]="server.mutualizationType"
                    ></p-radioButton>
                </div>
                <p
                    class="error-text"
                    *ngIf="serverForm.get('mutualizationType')?.hasError('required')"
                >
                    {{ "digital-services-servers.allocation" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div>
                <div class="radio-button-selection">
                    <label for="Compute" class="ml-2">{{
                        "digital-services-servers.Compute" | translate
                    }}</label>
                    <p-radioButton
                        name="type"
                        [(ngModel)]="server.type"
                        formControlName="type"
                        value="Compute"
                        inputId="Compute"
                    ></p-radioButton>
                    <p-divider layout="vertical"></p-divider>
                    <label for="Storage" class="ml-2">{{
                        "digital-services-servers.Storage" | translate
                    }}</label>
                    <p-radioButton
                        name="type"
                        [(ngModel)]="server.type"
                        formControlName="type"
                        value="Storage"
                        inputId="Storage"
                    ></p-radioButton>
                </div>
                <p
                    class="error-text"
                    *ngIf="serverForm.get('type')?.hasError('required')"
                >
                    {{ "digital-services-servers.type" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            </div>
        </div>

        <div class="button-bottom-right">
            <p-button styleClass="white-button" (click)="close()">
                {{ "common.cancel" | translate }}
            </p-button>
            <p-button *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                styleClass="black-button"
                [disabled]="serverForm.invalid"
                type="submit"
            >
                {{ "common.next" | translate }}
                <img
                    alt=""
                    src="assets/images/icons/icon-arrow-right-white.svg"
                    class="next-img"
                />
            </p-button>
        </div>
    </form>
</div>
