<div class="pt-4">
    <span for="organizationName" role="heading" [ariaLevel]="3"
        >{{ "administration.user.select-org" | translate }} </span
    ><br />
    <div
        class="h-2rem border-top-2 border-primary p-0 mt-1"
        style="color: lightgray"
    ></div>
    <p-dropdown
        appendTo="body"
        [options]="organizationlist"
        optionLabel="displayLabel"
        name="organizationName"
        [(ngModel)]="organization"
        [style]="{ width: '35%' }"
        [placeholder]="'administration.user-placeholder' | translate"
        (ngModelChange)="
            membersAndSearchVisible = true;
            getUsersDetails();
            clearSearchField();
            checkForValidation()
        "
        inputId="organizationName"
        [ariaLabel]="'administration.user.select-org' | translate"
        id="organizationName"
    />
    @if (organization.organizationName) {
        <div class="inline-block vertical-align-middle">
            <p-button
                styleClass="p-button-text"
                [ariaLabel]="'administration.accessibility.select-criteria' | translate"
                class="mx-1"
                styleClass="ml-1 mr-2"
                (onClick)="displayPopup = true"
                icon="pi pi-cog"
                (onClick)="displayPopupFct()"
                [text]="true"
                [plain]="true"
                [rounded]="true"
                size="large"
                [ariaLabel]="
                    'administration.organization.choose-criteria'
                        | translate: { organizationName: organization.organizationName }
                "
                id="criteria-button"
            >
            </p-button>
        </div>
    }

    <app-criteria-popup
        [displayPopup]="displayPopup"
        [type]="'organization'"
        [organizationDetails]="organization"
        [subscriberDetails]="subscriber"
        [selectedCriteriaIS]="selectedCriteriaIS"
        [selectedCriteriaDS]="selectedCriteriaDS"
        (onSaveOrganization)="handleSaveOrganization($event)"
        (onClose)="displayPopup = false"
    ></app-criteria-popup>
    <form class="mt-3" *ngIf="membersAndSearchVisible" [formGroup]="searchForm">
        <span for="searchName" role="heading" [ariaLevel]="3"
            >{{ "administration.user.search-user" | translate }}
        </span>
        <div class="h-1rem border-top-2 border-primary p-0 mt-1"></div>
        <input
            class="input-width pl-2"
            pInputText
            placeholder="Email"
            pInputText
            formControlName="searchName"
            name="searchName"
            (keydown.enter)="searchList()"
            ngDefaultControl
            id="searchName"
            [ariaLabel]="'administration.user.search-user' | translate"
        />
        <p-button
            [disabled]="!searchForm.valid"
            (click)="searchList()"
            id="search-button"
            >{{ "administration.user.search" | translate }}</p-button
        >
        <p class="error-text" *ngIf="filteredMembers.length === 0 && errorMessageVisible">
            {{ "administration.user.no-results" | translate }}
        </p>
    </form>

    <div *ngIf="organization && filteredMembers.length > 0">
        <p-table
            [value]="filteredMembers"
            [rows]="5"
            [paginator]="true"
            [scrollable]="true"
            scrollHeight="50vh"
            sortField="email"
            [sortOrder]="1"
            [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
            styleClass="mt-3 mr-3"
        >
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="table-head">
                        {{ organization.organizationName }} - {{ membersList?.length }}
                        {{
                            membersList.length <= 1
                                ? ("administration.user.member" | translate)
                                : ("administration.user.members" | translate)
                        }}
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <caption class="visually-hidden">
                    {{
                        "administration.user.title" | translate
                    }}
                </caption>
                <tr>
                    <th scope="col" id="id">
                        {{ "digital-services-networks.id" | translate }}
                    </th>

                    <th scope="col" id="firstName" pSortableColumn="firstName">
                        {{ "administration.user.first-name" | translate }}
                        <p-sortIcon field="firstName"></p-sortIcon>
                    </th>
                    <th scope="col" id="lastName" pSortableColumn="lastName">
                        {{ "administration.user.last-name" | translate }}
                        <p-sortIcon field="lastName"></p-sortIcon>
                    </th>
                    <th scope="col" id="email" pSortableColumn="email">
                        {{ "administration.user.mail" | translate }}
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th scope="col" class="text-center">
                        {{ "administration.user.is-module" | translate }}
                    </th>
                    <th scope="col" class="text-center">
                        {{ "administration.user.ds-module" | translate }}
                    </th>
                    <th scope="col" class="text-center">
                        {{ "administration.user.role" | translate }}
                    </th>
                    <th scope="col" class="text-center">
                        {{ "administration.user.actions" | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
                <tr>
                    <td class="grey-text">{{ rowIndex + 1 }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">{{ user?.isModule | translate }}</td>
                    <td class="text-center">{{ user?.dsModule | translate }}</td>
                    <td class="text-center">{{ user?.role | translate }}</td>
                    <td class="text-center">
                        <div *ngIf="!user.isSubscriberAdmin">
                            <p-button
                                *ngIf="user.roles.length > 0"
                                styleClass="p-button-text bg-white p-0 m-0"
                                (click)="openSidepanelForAddORUpdateOrg(user)"
                            >
                                <img
                                    src="assets/images/icons/icon-edit.svg"
                                    ariaLabel="{{ 'common.edit' | translate }} {{
                                        user.firstName
                                    }} {{ user.lastName }}"
                                    alt="{{ 'common.edit' | translate }} {{
                                        user.firstName
                                    }} {{ user.lastName }}"
                                />
                            </p-button>
                            <p-button
                                *ngIf="user.roles.length > 0"
                                styleClass="p-button-text bg-white py-0 my-0"
                                (click)="deleteUserDetails($event, user)"
                                id="delete-button"
                            >
                                <img
                                    src="assets/images/icons/icon-bin.svg"
                                    ariaLabel="{{ 'common.delete' | translate }} {{
                                        user.firstName
                                    }} {{ user.lastName }}"
                                    alt="{{ 'common.delete' | translate }} {{
                                        user.firstName
                                    }} {{ user.lastName }}"
                                />
                            </p-button>
                            <i
                                *ngIf="user.roles.length === 0"
                                (click)="openSidepanelForAddORUpdateOrg(user)"
                                class="pi pi-plus bg-tertiary text-white p-2 border-round cursor-pointer"
                                id="actions-button"
                            ></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    @if (sidebarVisible) {
        <p-sidebar
            [(visible)]="sidebarVisible"
            [style]="{ width: '35%' }"
            position="right"
            [showCloseIcon]="true"
            (onHide)="clearForm = true; searchList(); sidebarVisible = false"
            ariaCloseLabel="Close"
        >
            <app-add-organization
                #addOrganisationPanel
                [userDetail]="userDetail"
                (close)="searchList(); sidebarVisible = false"
                [organization]="organization"
                [clearForm]="clearForm"
                [updateOrganizationEnable]="!sidebarCreateMode"
            ></app-add-organization>
        </p-sidebar>
    }
    <div class="card flex justify-content-center gap-2">
        <p-toast></p-toast>
        <p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog>
    </div>
</div>
