<p-toast #toast position="bottom-center"></p-toast>
<div class="flex justify-content-between align-items-center flex-wrap mr-4 mb-4">
    <h1>
        {{ "inventories.title" | translate: { WorkspaceName: selectedWorkspace } }}
    </h1>
    <!-- Side Panel -->
    @if (sidebarType === "FILE" && sidebarVisible) {
        <p-drawer
            [(visible)]="sidebarVisible"
            position="right"
            styleClass="drawer-md"
            (onHide)="focusLoadButton(); filePanel.close()"
            ariaCloseLabel="Close"
        >
            <app-file-panel
                #filePanel
                [purpose]="sidebarPurpose"
                [name]="name"
                [inventoryId]="id"
                [allSimulations]="inventoriesForSimulationsAll"
                [inventories]="inventories.get('INFORMATION_SYSTEM')!"
                (sidebarPurposeChange)="sidebarPurpose = $event"
                (sidebarVisibleChange)="focusLoadButton(); sidebarVisible = $event"
                (reloadInventoriesAndLoop)="reloadInventoriesAndLoop($event)"
            ></app-file-panel>
        </p-drawer>
    }
    @if (sidebarType === "NOTE" && sidebarVisible) {
        <p-drawer
            [(visible)]="sidebarVisible"
            position="right"
            styleClass=" w-7"
            (onHide)="focusNoteButton(); sidebarVisible = false"
            ariaCloseLabel="Close"
        >
            <app-common-editor
                [content]="selectedInventory.note?.content"
                [title]="'Note - ' + selectedInventory.name"
                [isWriteRole]="userService.isAllowedInventoryWrite$ | async"
                (saveValue)="noteSaveValue($event)"
                (outClose)="focusNoteButton(); sidebarVisible = $event"
                (delete)="noteDelete($event); focusNoteButton(); sidebarVisible = $event"
                styleClass="m-0"
            >
            </app-common-editor>
        </p-drawer>
    }
    @if (userService.isAllowedInventoryWrite$ | async) {
        <p-button
            [id]="'new' + id"
            styleClass="black-button"
            (onClick)="
                name = '';
                sidebarPurpose = 'new';
                sidebarType = 'FILE';
                sidebarVisible = true
            "
            id="new-inventory"
            >{{ "inventories.add" | translate }}</p-button
        >
    }
</div>
<p-scrollPanel [style]="{ width: '100%', height: '95%' }" tabindex="-1">
    <!-- ================= INFORMATION SYSTEM ================= -->
    <p-accordion
        class="transparentBackgound"
        [value]="inventoryBlocksOpen.has('INFORMATION_SYSTEM') ? '0' : ''"
        (onOpen)="openTab($event, 'INFORMATION_SYSTEM')"
        (onClose)="closeTab($event, 'INFORMATION_SYSTEM')"
    >
        <p-accordion-panel value="0">
            <p-accordion-header
                [pt]="{
                    root: {
                        class: 'bg-transparent border-none',
                    },
                }"
            >
                <h2 class="text-lg m-0 font-semibold line-height-2">
                    {{ "inventories.headerForIS" | translate }}
                </h2>
            </p-accordion-header>

            <p-accordion-content
                [pt]="{
                    root: {
                        class: 'bg-transparent border-none',
                    },
                    content: {
                        class: 'bg-transparent',
                    },
                }"
                class="overflow-y-auto"
                style="max-height: 60vh"
            >
                <div class="inventory-list mx-3">
                    <!-- CHILD ACCORDION -->
                    <p-accordion
                        [multiple]="true"
                        [value]="array.from(inventoriesOpen, String)"
                        (onClose)="childCloseTab($event)"
                        (onOpen)="childOpenTab($event)"
                    >
                        @for (
                            inventory of inventories.get("INFORMATION_SYSTEM");
                            track inventory.id
                        ) {
                            <app-inventory-item
                                [inventory]="inventory"
                                (reloadInventoriesAndLoop)="
                                    reloadInventoriesAndLoop($event)
                                "
                                (reloadInventoryAndLoop)="reloadInventoryAndLoop($event)"
                                (openSidebarForUploadInventory)="
                                    openSidebarForUploadInventory($event)
                                "
                                (openSidebarForNote)="openSidebarForNote($event)"
                                (saveInventory)="
                                    handleSaveInventory($event, 'INFORMATION_SYSTEM')
                                "
                                (openTab)="childOpenTab($event)"
                                (closeTab)="childCloseTab($event)"
                                [open]="inventoriesOpen.has(inventory.id)"
                                (renewInventoryId)="
                                    renewInventoryId = $event;
                                    inventoryRenewServicePopup = true
                                "
                            >
                            </app-inventory-item>
                        }
                    </p-accordion>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>

    <!-- ================= SIMULATION ================= -->
    <p-accordion
        (onOpen)="openTab($event, 'SIMULATION')"
        (onClose)="closeTab($event, 'SIMULATION')"
        class="transparentBackgound"
        [value]="inventoryBlocksOpen.has('SIMULATION') ? '1' : ''"
    >
        <p-accordion-panel value="1">
            <!-- HEADER -->
            <p-accordion-header
                [pt]="{
                    root: {
                        class: 'bg-transparent border-none',
                    },
                }"
            >
                <div class="flex justify-content-between w-full align-items-center">
                    <h2 class="text-lg m-0 font-semibold line-height-2">
                        {{ "inventories.headerForSimulation" | translate }}
                    </h2>

                    <div class="flex align-items-center">
                        @if (
                            inventoryBlocksOpen.has("SIMULATION") &&
                            inventoriesForSimulationsAll.length > 0
                        ) {
                            <span class="p-input-icon-left">
                                <i class="pi pi-search relative"></i>
                                <label for="simulatorSearch" class="visually-hidden">
                                    {{ "inventories.searchSimulator" | translate }}
                                </label>
                                <input
                                    id="simulatorSearch"
                                    type="text"
                                    pInputText
                                    class="p-inputtext-sm"
                                    style="width: 18vw; min-width: 180px"
                                    (keyup)="searchList()"
                                    (click)="onClick($event)"
                                    [(ngModel)]="filterMode"
                                    placeholder="{{
                                        'inventories.searchSimulator' | translate
                                    }}"
                                />
                            </span>
                        }
                    </div>
                </div>
            </p-accordion-header>

            <!-- CONTENT -->
            <p-accordion-content
                [pt]="{
                    root: {
                        class: 'bg-transparent border-none',
                    },
                    content: {
                        class: 'bg-transparent',
                    },
                }"
                class="overflow-y-auto"
                style="max-height: 60vh"
            >
                <div class="inventory-list mx-3">
                    <p-accordion
                        [multiple]="true"
                        [value]="array.from(inventoriesOpen, String)"
                        (onClose)="childCloseTab($event)"
                        (onOpen)="childOpenTab($event)"
                    >
                        @for (
                            inventory of inventories.get("SIMULATION");
                            track inventory.id
                        ) {
                            <app-inventory-item
                                [inventory]="inventory"
                                (reloadInventoriesAndLoop)="
                                    reloadInventoriesAndLoop($event)
                                "
                                (reloadInventoryAndLoop)="reloadInventoryAndLoop($event)"
                                (openSidebarForUploadInventory)="
                                    openSidebarForUploadInventory($event)
                                "
                                (openSidebarForNote)="openSidebarForNote($event)"
                                (saveInventory)="
                                    handleSaveInventory($event, 'SIMULATION')
                                "
                                (openTab)="childOpenTab($event)"
                                (closeTab)="childCloseTab($event)"
                                [open]="inventoriesOpen.has(inventory.id)"
                                (renewInventoryId)="
                                    renewInventoryId = $event;
                                    inventoryRenewServicePopup = true
                                "
                            >
                            </app-inventory-item>
                        }
                    </p-accordion>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</p-scrollPanel>

@if (inventoryRenewServicePopup && renewInventoryId) {
    <app-renew-service-popup
        [displayPopup]="inventoryRenewServicePopup"
        [serviceId]="renewInventoryId"
        (outClose)="inventoryRenewServicePopup = false"
        [isInventory]="true"
        (outExtended)="reloadInventories()"
    >
    </app-renew-service-popup>
}
