<p-toast #toast position="bottom-center"></p-toast>
<div class="flex justify-content-between align-items-center flex-wrap mr-4 mb-4">
    <h1 tabIndex="0">
        {{ "inventories.title" | translate: { OrganizationName: selectedOrganization } }}
    </h1>
    <!-- Side Panel -->
    <p-sidebar
        *ngIf="sidebarType === 'FILE'"
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="p-sidebar-md"
        (onHide)="filePanel.close()"
    >
        <app-file-panel
            #filePanel
            [purpose]="sidebarPurpose"
            [name]="name"
            [inventoryId]="id"
            [allSimulations]="inventoriesForSimulationsAll"
            [inventories]="inventories.get('INFORMATION_SYSTEM')!"
            (sidebarPurposeChange)="sidebarPurpose = $event"
            (sidebarVisibleChange)="sidebarVisible = $event"
            (reloadInventoriesAndLoop)="reloadInventoriesAndLoop($event)"
        ></app-file-panel>
    </p-sidebar>
    <p-sidebar
        *ngIf="sidebarType === 'NOTE'"
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="p-sidebar-md w-7"
    >
        <app-common-editor
            [content]="selectedInventory.note?.content"
            [title]="'Note - ' + selectedInventory.name"
            [showButtons]="userService.isAllowedInventoryWrite$ | async"
            (saveValue)="noteSaveValue($event)"
            (close)="sidebarVisible = $event"
            (delete)="noteDelete($event); sidebarVisible = $event"
            styleClass="mx-7"
        >
        </app-common-editor>
    </p-sidebar>
    <p-button
        *ngIf="userService.isAllowedInventoryWrite$ | async"
        styleClass="black-button"
        (click)="
            name = ''; sidebarPurpose = 'new'; sidebarType = 'FILE'; sidebarVisible = true
        "
        >{{ "inventories.add" | translate }}</p-button
    >
</div>
<p-scrollPanel [style]="{ width: '100%', height: '95%' }">
    <p-accordion
        class="transparentBackgound"
        [multiple]="true"
        (onOpen)="openTab($event, 'INFORMATION_SYSTEM')"
        (onClose)="closeTab($event, 'INFORMATION_SYSTEM')"
    >
        <p-accordionTab
            [header]="'inventories.headerForIS' | translate"
            headerStyleClass="font-bold bg-transparent"
            tabStyleClass="shadow-none"
            [selected]="inventoryBlocksOpen.has('INFORMATION_SYSTEM')"
        >
            <p-accordion
                [multiple]="true"
                class="inventory-list"
                [style]="{ 'max-height': '60vh', 'overflow-y': 'auto' }"
            >
                <div *ngFor="let inventory of inventories.get('INFORMATION_SYSTEM')">
                    <app-inventory-item
                        [inventory]="inventory"
                        (reloadInventoriesAndLoop)="reloadInventoriesAndLoop($event)"
                        (reloadInventoryAndLoop)="reloadInventoryAndLoop($event)"
                        (openSidebarForUploadInventory)="
                            openSidebarForUploadInventory($event)
                        "
                        (openSidebarForNote)="openSidebarForNote($event)"
                        (saveInventory)="
                            handleSaveInventory($event, 'INFORMATION_SYSTEM')
                        "
                        (openTab)="childOpenTab($event)"
                        (closeTab)="childCloseTab($event)"
                        [open]="inventoriesOpen.has(inventory.id)"
                    >
                    </app-inventory-item>
                </div>
            </p-accordion>
        </p-accordionTab>
    </p-accordion>
    <p-accordion
        class="transparentBackgound"
        [multiple]="true"
        (onOpen)="openTab($event, 'SIMULATION')"
        (onClose)="closeTab($event, 'SIMULATION')"
    >
        <p-accordionTab
            headerStyleClass="font-bold bg-transparent"
            tabStyleClass="shadow-none"
            [selected]="inventoryBlocksOpen.has('SIMULATION')"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-row justify-content-between w-full">
                    <div class="flex align-items-center">
                        {{ "inventories.headerForSimulation" | translate }}
                    </div>
                    <div class="flex align-items-center">
                        <span
                            class="p-input-icon-left pr-3"
                            *ngIf="
                                inventoryBlocksOpen.has('SIMULATION') &&
                                inventoriesForSimulationsAll.length > 0
                            "
                        >
                            <i class="pi pi-search"></i>
                            <input
                                type="text"
                                pInputText
                                class="p-inputtext-sm"
                                style="width: 18vw; min-width: 180px; font-size: medium"
                                (keyup)="searchList()"
                                (click)="onClick($event)"
                                name="filterMode"
                                placeholder="{{
                                    'inventories.searchSimulator' | translate
                                }}"
                                [(ngModel)]="filterMode"
                            />
                        </span>
                    </div>
                </div>
            </ng-template>
            <p-accordion
                [multiple]="true"
                class="inventory-list"
                [style]="{ 'max-height': '60vh', 'overflow-y': 'auto' }"
            >
                <div *ngFor="let inventory of inventories.get('SIMULATION')">
                    <app-inventory-item
                        [inventory]="inventory"
                        (reloadInventoriesAndLoop)="reloadInventoriesAndLoop($event)"
                        (reloadInventoryAndLoop)="reloadInventoryAndLoop($event)"
                        (openSidebarForUploadInventory)="
                            openSidebarForUploadInventory($event)
                        "
                        (openSidebarForNote)="openSidebarForNote($event)"
                        (saveInventory)="handleSaveInventory($event, 'SIMULATION')"
                        (openTab)="childOpenTab($event)"
                        (closeTab)="childCloseTab($event)"
                        [open]="inventoriesOpen.has(inventory.id)"
                    >
                    </app-inventory-item>
                </div>
            </p-accordion>
        </p-accordionTab>
    </p-accordion>
</p-scrollPanel>
