<div class="flex">
    <app-stats
        [stats]="datacenterStats()"
        icon="datacenter"
        [title]="'inventories-footprint.global.datacenter' | translate"
        class="mr-2 flex-1"
    ></app-stats>
    <app-stats
        [stats]="cloudStats()"
        icon="cloud"
        [title]="'inventories-footprint.global.cloud-services' | translate"
        class="flex-1"
    ></app-stats>
</div>
<app-stats
    [stats]="equipmentStats()"
    icon="computer-desktop"
    [title]="'inventories-footprint.global.equipment' | translate"
></app-stats>
