<p-accordion-panel [value]="inventory().id.toString()">
    <!-- HEADER -->
    <p-accordion-header>
        <div
            class="flex flex-row justify-content-between w-full"
            [attr.aria-label]="inventory().name"
        >
            <h3 class="flex align-items-center text-lg m-0 font-semibold">
                {{ inventory().name | monthYear }}
            </h3>

            @if (equipmentLimitExceed() || applicationLimitExceed()) {
                <div
                    class="expiry-card info-card flex align-items-center px-3 py-2 border-round mx-3"
                >
                    <i class="pi pi-exclamation-triangle mr-3 expiry-icon text-xl"></i>

                    <div class="flex flex-column">
                        <span class="expiry-title text-sm font-semibold">
                            {{ "inventories.more-data-message" | translate }}
                        </span>
                        <button
                            class="expiry-link text-xs p-0 m-0 border-none text-left cursor-pointer underline"
                            (click)="$event.stopPropagation(); isInfoVisible = true"
                            (keydown.enter)="
                                $event.stopPropagation(); isInfoVisible = true
                            "
                        >
                            {{ "inventories.click-info" | translate }}
                        </button>
                    </div>
                </div>
            }

            <!-- Renew Service code -->
            @if (showExpiryMessage() && (userService.isAllowedInventoryWrite$ | async)) {
                <div
                    class="expiry-card flex align-items-center px-3 py-2 border-round mx-3"
                >
                    <i class="pi pi-exclamation-triangle mr-3 expiry-icon text-xl"></i>

                    <div class="flex flex-column">
                        <span class="expiry-title text-sm font-semibold">
                            {{
                                "digital-services.expiry-warning"
                                    | translate: { expiryDate: inventory().expiryDate }
                            }}
                        </span>

                        <button
                            class="expiry-link text-xs p-0 m-0 border-none text-left cursor-pointer underline"
                            (click)="$event.stopPropagation(); renewService(inventory())"
                        >
                            {{ "digital-services.click-extend" | translate }}
                        </button>
                    </div>
                </div>
            }

            <div class="flex align-items-center">
                @if (
                    !inventory().note && (userService.isAllowedInventoryWrite$ | async)
                ) {
                    <p-button
                        (onClick)="$event.stopPropagation(); openSidebarNote()"
                        (keydown.enter)="$event.stopPropagation(); openSidebarNote()"
                        styleClass="inventory-add-button-small mx-2"
                        [ariaLabel]="'common.accessibility.addNote' | translate"
                        icon="pi pi-plus-circle"
                        [label]="'common.note.add' | translate"
                        [id]="'note' + inventory().id"
                    />
                }

                @if (inventory().note) {
                    <p-button
                        (onClick)="$event.stopPropagation(); openSidebarNote()"
                        (keydown.enter)="$event.stopPropagation(); openSidebarNote()"
                        styleClass="inventory-attached-button-small mx-2"
                        [ariaLabel]="'common.accessibility.attachedNote' | translate"
                        icon="pi pi-clipboard"
                        [label]="'common.note.attached' | translate"
                        [id]="'note' + inventory().id"
                    />
                }

                @if (isTaskRunning()) {
                    <p-button
                        [disabled]="true"
                        styleClass="inventory-button-small ml-5 mr-6 disabled-text-black"
                        icon="pi pi-refresh"
                        [label]="'common.updateInProgress' | translate"
                    />
                }

                @if (!isTaskRunning()) {
                    <p-button
                        [disabled]="!showEquipment() || equipmentLimitExceed()"
                        styleClass="inventory-button-small mx-2"
                        (onClick)="
                            $event.stopPropagation(); redirectFootprint('equipment')
                        "
                        (keydown.enter)="
                            $event.stopPropagation(); redirectFootprint('equipment')
                        "
                        icon="pi pi-arrow-right"
                        [label]="'inventories.details.equipment' | translate"
                        id="inventory-equipment-button"
                    />
                }

                @if (!isTaskRunning()) {
                    <p-button
                        [disabled]="!showApplication() || applicationLimitExceed()"
                        styleClass="inventory-button-small ml-2 mr-3"
                        (onClick)="
                            $event.stopPropagation(); redirectFootprint('application')
                        "
                        (keydown.enter)="
                            $event.stopPropagation(); redirectFootprint('application')
                        "
                        icon="pi pi-arrow-right"
                        [label]="'inventories.details.application' | translate"
                        id="inventory-application-button"
                    />
                }
            </div>
        </div>
    </p-accordion-header>

    <!-- CONTENT -->
    <p-accordion-content>
        <div class="flex flex-column p-3 border-top-2 border-primary">
            <div class="flex flex-wrap justify-content-between">
                <!-- inventory count grid -->
                <div class="flex flex-column basis-1/3">
                    <div class="flex align-items-center">
                        <app-equipments-card
                            [count]="inventory().dataCenterCount"
                            [type]="'datacenter'"
                        ></app-equipments-card>
                        <app-equipments-card
                            [count]="inventory().physicalEquipmentCount"
                            [type]="'physical'"
                        ></app-equipments-card>
                    </div>
                    <div class="flex align-items-center">
                        <app-equipments-card
                            [count]="inventory().virtualEquipmentCount"
                            [type]="'virtual'"
                        ></app-equipments-card>
                        <app-equipments-card
                            [count]="inventory().applicationCount"
                            [type]="'app'"
                        ></app-equipments-card>
                    </div>
                </div>

                <!-- loading history column -->
                <div class="flex flex-column">
                    <div class="flex align-items-center">
                        <h4 id="loading-history" class="mr-3 my-0 text-base">
                            {{ "inventories.history.loadings" | translate }}
                        </h4>
                        @if (userService.isAllowedInventoryWrite$ | async) {
                            <p-button
                                [id]="'load' + inventory().id"
                                styleClass="black-button-small vertical-align-top uppercase"
                                (onClick)="openSidebarUploadFile()"
                                >{{
                                    "inventories.load-files-button" | translate
                                }}</p-button
                            >
                        }
                    </div>
                    <ul aria-labelledby="loading-history" style="padding: 0">
                        @for (
                            task of taskLoading();
                            track `${task.id}-${task.progressPercentage}-${task.creationDate}`
                        ) {
                            <li class="loading-data-container">
                                <app-batch-status
                                    [batchStatusCode]="task.status"
                                    [createTime]="task.creationDate"
                                    [batchLoading]="true"
                                    [type]="'loading'"
                                    [inventoryId]="inventory().id"
                                    [taskId]="task.id.toString()"
                                ></app-batch-status>
                            </li>
                        }
                    </ul>
                </div>

                <!-- estimate history column -->
                <div class="flex flex-column">
                    <div class="flex align-items-center">
                        <h4 id="estimate-history" class="mr-3 my-0 text-base">
                            {{ "inventories.history.estimations" | translate }}
                        </h4>
                        @if (userService.isAllowedInventoryWrite$ | async) {
                            <p-button
                                [disabled]="isEstimationDisabled()"
                                styleClass="black-button-small vertical-align-top uppercase"
                                class="disabled-text-black"
                                (onClick)="launchEstimate($event)"
                                id="launch-estimate"
                            >
                                @if (inventory().lastTaskEvaluating) {
                                    <span>
                                        {{ "inventories.update-estimate" | translate }}
                                    </span>
                                }
                                @if (!inventory().lastTaskEvaluating) {
                                    <span>
                                        {{ "inventories.launch-estimate" | translate }}
                                    </span>
                                }
                            </p-button>
                        }
                    </div>
                    @if (inventory().lastTaskEvaluating) {
                        <div>
                            @if (isTaskRunning()) {
                                <div
                                    [attr.aria-label]="
                                        'common.accessibility.updateInProgress'
                                            | translate
                                                : {
                                                      value: inventory()
                                                          .lastTaskEvaluating?.progress!,
                                                  }
                                    "
                                >
                                    <div class="font-bold mt-2">
                                        {{
                                            "inventories.evaluation_batch_status." +
                                                batchStatusMapping[
                                                    inventory().lastTaskEvaluating
                                                        ?.status!
                                                ] | translate
                                        }}
                                        {{ inventory().lastTaskEvaluating?.progress }}%
                                    </div>
                                    <p-progressBar
                                        [value]="inventory().lastTaskEvaluating?.progress"
                                        [showValue]="false"
                                        >{{ inventory().lastTaskEvaluating?.progress }}
                                    </p-progressBar>
                                </div>
                            }
                            <ul aria-labelledby="estimate-history" class="p-0">
                                @for (
                                    task of taskEvaluating();
                                    track `${task.id}-${task.progressPercentage}-${task.creationDate}`
                                ) {
                                    <li class="loading-data-container">
                                        <app-batch-status
                                            [batchStatusCode]="task.status"
                                            [createTime]="task.creationDate"
                                            [batchLoading]="true"
                                            [type]="'estimation'"
                                            [inventoryId]="inventory().id"
                                            [taskId]="task.id.toString()"
                                        ></app-batch-status>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>

            <div class="flex flex-wrap">
                @if (userService.isAllowedInventoryWrite$ | async) {
                    <p-button
                        styleClass="bg-transparent text-black-alpha-90 border-1 border-solid border-black-alpha-90 mt-2 pt-1 px-2 pb-1 hover:bg-green-50"
                        (onClick)="confirmDelete($event)"
                        (keypress)="confirmDelete($event)"
                        id="delete-inventory"
                    >
                        <img
                            class="mb-1"
                            src="assets/images/icons/icon-bin.svg"
                            alt="{{ 'common.accessibility.delete' | translate }} {{
                                inventory().name
                            }}"
                        />
                        {{ "common.delete" | translate | uppercase }}
                        <p-confirmpopup
                            [style]="{ width: '500px' }"
                            closeOnEscape="true"
                        ></p-confirmpopup>
                    </p-button>
                }
                @if (userService.isAllowedInventoryWrite$ | async) {
                    <!-- settings button -->
                    <div class="flex justify-content-end ml-auto">
                        <p-button
                            styleClass="white-button"
                            styleClass="ml-2"
                            [rounded]="true"
                            [text]="true"
                            [raised]="true"
                            [plain]="true"
                            (onClick)="displayPopupFct()"
                            icon="pi pi-cog"
                            [ariaLabel]="
                                'inventories.choose-criteria'
                                    | translate
                                        : {
                                              inventoryName:
                                                  (inventory().name | monthYear),
                                          }
                            "
                        >
                        </p-button>
                    </div>
                }
            </div>
        </div>
        @if (displayPopup) {
            <app-criteria-popup
                [displayPopup]="displayPopup"
                [type]="'inventory'"
                [organization]="organization"
                [workspace]="workspace"
                [inventory]="inventory()"
                [selectedCriteriaIS]="selectedCriteria"
                (outSaveInventory)="saveInventory.emit($event)"
                (outClose)="displayPopup = false"
            ></app-criteria-popup>
        }
    </p-accordion-content>
</p-accordion-panel>

@if (isInfoVisible) {
    <p-dialog
        [modal]="true"
        [(visible)]="isInfoVisible"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [style]="{ width: '30vw' }"
        [draggable]="false"
        [dismissableMask]="true"
        (onHide)="isInfoVisible = false"
        id="renew-service"
        [closeAriaLabel]="'common.accessibility.close-criteria-dialog' | translate"
    >
        <ng-template pTemplate="header">
            <h3 class="font-semibold ml-0 text-2xl" id="renew-service-popup-title">
                {{ "inventories.more-data-message" | translate }}
            </h3>
        </ng-template>

        <div class="copy-container grid mx-2">
            <div class="share-expiry-paragraph">
                <p
                    class="text-base mt-2"
                    [innerHTML]="'inventories.more-data-message-body' | translate"
                ></p>
                <p class="text-base">
                    {{ "inventories.more-data-message-email" | translate }}
                    <a
                        (click)="composeEmail()"
                        [ariaLabel]="'declarations.accessibility.email-link' | translate"
                        class="cursor-pointer color-tertiary font-semibold"
                        ><u>support.g4it&#64;soprasteria.com</u></a
                    >.
                </p>
            </div>
        </div>
    </p-dialog>
}
