@if (visible) {
    <p-drawer
        [(visible)]="visible"
        (visibleChange)="visibleChange.emit($event)"
        position="right"
        appendTo="body"
        styleClass="w-5"
        (onHide)="closeFilterSidebar()"
    >
        <ng-template #headless>
            <div pFocusTrap class="create-ds-sidebar">
                <div class="space-form">
                    <h2>
                        {{ "inventories-footprint.filter-view" | translate }}
                    </h2>
                    <p-button
                        appAutofocus
                        id="close-filter-sidebar-button"
                        (onClick)="closeFilterSidebar()"
                        [link]="true"
                        [rounded]="true"
                        ariaLabel="Outlined Close Button"
                        icon="pi pi-times"
                        class="space-sidebar-close"
                        styleClass="space-sidebar-close-button text-black-alpha-60"
                    ></p-button>

                    <p-scrollPanel
                        [style]="{ width: '100%', height: 'calc(100vh - 150px)' }"
                    >
                        <p class="text-base">
                            {{ "inventories-footprint.filter-description" | translate }}
                        </p>
                        <div class="flex align-items-center gap-2 mt-3">
                            <h3 class="filter-text font-semibold mx-0 my-1 line-height-1">
                                {{ "inventories-footprint.filter-text" | translate }}
                            </h3>
                            @if (localSelectedFilterNames().length) {
                                <p-badge
                                    styleClass="bg-blue"
                                    [value]="localSelectedFilterNames().length"
                                />
                            }
                        </div>
                        <!-- Allow custom content for complex filter structures -->
                        @if (useCustomContent) {
                            <!-- Default Application checkbox list -->
                            <ng-content></ng-content>
                        } @else {
                            <!-- Default Equipment checkbox list -->
                            <p-accordion [multiple]="true" [value]="[]" styleClass="pl-0">
                                @for (tab of tabs; track $index) {
                                    <p-accordion-panel
                                        headerStyleClass="h-3rem bg-transparent font-bold mb-0"
                                        contentStyleClass="bg-transparent p-2"
                                        [value]="$index"
                                        [id]="'inv-accordion-panel-' + $index"
                                    >
                                        <p-accordion-header>
                                            <div class="flex flex-column">
                                                <h4 class="mb-0 ml-0 mt-2">
                                                    {{
                                                        translationKeyPrefix +
                                                            "." +
                                                            getTabField(tab) | translate
                                                    }}
                                                    @if (
                                                        isFilterApplied()[
                                                            getTabField(tab)
                                                        ]
                                                    ) {
                                                        <i class="pi pi-filter-fill"></i>
                                                    }
                                                </h4>
                                            </div>
                                        </p-accordion-header>
                                        <p-accordion-content>
                                            <cdk-virtual-scroll-viewport
                                                itemSize="45"
                                                class="viewport-simple"
                                                [style.height]="
                                                    getSimpleViewportHeight(
                                                        getTabField(tab)
                                                    )
                                                "
                                            >
                                                <ul class="m-0">
                                                    <li
                                                        *cdkVirtualFor="
                                                            let item of allFilters[
                                                                getTabField(tab)
                                                            ];
                                                            let i = index
                                                        "
                                                        class="my-3"
                                                        [id]="'inv-filter-li-' + i"
                                                    >
                                                        <p-checkbox
                                                            class="mb-1 mr-2"
                                                            [ariaLabel]="item?.toString()"
                                                            name="groupname"
                                                            [value]="item"
                                                            [(ngModel)]="
                                                                localFilters()[
                                                                    getTabField(tab)
                                                                ]
                                                            "
                                                            (ngModelChange)="
                                                                onCheckboxChange(
                                                                    $event,
                                                                    getTabField(tab),
                                                                    item.toString()
                                                                )
                                                            "
                                                            [inputId]="
                                                                'filter-' +
                                                                getTabField(tab) +
                                                                '-' +
                                                                item
                                                            "
                                                        >
                                                        </p-checkbox>
                                                        <label
                                                            [attr.for]="
                                                                'filter-' +
                                                                getTabField(tab) +
                                                                '-' +
                                                                item
                                                            "
                                                            >{{
                                                                item?.toString() === all
                                                                    ? (`common.${tab}.all`
                                                                      | translate)
                                                                    : item?.toString() ===
                                                                        empty
                                                                      ? ("common.empty"
                                                                        | translate)
                                                                      : item
                                                            }}</label
                                                        >
                                                    </li>
                                                </ul>
                                            </cdk-virtual-scroll-viewport>
                                        </p-accordion-content>
                                    </p-accordion-panel>
                                }
                            </p-accordion>
                        }
                    </p-scrollPanel>

                    <!-- Footer Buttons -->
                    <div class="mt-3">
                        <div
                            class="space-form--button-group flex align-content-end justify-content-end flex-wrap"
                        >
                            <p-button
                                class="cancel-creation mr-auto"
                                styleClass="cancel-creation-button uppercase"
                                (onClick)="closeFilterSidebar()"
                                [label]="'common.cancel' | translate"
                                [ariaLabel]="'common.cancel' | translate"
                            ></p-button>

                            <p-button
                                (onClick)="applyFilters()"
                                styleClass="uppercase bg-light-green"
                                id="apply-selection-button"
                                [label]="'inventories.apply-selection' | translate"
                                [ariaLabel]="'inventories.apply-selection' | translate"
                            ></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-drawer>
}
