<div class="lg-file-panel-margin">
    <div class="side-panel-title">
        {{ "digital-services-servers.add.datacenter" | translate }}
    </div>
    <form [formGroup]="datacenterForm" (ngSubmit)="submitFormData()">
        <div class="label-input-div-full label-input-div-full-server">
            <label>{{ "digital-services-servers.name" | translate }}</label>
            <input pInputText type="text" formControlName="name" [required]="true" />
            <p
                class="error-text"
                *ngIf="datacenterForm.get('name')?.hasError('required')"
            >
                {{ "digital-services-servers.datacenter" | translate }}
                {{ "digital-services-servers.name" | translate }}
                {{ "common.mandatory" | translate }}
            </p>
        </div>
        <div class="form-flex-row">
            <div class="label-input-div-medium">
                <label>
                    {{ "digital-services-servers.pue" | translate }}
                </label>
                <p-inputNumber
                    formControlName="pue"
                    mode="decimal"
                    inputId="minmaxfraction"
                    [minFractionDigits]="1"
                    [required]="true"
                    [min]="1"
                    (onInput)="verifyPue()"
                    name="pue"
                    ngDefaultControl
                />
                <p
                    class="error-text"
                    *ngIf="datacenterForm.get('pue')?.hasError('required')"
                >
                    {{ "digital-services-servers.pue" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
                <p
                    class="error-text"
                    *ngIf="isToLow && !datacenterForm.get('pue')?.hasError('required')"
                >
                    {{ "digital-services-servers.pue" | translate }}
                    {{ "digital-services-servers.pue.rule" | translate }}
                </p>
            </div>
            <div class="label-input-div-medium">
                <label>
                    {{ "digital-services-servers.country" | translate }}
                </label>
                <p-dropdown
                    appendTo="body"
                    [options]="countries"
                    styleClass="dropdown-terminal"
                    formControlName="country"
                    [required]="true"
                    [filter]="true"
                    filterBy="label"
                    filterPlaceholder="Search"
                    name="country"
                    ngDefaultControl
                />
                <p
                    class="error-text"
                    *ngIf="datacenterForm.get('country')?.hasError('required')"
                >
                    {{ "digital-services-servers.country" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            </div>
        </div>
        <div class="button-bottom-right">
            <p-button styleClass="white-button" (click)="close()">{{
                "common.cancel" | translate
            }}</p-button>
            <p-button *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                styleClass="yellow-button"
                [disabled]="datacenterForm.invalid || isToLow"
                type="submit"
                >{{ "common.add" | translate }}
            </p-button>
        </div>
    </form>
</div>
