<div class="information-section my-3">
    <h3 class="m-0 text-lg mb-2 font-semibold">
        {{ "digital-services-servers.information-step" | translate }}
    </h3>
    <p [innerHTML]="'digital-services-servers.information-text' | translate"></p>
    <ul>
        <li>{{ "digital-services-servers.information-li1" | translate }}</li>
        <li>{{ "digital-services-servers.information-li2" | translate }}</li>
        <li>{{ "digital-services-servers.information-li3" | translate }}</li>
    </ul>
</div>
<div class="table-container mb-5">
    <app-digital-service-table
        titleText="servers"
        accessibilityText="server"
        translationPrefix="digital-services-servers"
        addButtonId="add-servers"
        [headerFields]="headerFields"
        [data]="serverData()"
        (sidebar)="changeSidebar($event)"
        (resetItem)="addNewServer()"
        (setItem)="setItem($event)"
        (deleteItem)="deleteItem($event)"
    ></app-digital-service-table>
</div>
@if (sidebarVisible) {
    <p-drawer
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="drawer-lg"
        appendTo="body"
        (onHide)="focusServerButton(); closeSidebar()"
        ariaCloseLabel="Close"
    >
        <router-outlet></router-outlet>
    </p-drawer>
}
