<div style="margin-bottom: 20px; margin-top: 20px">
    <div class="side-data-title">
        <img
            src="assets/images/icons/icon-lifecycle-env.svg"
            alt=""
            class="w-3rem mr-3"
        />
        <span role="heading" [ariaLevel]="3">{{
            "inventories-footprint.filter-tabs-application.lifeCycle" | translate
        }}</span>
    </div>
    <p-card>
        <div
            tabindex="0"
            echarts
            class="pie"
            [options]="lifecycleOptions()"
            style="height: 170px; margin: 0; width: 90%"
        ></div>
    </p-card>
    @if (footprintStore.appGraphType() === "application") {
        <div style="margin-bottom: 20px; margin-top: 20px">
            <div class="side-data-title">
                <img
                    src="assets/images/icons/icon-lifecycle-env.svg"
                    alt=""
                    class="w-3rem mr-3"
                />
                <span>{{
                    "inventories-footprint.filter-tabs-application.environment"
                        | translate
                }}</span>
            </div>
            <p-card>
                <div
                    tabindex="0"
                    echarts
                    class="pie"
                    [options]="envOptions()"
                    style="height: 170px; margin: 0; width: 90%"
                ></div>
            </p-card>
        </div>
    }
</div>
