name: Frontend Docker Image Scan and Publish

on:
  push:
    branches: ["main"]
    paths:
      - services/frontend/**
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      #      - name: Run Trivy vulnerability scanner in fs mode
      #        uses: aquasecurity/trivy-action@0.20.0
      #        with:
      #          scan-type: "fs"
      #          scan-ref: "services/frontend"
      #          exit-code: "0"
      #          ignore-unfixed: true
      #          severity: "CRITICAL,HIGH"
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: g4it/frontend
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          workdir: services/frontend
          tag_names: true
